<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Поиск']" data-icon="search" class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        </big-breadcrumbs>
    </div>
    <div class="well">
        <h1>Результаты поиска "{{$ctrl.data.searchText}}"</h1>
        <raw-lazy-loaded-list view="app/search/components/top-search/partials/list.html" role="$ctrl.visual.role"
                          fetch="$ctrl.getSearchProductHandler" items="$ctrl.data.searchResults" start-page="0"
                          nav-options="$ctrl.visual.navButtsOptions" search-query="$ctrl.data.searchText">
        </raw-lazy-loaded-list>
        <te-scroll-top></te-scroll-top>
    </div>
</div>