<div id="content">
    <div class="row">
        <big-breadcrumbs items="[visual.titles]" data-icon="edit" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>
    <div class="well well-white">
        <h2 class="txt-color-blueDark semi-bold prod-review-title no-padding">{{visual.titles + ': №' + data.supplierOrder.number}}</h2>
        <form-nav-buttons  subdata="data.supplierOrder" data-role="visual.roles" options="visual.navButtsOptions" class="btn-group margin-top-10"></form-nav-buttons>
        <hr>
        <section id="widget-grid" widget-grid>
            <div class="row">
                <article class="col-md-12">
                    <div id="edit_customer_order_1" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false">
                        <header>
                            <h2>Описание заказа</h2>
                        </header>
                        <div class="widget-body">
                            <div class="well well-clean well-white">
                                <div class="form-group">
                                    <label class="control-label input-group-addon">Название</label>
                                    <input class="form-control" ng-model="data.supplierOrder.title" type="text" placeholder="Название">
                                </div>
                                <div class="form-group">
                                    <label class="control-label input-group-addon">Описание</label>
                                    <input class="form-control" ng-model="data.supplierOrder.description" type="text" placeholder="Описание">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Партнер</label>
                                    <ui-select ui-select-infinity="partnerSelectConfig" ng-model="data.supplierOrder.partner" theme="select2" ng-disabled="disabled" style="width: 100%;">
                                        <ui-select-match placeholder="Партнер не выбран">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="partner in data.partnersList | filter:$select.search">
                                            <div ng-bind-html="partner.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label input-group-addon">Номер заказа</label>
                                    <input class="form-control" ng-model="data.supplierOrder.number" type="text">
                                </div>
                                <div class="form-group">
                                    <label class="control-label input-group-addon">Дата заказа</label>
                                    <input class="form-control" disabled="disabled" ng-model="data.supplierOrder.date">
                                </div>
                                <button class="btn btn-info" ng-click="saveOrderInfo()">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-12">
                    <div id="edit_supplier_order_2" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false">
                        <header>
                            <h2>Содержимое заказа</h2>
                        </header>
                        <div class="widget-body">
                            <ui-select ui-select-infinity="pSelectConfig" ng-model="data.selectedProduct" theme="select2" on-select="selectProductForAppend($item, $model)" style="width: 100%;">
                                <ui-select-match placeholder="Введите товар для добавления...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="product in data.productsList | filter:$select.search" class="search-item">
                                    <div class="search-tr">
                                        <div class="search-td col-md-1">
                                            <img ng-src="{{product.image_url}}">
                                        </div>
                                        <div class="search-td col-md-8" ng-bind-html="product.name | highlight: $select.search"></div>
                                        <div class="search-td col-md-3">{{product.price | currency}}</div>
                                    </div>
                                </ui-select-choices>
                            </ui-select>
                            <table class="table table-bordered margin-top-10">
                                <thead>
                                    <tr>
                                        <th class="hidden-xs"></th>
                                        <th>Продукт</th>
                                        <th>Цена</th>
                                        <th>Кол-во</th>
                                        <th>Сумма</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-if="productForAppend.id" class="append-product-row a-row-add" ng-keypress="appendProduct($event)">
                                        <td></td>
                                        <td>{{productForAppend.name}}</td>
                                        <td>{{productForAppend | price_net | currency}}</td>
                                        <td>
                                            <input id="append_product_quantity" class="form-control table-input" ng-model="productForAppend.quantity" model-filter="{min:0}" filter-name="te_number" ng-attr-placeholder="{{'доступно ' + productForAppend.stock +' шт.'}}" type="text" ng-init="focusOnProduct()">
                                            <div class="note">
                                                <i class="fa fa-exclamation-triangle"></i><span class="font-sm">{{' доступно ' + productForAppend.stock +' шт.'}}</span>
                                            </div>
                                        </td>
                                        <td>{{productForAppend | price_net: productForAppend.quantity | currency}}</td>
                                        <td class="center-item-text">
                                            <div ng-click="appendProduct()" class="btn btn-success">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="item in data.supplierOrder.supplier_order_contents" class="a-row-add" ng-keypress="updateProductOfOrder({data:item, index:$index}, null, $event)">
                                        <td class="hidden-xs">{{$index +1}}</td>
                                        <td>
                                            <a ng-href="/#/products/{{item.product.id}}">{{item.product.name}} </a>
                                             <i ng-if="item.query_original" class="fa fa-question-circle" ng-attr-title="{{item.query_original}}"></i>
                                        </td>
                                        <td>{{item.price | currency}}</td>
                                        <td>
                                            <input class="form-control table-input" ng-model="item.quantity" model-filter="{min:1}" filter-name="te_number" type="text">
                                        </td>
                                        <td>
                                            {{item | price_net: item.quantity | currency}}
                                        </td>
                                        <td class="center">
                                            <form-nav-buttons data-role="visual.roles" class="btn-group" subdata="{data:item, index:$index}" data-options="visual.navTableButts" data-template="table" content-class="btn btn-xs"></form-nav-buttons>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="hidden-xs"></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <span class="pull-right">Итого:</span>
                                        </td>
                                        <td>{{ data.total | currency }}</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
    <file-worker data-trigger="visual.showFileModal" data-config="fileModalOptions"></file-worker>
</div>