<div id="content">
    <div class="row">
        <big-breadcrumbs items="['История товара']" data-icon="edit" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>
    <div class="well product-info">
        <div class="col-xs-12 col-md-12 no-padding">
            <h2 class="txt-color-blueDark semi-bold prod-review-title">{{ logsProductCtrl.product.name }}</h2>
            <form-nav-buttons options="logsProductCtrl.visual.navButtsOptions" class="btn-group margin-top-10"></form-nav-buttons>
            <div class="col-xs-12 col-md-12">
                <hr>
            </div>
        </div>
        <div class="row" ng-show="logsProductCtrl.partner_logs.mfk_logs.length">
            <h4>История МФК</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Дата</th>
                        <th colspan='2'>Название</th>
                        <th colspan='2'>Артикул</th>
                        <th colspan='2'>Цена</th>
                        <th colspan='2'>Закупка</th>
                        <th colspan='2'>Остаток</th>
                        <th/>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in logsProductCtrl.partner_logs.mfk_logs">
                        <td>{{item.created_at | date:'dd/MM/yy HH:mm'}}</td>
                        <td>{{item.name_changes.from}}</td>
                        <td>{{item.name_changes.to}}</td>
                        <td>{{item.article_changes.from}}</td>
                        <td>{{item.article_changes.to}}</td>
                        <td>{{item.price_changes.from}}</td>
                        <td>{{item.price_changes.to}}</td>
                        <td>{{item.prime_cost_changes.from}}</td>
                        <td>{{item.prime_cost_changes.to}}</td>
                        <td>{{item.stock_changes.from}}</td>
                        <td>{{item.stock_changes.to}}</td>
                        <td class="center-item-text">
                            <button type="button" class="btn btn-danger btn-xs" ng-click="logsProductCtrl.removePartnerLog(item)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
         <div class="row" ng-show="logsProductCtrl.partner_logs.texenergo_logs.length">
            <h4>История Texenergo</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Дата</th>
                        <th colspan='2'>Название</th>
                        <th colspan='2'>Артикул</th>
                        <th colspan='2'>Описание</th>
                        <th/>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in logsProductCtrl.partner_logs.texenergo_logs">
                        <td>{{item.created_at | date:'dd/MM/yy HH:mm'}}</td>
                        <td>{{item.name_changes.from}}</td>
                        <td>{{item.name_changes.to}}</td>
                        <td>{{item.article_changes.from}}</td>
                        <td>{{item.article_changes.to}}</td>
                        <td>{{item.description_changes.from}}</td>
                        <td>{{item.description_changes.to}}</td>
                        <td class="center-item-text">
                           <button type="button" class="btn btn-danger btn-xs" ng-click="logsProductCtrl.removePartnerLog(item)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <h4>История партнёров</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Партнёр</th>
                        <th>Дата</th>
                        <th colspan='2'>Название</th>
                        <th colspan='2'>Артикул</th>
                        <th colspan='2'>Цена</th>
                        <th colspan='2'>Остаток</th>
                        <th/>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in logsProductCtrl.partner_logs.other_logs">
                        <td>{{item.human_name}}</td>
                        <td>{{item.created_at | date:'dd/MM/yy HH:mm'}}</td>
                        <td>{{item.name_changes.from}}</td>
                        <td>{{item.name_changes.to}}</td>
                        <td>{{item.article_changes.from}}</td>
                        <td>{{item.article_changes.to}}</td>
                        <td>{{item.price_changes.from}}</td>
                        <td>{{item.price_changes.to}}</td>
                        <td>{{item.stock_changes.from}}</td>
                        <td>{{item.stock_changes.to}}</td>
                        <td class="center-item-text">
                           <button type="button" class="btn btn-danger btn-xs" ng-click="logsProductCtrl.removePartnerLog(item)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>