<div id="content">
    <div class="row">
        <big-breadcrumbs [items]="['Категории']" icon="book" class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        </big-breadcrumbs>
    </div>
    <div class="well">
        <form-nav-buttons options="$ctrl.navButtsOptions" class="btn-group"></form-nav-buttons>
        <hr>
        <orders-filter data-search-query="$ctrl.searchQuery" data-to-state="app.catalogues"></orders-filter>
        <lazy-loaded-list view="app/catalogues/components/catalogues/partials/list.html"
                          items="$ctrl.cataloguesList" api-method="getCatalogues"
                          search-query="$ctrl.searchQuery" nav-options="$ctrl.navTableButts">
        </lazy-loaded-list>
        <te-scroll-top></te-scroll-top>
    </div>
</div>