<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Категории']" data-icon="book" class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        </big-breadcrumbs>
    </div>
    <div class="well">
        <form-nav-buttons options="$ctrl.navButtsOptions" class="btn-group"></form-nav-buttons>
        <hr>
        <orders-filter data-search-query="$ctrl.searchQuery" data-to-state="app.catalogues"></orders-filter>
        <table class="table table-bordered table-margined-top" infinite-scroll infinite-scroll-disabled="false"
               te-lazy-helper data-list="$ctrl.cataloguesList"
               data-search-query="$ctrl.searchQuery" data-server-api-method="getCatalogues">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Наименование</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in $ctrl.cataloguesList">
                    <td>{{ $index + 1 }}</td>
                    <td>{{row.name}}</td>
                    <td class="center-item-text">
                        <form-nav-buttons data-role="row" class="btn-group" data-options="$ctrl.navTableButts"
                                          subdata="row" data-template="table" content-class="btn btn-xs">
                        </form-nav-buttons>
                    </td>
                </tr>
            </tbody>
        </table>
        <te-scroll-top></te-scroll-top>
    </div>
</div>
