<div id="content">
    <div class="row">
        <big-breadcrumbs items="visual.titles" data-icon="book" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>
    <div class="well">
        <form-nav-buttons options="visual.navButtsOptions" class="btn-group"></form-nav-buttons>
        <hr>
        <orders-filter data-search-query="data.searchQuery" data-to-state="app.partners"></orders-filter>
        <table class="table table-bordered table-margined-top" infinite-scroll infinite-scroll-disabled="false" te-lazy-helper data-list="data.partnersList" data-search-query="data.searchQuery" data-server-api-method="getPartners">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Префикс</th>
                    <th>Официальное наименование</th>
                    <th>ИНН</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in data.partnersList">
                    <td>{{$index +1}}</td>
                    <td>{{ row.prefix }}</td>
                    <td>{{ row.legal_name }}</td>
                    <td>{{ row.inn }}</td>
                    <td class="center-item-text">
                        <form-nav-buttons data-role="row" class="btn-group" data-options="visual.navTableButts" subdata="row" data-template="table" content-class="btn btn-xs"></form-nav-buttons>
                    </td>
                </tr>
            </tbody>
        </table>
        <te-scroll-top></te-scroll-top>
    </div>
    <div class="modal fade" id="createPartnerModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">Создать нового партнёра</h4>
                </div>
                <div class="modal-body smart-form">
                    <section>
                        <label class="label">ИНН</label>
                        <label class="input">
                            <input type="text" class="input-sm" ng-model="newPartnerData.inn">
                        </label>
                    </section>
                    <section>
                        <label class="label">КПП</label>
                        <label class="input">
                            <input type="text" class="input-sm" ng-model="newPartnerData.kpp">
                        </label>
                    </section>
                    <section>
                        <label class="label">Оф. наименование</label>
                        <label class="input">
                            <input type="text" class="input-sm" ng-model="newPartnerData.legal_name">
                        </label>
                    </section>
                    <section>
                        <label class="label">Наименование</label>
                        <label class="input">
                            <input type="text" class="input-sm" ng-model="newPartnerData.name">
                        </label>
                    </section>
                    <section>
                        <label class="label">Оф. адрес</label>
                        <section class="p-l-15">
                            <label class="label">Индекс:</label>
                            <label class="input">
                                <input type="text" ng-model="newPartnerData.legal_address.postal_index"
                                       uib-typeahead="name.label for name in getDaDataSuggestions('address', $viewValue, 'data.postal_code')"
                                       typeahead-on-select="fillBySuggestion($item, 'legal_address')"
                                       typeahead-template-url="typeAhead.tmpl.html"
                                       name="data.postal_code"
                                       class="input-sm">
                            </label>
                        </section>
                        <section class="p-l-15">
                            <label class="label">Регион:</label>
                            <label class="input">
                                <input type="text" ng-model="newPartnerData.legal_address.region"
                                       uib-typeahead="name.label for name in getDaDataSuggestions('address', $viewValue, 'data.region_with_type')"
                                       typeahead-on-select="fillBySuggestion($item, 'legal_address')"
                                       typeahead-template-url="typeAhead.tmpl.html"
                                       name="data.region_with_type"
                                       class="input-sm">
                            </label>
                        </section>
                        <section class="p-l-15">
                            <label class="label">Город:</label>
                            <label class="input">
                                <input type="text" ng-model="newPartnerData.legal_address.city"
                                       uib-typeahead="name.label for name in getDaDataSuggestions('address', $viewValue, 'data.city')"
                                       typeahead-on-select="fillBySuggestion($item, 'legal_address')"
                                       typeahead-template-url="typeAhead.tmpl.html"
                                       name="data.city"
                                       class="input-sm">
                            </label>
                        </section>
                        <section class="p-l-15">
                            <label class="label">Улица:</label>
                            <label class="input">
                                <input type="text" ng-model="newPartnerData.legal_address.street"
                                       uib-typeahead="name.label for name in getDaDataSuggestions('address', $viewValue, 'data.street')"
                                       typeahead-on-select="fillBySuggestion($item, 'legal_address')"
                                       typeahead-template-url="typeAhead.tmpl.html"
                                       name="data.street"
                                       class="input-sm">
                            </label>
                        </section>
                        <section class="p-l-15">
                            <label class="label">Дом:</label>
                            <label class="input">
                                <input type="text" ng-model="newPartnerData.legal_address.house" name="data.house" class="input-sm">
                            </label>
                        </section>
                    </section>
                    <section>
                        <label class="label">Адрес доставки</label>
                        <section class="p-l-15">
                            <label class="label">Индекс:</label>
                            <label class="input">
                                <input type="text" ng-model="newPartnerData.delivery_address.postal_index"
                                       uib-typeahead="name.label for name in getDaDataSuggestions('address', $viewValue, 'data.postal_code')"
                                       typeahead-on-select="fillBySuggestion($item, 'delivery_address')"
                                       typeahead-template-url="typeAhead.tmpl.html"
                                       name="data.postal_code"
                                       class="input-sm">
                            </label>
                        </section>
                        <section class="p-l-15">
                            <label class="label">Регион:</label>
                            <label class="input">
                                <input type="text" ng-model="newPartnerData.delivery_address.region"
                                       uib-typeahead="name.label for name in getDaDataSuggestions('address', $viewValue, 'data.region_with_type')"
                                       typeahead-on-select="fillBySuggestion($item, 'delivery_address')"
                                       typeahead-template-url="typeAhead.tmpl.html"
                                       name="data.region_with_type"
                                       class="input-sm">
                            </label>
                        </section>
                        <section class="p-l-15">
                            <label class="label">Город:</label>
                            <label class="input">
                                <input type="text" ng-model="newPartnerData.delivery_address.city"
                                       uib-typeahead="name.label for name in getDaDataSuggestions('address', $viewValue, 'data.city')"
                                       typeahead-on-select="fillBySuggestion($item, 'delivery_address')"
                                       typeahead-template-url="typeAhead.tmpl.html"
                                       name="data.city"
                                       class="input-sm">
                            </label>
                        </section>
                        <section class="p-l-15">
                            <label class="label">Улица:</label>
                            <label class="input">
                                <input type="text" ng-model="newPartnerData.delivery_address.street"
                                       uib-typeahead="name.label for name in getDaDataSuggestions('address', $viewValue, 'data.street')"
                                       typeahead-on-select="fillBySuggestion($item, 'delivery_address')"
                                       typeahead-template-url="typeAhead.tmpl.html"
                                       name="data.street"
                                       class="input-sm">
                            </label>
                        </section>
                        <section class="p-l-15">
                            <label class="label">Дом:</label>
                            <label class="input">
                                <input type="text" ng-model="newPartnerData.delivery_address.house" name="data.house" class="input-sm">
                            </label>
                        </section>
                    </section>
                    <section>
                        <label class="label">Телефон</label>
                        <label class="input">
                            <input type="text" class="input-sm" ng-model="newPartnerData.phone">
                        </label>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearPartner()">
                        Отмена
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addNewPartner()">
                        Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>