<div id="content">
    <div class="well well-white" ng-switch="partner.can_edit">
        <h2 class="txt-color-blueDark semi-bold prod-review-title no-padding">{{visual.titles + partner.prefix}}</h2>
        <form-nav-buttons options="visual.navButtsOptions" class="btn-group margin-top-10"></form-nav-buttons>
        <hr>
        <div class="row margin-top-10">
            <p class="col-xs-12 col-md-3 font-bold">Наименование:</p>
            <p class="col-md-9" ng-switch-when="true">
                <span editable-text="partner.name" onaftersave="savePartner()" >{{ partner.name }}</span>
            </p>
            <p class="col-md-9" ng-switch-default>{{ partner.name }}</p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">Официальное наименование:</p>
            <p class="col-md-9">{{ partner.legal_name }}</p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">ИНН/КПП:</p>
            <p class="col-md-9">
                <span>{{ partner.inn | innKpp : partner.kpp }}</span>
            </p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">Адрес доставки:</p>
            <p class="col-md-9">
                {{ partner.delivery_address.postal_index + ' ' + partner.delivery_address.region + ' ' + partner.delivery_address.city + ' ' + partner.delivery_address.street + ' ' + partner.delivery_address.house; }}
            </p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">Адрес официальный:</p>
            <p class="col-md-9">
                {{ partner.legal_address.postal_index + ' ' + partner.legal_address.region + ' ' + partner.legal_address.city + ' ' + partner.legal_address.street + ' ' + partner.legal_address.house; }}
            </p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">Телефон:</p>
            <p class="col-md-9" ng-switch-when="true">
                <span editable-text="partner.phone" onaftersave="savePartner()" >{{ partner.phone || "Нет" }}</span>
            </p>
            <p class="col-md-9" ng-switch-default>{{ partner.phone }}</p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">Email:</p>
            <p class="col-md-9" ng-switch-when="true">
                <span editable-text="partner.email" onaftersave="savePartner()" >{{ partner.email || "Нет" }}</span>
            </p>
            <p class="col-md-9" ng-switch-default>{{ partner.email }}</p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">Руководитель:</p>
            <p class="col-md-9" ng-switch-when="true">
                <span editable-text="partner.ceo_name" onaftersave="savePartner()" >{{ partner.ceo_name || "Нет" }}</span>
            </p>
            <p class="col-md-9" ng-switch-default>{{ partner.ceo_name }}</p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">Должность:</p>
            <p class="col-md-9" ng-switch-when="true">
                <span editable-text="partner.ceo_title" onaftersave="savePartner()" >{{ partner.ceo_title || "Нет" }}</span>
            </p>
            <p class="col-md-9" ng-switch-default>{{ partner.ceo_title }}</p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">Менеджер:</p>
            <p class="col-md-9">{{ partner.manager_name }}</p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">Отгрузка:</p>
            <p class="col-md-9">{{ partner.transportation }}</p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">Владелец:</p>
            <p class="col-md-9">{{ partner.owner.name || "Нет"}}</p>
        </div>
        <ul id="myTab1" class="nav nav-tabs bordered margin-top-10">
            <li class="active">
                <a href="#s1" data-toggle="tab">Заказы</a>
            </li>
            <li>
                <a href="#s2" data-toggle="tab">Списания</a>
            </li>
            <li class="dropdown">
                <a href="#s3" data-toggle="tab">Платежи</a>
            </li>
            <li class="dropdown">
                <a href="#s4" data-toggle="tab">Пользователи</a>
            </li>
            <li class="dropdown">
                <a href="#s5" data-toggle="tab">Банковские счета</a>
            </li>
            <li class="dropdown">
                <a href="#s6" data-toggle="tab">Представители</a>
            </li>
        </ul>
        <div class="tab-content padding-10">
            <div class="tab-pane fade in active" id="s1">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Номер</th>
                            <th class="hidden-xs">Дата</th>
                            <th>Сумма</th>
                            <th>Статус</th>
                            <th/>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in partner.customerOrders">
                            <td>{{ item.number }}</td>
                            <td class="hidden-xs">{{ item.date | date:'dd MMMM yy'}}</td>
                            <td class="text-right">{{ item.total | currency }}</td>
                            <td>{{ item.status }}</td>
                            <td class="center-item-text" style="max-width: 40px;">
                                <div class="btn-group">
                                    <a class="btn btn-xs btn-info" href="#/customer_orders/{{item.id}}"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-xs btn-default" href="#/customer_orders/{{item.id}}/edit"><i class="fa fa-pencil"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="s2">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Номер</th>
                            <th class="hidden-xs">Дата</th>
                            <th>Сумма</th>
                            <th>Статус</th>
                            <th/>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in partner.dispatchOrders">
                            <td>{{ item.number }}</td>
                            <td class="hidden-xs">{{ item.date | date:'dd MMMM yy'}}</td>
                            <td class="text-right">{{ item.total | currency }}</td>
                            <td>{{ item.status }}</td>
                            <td class="center-item-text" style="max-width: 40px;">
                                <div class="btn-group">
                                    <a class="btn btn-xs btn-info" href="#/dispatch_orders/{{item.id}}"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-xs btn-default" href="#/dispatch_orders/{{item.id}}/edit"><i class="fa fa-pencil"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="s3">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Номер</th>
                            <th class="hidden-xs">Дата</th>
                            <th class="text-right">Сумма</th>
                            <th class="hidden-xs text-right">Свободно</th>
                            <th/>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in partner.incoming_transfers">
                            <td>{{ item.number }}</td>
                            <td class="hidden-xs">{{ item.date | date:'dd MMMM yy, HH:mm'}}</td>
                            <td class="text-right">{{ item.amount | currency }}</td>
                            <td class="hidden-xs text-right">{{ item.remaining_amount | currency}}</td>
                            <td class="center-item-text" style="max-width: 40px;">
                                <div class="btn-group">
                                    <a class="btn btn-xs btn-info" href="#/incoming_transfers/{{item.id}}"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-xs btn-default" href="#/incoming_transfers/{{item.id}}/edit"><i class="fa fa-pencil"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="s4">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Имя</th>
                            <th>Фамилия</th>
                            <th>Email</th>
                            <th/>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in partner.contacts">
                            <td>{{ item.first_name }}</td>
                            <td>{{ item.last_name }}</td>
                            <td>{{ item.email }}</td>
                            <td class="center-item-text">
                                <div class="btn-group">
                                    <a class="btn btn-xs btn-info" href="#/contacts/{{item.id}}"><i class="fa fa-eye"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="s5">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Р/С</th>
                            <th>БИК</th>
                            <th>Банк</th>
                            <th/>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in partner.bank_accounts">
                            <td>{{ item.rs }}</td>
                            <td>{{ item.bik }}</td>
                            <td>{{ item.bank_name }}</td>
                            <td class="center-item-text">
                                <div class="btn-group">
                                    <a class="btn btn-xs btn-info" href="#/partners/{{partner.id}}/bank_accounts/{{item.id}}"><i class="fa fa-eye"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="s6">
                <div class="ng-scope btn btn-success" ng-click="createPerson()" ng-if="canCreatePerson()">
                    <i class="fa fa-plus"></i>
                    <span class="hidden-xs ng-binding">Новый</span>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ФИО</th>
                            <th>Паспорт</th>
                            <th>Должность</th>
                            <th/>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in partner.people">
                            <td>{{ item.first_name + " " + item.middle_name + " " + item.last_name}}</td>
                            <td>{{ item.passport_number + " " + item.passport_issued_date + " " + item.passport_issued_by }}</td>
                            <td>{{ item.title }}</td>
                            <td class="center-item-text">
                                <div class="btn-group">
                                    <div class="btn btn-xs btn-success" href=""><i class="fa fa-eye"></i>Паспорт</div>
                                    <div class="btn btn-xs btn-success" href=""><i class="fa fa-eye"></i>Фото</div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal fade" id="createPersonModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title">Создать нового представителя</h4>
                        </div>
                        <div class="modal-body smart-form">
                            <section>
                                <label class="label">Имя</label>
                                <label class="input">
                                    <input type="text" class="input-sm" ng-model="newPerson.first_name">
                                </label>
                            </section>
                            <section>
                                <label class="label">Отчество</label>
                                <label class="input">
                                    <input type="text" class="input-sm" ng-model="newPerson.middle_name">
                                </label>
                            </section>
                            <section>
                                <label class="label">Фамилия</label>
                                <label class="input">
                                    <input type="text" class="input-sm" ng-model="newPerson.last_name">
                                </label>
                            </section>
                            <section>
                                <label class="label">Номер паспорта</label>
                                <label class="input">
                                    <input type="text" class="input-sm" ng-model="newPerson.passport_number">
                                </label>
                            </section>
                            <section>
                                <label class="label">Дата выдачи</label>
                                <label class="input">
                                    <input type="text" class="input-sm" ng-model="newPerson.passport_issued_date">
                                </label>
                            </section>
                            <section>
                                <label class="label">Кем выдан</label>
                                <label class="input">
                                    <input type="text" class="input-sm" ng-model="newPerson.passport_issued_by">
                                </label>
                            </section>
                            <section>
                                <label class="label">Должность</label>
                                <label class="input">
                                    <input type="text" class="input-sm" ng-model="newPerson.title">
                                </label>
                            </section>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearPerson()">
                                Отмена
                            </button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addNewPerson()">
                                Сохранить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>