<div id="content">
    <div class="row">
        <big-breadcrumbs items="dispatchOrdersCtrl.visual.titles" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"
                         data-icon="edit">
        </big-breadcrumbs>
    </div>
    <div class="well">
        <form-nav-buttons options="dispatchOrdersCtrl.visual.navButtsOptions" class="btn-group"></form-nav-buttons>
        <hr>
        <orders-filter data-search-query="dispatchOrdersCtrl.data.searchQuery" data-to-state="app.dispatch_orders">
        </orders-filter>
        <table data-search-query="dispatchOrdersCtrl.data.searchQuery" class="table table-bordered table-margined-top"
               data-list="dispatchOrdersCtrl.data.ordersList" infinite-scroll infinite-scroll-disabled="false"
               data-server-api-method="getDispatchOrders" te-lazy-helper>
            <thead>
                <tr>
                    <th class="hidden-xs">#</th>
                    <th class="hidden-xs"><i class="fa fa-truck"></i></th>
                    <th>Номер</th>
                    <th>Дата</th>
                    <th>Статус</th>
                    <th>Партнер</th>
                    <th>Итого</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in dispatchOrdersCtrl.data.ordersList">
                    <td class="hidden-xs">{{$index +1}}</td>
                    <td uib-tooltip="{{ row.transportation }}" tooltip-append-to-body="true" class="hidden-xs">
                        {{row.transportation[0]}}
                    </td>
                    <td te-copy-to-buffer><span te-buffer-value>{{row.number}}</span></td>
                    <td>{{row.date | date:'dd/MM/yy HH:mm'}}</td>
                    <td>{{row.status}}</td>
                    <td>{{row.partner.name}}</td>
                    <td>{{row.total | currency}}</td>
                    <td class="center-item-text">
                        <form-nav-buttons data-role="row" class="btn-group" content-class="btn btn-xs"
                                          data-options="dispatchOrdersCtrl.visual.navTableButts" data-template="table"
                                          subdata="row.id || row._id">
                        </form-nav-buttons>
                    </td>
                </tr>
            </tbody>
        </table>
        <te-scroll-top></te-scroll-top>
    </div>
</div>