.idea
ng2/**/*.js
ng2/**/*.js.map

node_modules

public/assets/javascripts/app-modules-min.js

public/assets/javascripts/app-modules.js

public/assets/javascripts/libs-min.js

public/assets/javascripts/libs.js

public/assets/stylesheets/app-styles.css

bower_components
