.idea

node_modules

public/assets/javascripts/app-modules-min.js

public/assets/javascripts/app-modules.js

public/assets/javascripts/libs-min.js

public/assets/javascripts/libs.js

public/assets/stylesheets/app-styles.css

public/assets/javascripts/skins/lightgray/*

bower_components

elm/elm-stuff
elm/build
public/elm.js
elm-stuff/
public/assets/javascripts/elm.js