<te-table-tools summ-by="amount" track-by="id">
    <table class="table table-bordered table-margined-top" infinite-scroll infinite-scroll-disabled="false"
       te-lazy-helper data-list="$ctrl.data.incomingTransfersList"
       data-search-query="$ctrl.data.searchQuery" data-server-api-method="getIncomingTransfers">
        <thead>
        <tr>
            <th>#</th>
            <th>Номер</th>
            <th>Дата</th>
            <th>Сумма</th>
            <th>Свободно</th>
            <th>Партнер</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in $ctrl.data.incomingTransfersList">
            <td>{{$index +1}}</td>
            <td>{{row.number}}</td>
            <td>{{row.date | date:'dd/MM/yy'}}</td>
            <td>
                {{row.amount | currency}}
                <te-summarize row="row"></te-summarize>
            </td>
            <td>{{row.remaining_amount | currency}}</td>
            <td>{{row.partner.name}}</td>
            <td class="center-item-text">
                <form-nav-buttons data-role="$ctrl.visual.role" data-template="table" subdata="{data:row, index:$index}"
                                  class="btn-group" content-class="btn btn-xs" data-options="$ctrl.visual.navTableButts">
                </form-nav-buttons>
            </td>
        </tr>
        </tbody>
    </table>
</te-table-tools>