<te-table-tools summ-by="amount" track-by="id">
    <table class="table table-bordered table-margined-top" infinite-scroll="$ctrl.loadItems()">
        <thead>
        <tr>
            <th>#</th>
            <th>Номер</th>
            <th>Дата</th>
            <th>Сумма</th>
            <th>Свободно</th>
            <th>Партнер</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in $ctrl.items">
            <td>{{$index +1}}</td>
            <td><a href="#/incoming_transfers/{{row.id}}">{{row.number}}</a></td>
            <td>{{row.date | date:'dd/MM/yy'}}</td>
            <td>
                {{row.amount | currency}}
                <te-summarize row="row"></te-summarize>
            </td>
            <td>{{row.remaining_amount | currency}}</td>
            <td>{{row.partner.name}}</td>
            <td class="center-item-text">
                <form-nav-buttons data-role="$ctrl.role" data-template="table" subdata="{data:row, index:$index}"
                                  class="btn-group" content-class="btn btn-xs" data-options="$ctrl.navOptions">
                </form-nav-buttons>
            </td>
        </tr>
        </tbody>
    </table>
</te-table-tools>