<div id="content">
    <div class="well well-white" ng-switch="viewPartnerCtrl.partner.can_edit">
        <h2 class="txt-color-blueDark semi-bold prod-review-title no-padding">
            {{viewPartnerCtrl.visual.titles + viewPartnerCtrl.partner.prefix}}
        </h2>
        <form-nav-buttons options="viewPartnerCtrl.visual.navButtsOptions" class="btn-group margin-top-10">
        </form-nav-buttons>
        <hr>

        <div class="row margin-top-10">
            <p class="col-xs-12 col-md-3 font-bold">Наименование:</p>
            <p class="col-md-9" ng-switch-when="true">
                <span editable-text="viewPartnerCtrl.partner.name" onaftersave="viewPartnerCtrl.savePartner()" >
                    {{ viewPartnerCtrl.partner.name }}
                </span>
            </p>
            <p class="col-md-9" ng-switch-default>{{ viewPartnerCtrl.partner.name }}</p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">Официальное наименование:</p>
            <p class="col-md-9" ng-switch-when="true">
                <span editable-text="viewPartnerCtrl.partner.legal_name" onaftersave="viewPartnerCtrl.savePartner()" >
                    {{ viewPartnerCtrl.partner.legal_name }}
                </span>
            </p>
            <p class="col-md-9" ng-switch-default>{{ viewPartnerCtrl.partner.legal_name }}</p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">ИНН/КПП:</p>
            <p class="col-md-9">
                <span>{{ viewPartnerCtrl.partner.inn }} /</span>
                <span editable-text="viewPartnerCtrl.partner.kpp" onaftersave="viewPartnerCtrl.savePartner()" >
                    {{ viewPartnerCtrl.partner.kpp || "Нет" }}
                </span>
            </p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">Телефон:</p>
            <p class="col-md-9" ng-switch-when="true">
                <span editable-text="viewPartnerCtrl.partner.phone" onaftersave="viewPartnerCtrl.savePartner()" >
                    {{ viewPartnerCtrl.partner.phone || "Нет" }}
                </span>
            </p>
            <p class="col-md-9" ng-switch-default>{{ viewPartnerCtrl.partner.phone }}</p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">Email:</p>
            <p class="col-md-9" ng-switch-when="true">
                <span editable-text="viewPartnerCtrl.partner.email" onaftersave="viewPartnerCtrl.savePartner()" >
                    {{ viewPartnerCtrl.partner.email || "Нет" }}
                </span>
            </p>
            <p class="col-md-9" ng-switch-default>{{ viewPartnerCtrl.partner.email }}</p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">Руководитель:</p>
            <p class="col-md-9" ng-switch-when="true">
                <span editable-text="viewPartnerCtrl.partner.ceo_name" onaftersave="viewPartnerCtrl.savePartner()" >
                    {{ viewPartnerCtrl.partner.ceo_name || "Нет" }}
                </span>
            </p>
            <p class="col-md-9" ng-switch-default>{{ viewPartnerCtrl.partner.ceo_name }}</p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">Должность:</p>
            <p class="col-md-9" ng-switch-when="true">
                <span editable-text="viewPartnerCtrl.partner.ceo_title" onaftersave="viewPartnerCtrl.savePartner()" >
                    {{ viewPartnerCtrl.partner.ceo_title || "Нет" }}
                </span>
            </p>
            <p class="col-md-9" ng-switch-default>{{ viewPartnerCtrl.partner.ceo_title }}</p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">Менеджер:</p>
            <p class="col-md-9">{{ viewPartnerCtrl.partner.manager_name }}</p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">Отгрузка:</p>
            <p class="col-md-9">{{ viewPartnerCtrl.partner.transportation }}</p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">Владелец:</p>
            <p class="col-md-9">{{ viewPartnerCtrl.partner.owner.name || "Нет"}}</p>
        </div>
        <nav-tabs>
            <ul id="myTab1" class="nav nav-tabs bordered margin-top-10">
                <li class="active">
                    <a href="#s1" data-toggle="tab">Заказы</a>
                </li>
                <li>
                    <a href="#s2" data-toggle="tab">Списания</a>
                </li>
                <li>
                    <a href="#s3" data-toggle="tab">Поступления</a>
                </li>
                <li class="dropdown">
                    <a href="#s4" data-toggle="tab">Платежи</a>
                </li>
                <li class="dropdown">
                    <a href="#s5" data-toggle="tab">Пользователи</a>
                </li>
                <li class="dropdown">
                    <a href="#s6" data-toggle="tab">Банковские счета</a>
                </li>
                <li class="dropdown">
                    <a href="#s7" data-toggle="tab">Адреса</a>
                </li>
                <li class="dropdown">
                    <a href="#s8" data-toggle="tab">Представители</a>
                </li>
                <li class="dropdown">
                    <a href="#s9" data-toggle="tab">Условия в счетах</a>
                </li>
            </ul>
        </nav-tabs>
        <div class="tab-content padding-10">
            <div class="tab-pane fade in active" id="s1">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Номер</th>
                            <th class="hidden-xs">Дата</th>
                            <th>Сумма</th>
                            <th>Статус</th>
                            <th/>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in viewPartnerCtrl.partner.customerOrders">
                            <td>{{ item.number }}</td>
                            <td class="hidden-xs">{{ item.date | date:'dd MMMM yy'}}</td>
                            <td class="text-right" ng-class="item.amount_paid > item.total ? 'warning' : (item.amount_paid === item.total ? 'success' : '') ">
                                {{ item.total | currency }}
                            </td>
                            <td>{{ item.status }}</td>
                            <td class="center-item-text" style="max-width: 40px;">
                                <div class="btn-group">
                                    <a class="btn btn-xs btn-info" href="#/customer_orders/{{item.id}}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="s2">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Номер</th>
                            <th class="hidden-xs">Дата</th>
                            <th>Сумма</th>
                            <th>Статус</th>
                            <th/>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in viewPartnerCtrl.partner.dispatchOrders">
                            <td>{{ item.number }}</td>
                            <td class="hidden-xs">{{ item.date | date:'dd MMMM yy'}}</td>
                            <td class="text-right">{{ item.total | currency }}</td>
                            <td>{{ item.status }}</td>
                            <td class="center-item-text" style="max-width: 40px;">
                                <div class="btn-group">
                                    <a class="btn btn-xs btn-info" href="#/dispatch_orders/{{item.id}}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="s3">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Номер</th>
                            <th class="hidden-xs">Дата</th>
                            <th>Сумма</th>
                            <th>Статус</th>
                            <th/>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in viewPartnerCtrl.partner.receiveOrders">
                            <td>{{ item.number }}</td>
                            <td class="hidden-xs">{{ item.date | date:'dd MMMM yy'}}</td>
                            <td class="text-right">{{ item.total | currency }}</td>
                            <td>{{ item.status }}</td>
                            <td class="center-item-text" style="max-width: 40px;">
                                <div class="btn-group">
                                    <a class="btn btn-xs btn-info" href="#/receive_orders/{{item.id}}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="s4">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Номер</th>
                            <th class="hidden-xs">Дата</th>
                            <th class="text-right">Сумма</th>
                            <th class="hidden-xs text-right">Свободно</th>
                            <th/>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in viewPartnerCtrl.partner.incoming_transfers">
                            <td>{{ item.number }}</td>
                            <td class="hidden-xs">{{ item.date | date:'dd MMMM yy, HH:mm'}}</td>
                            <td class="text-right">{{ item.amount | currency }}</td>
                            <td class="hidden-xs text-right" ng-class="item.remaining_amount > 0 ? 'success' : ''">{{ item.remaining_amount | currency}}</td>
                            <td class="center-item-text" style="max-width: 40px;">
                                <div class="btn-group">
                                    <a class="btn btn-xs btn-info" href="#/incoming_transfers/{{item.id}}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <a class="btn btn-xs btn-default" href="#/incoming_transfers/{{item.id}}/edit">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="s5">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Имя</th>
                            <th>Фамилия</th>
                            <th>Email</th>
                            <th/>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in viewPartnerCtrl.partner.contacts">
                            <td>{{ item.first_name }}</td>
                            <td>{{ item.last_name }}</td>
                            <td>{{ item.email }}</td>
                            <td class="center-item-text">
                                <div class="btn-group">
                                    <a class="btn btn-xs btn-info" href="#/contacts/{{item.id}}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="s6">
                <div ng-click="viewPartnerCtrl.showBankAccountForm()" ng-if="viewPartnerCtrl.partner.can_edit"
                     class="ng-scope btn btn-success">
                    <i class="fa fa-plus"></i>
                    <span class="hidden-xs ng-binding">Новый</span>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Р/С</th>
                            <th>К/С</th>
                            <th>БИК</th>
                            <th>Банк</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in viewPartnerCtrl.partner.bank_accounts"
                            ng-switch="viewPartnerCtrl.partner.can_edit">
                            <td>
                                <a ng-switch-when="true" editable-text="item.rs" buttons="no"
                                   onaftersave="viewPartnerCtrl.saveBankAccount({item: item, index: $index})">
                                    {{ item.rs || "Нет" }}
                                </a>
                                <span ng-switch-default>{{ item.rs }}</span>
                            </td>
                            <td>
                                <a ng-switch-when="true" editable-text="item.ks" buttons="no"
                                   onaftersave="viewPartnerCtrl.saveBankAccount({item: item, index: $index})">
                                    {{ item.ks || "Нет" }}</a>
                                <span ng-switch-default>{{ item.ks }}</span>
                            </td>
                            <td>
                                <a ng-switch-when="true" editable-text="item.bik" buttons="no"
                                   onaftersave="viewPartnerCtrl.saveBankAccount({item: item, index: $index})">
                                    {{ item.bik || "Нет" }}
                                </a>
                                <span ng-switch-default>{{ item.bik }}</span>
                            </td>
                            <td>
                                <a ng-switch-when="true" editable-text="item.bank_name" buttons="no"
                                   onaftersave="viewPartnerCtrl.saveBankAccount({item: item, index: $index})">
                                    {{ item.bank_name || "Нет" }}
                                </a>
                                <span ng-switch-default>{{ item.bank_name }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="s7">
              <div layout="row">
                <div ng-click="viewPartnerCtrl.showAddressForm()" ng-if="viewPartnerCtrl.partner.can_edit"
                    class="ng-scope btn btn-success btn-margin">
                    <i class="fa fa-plus"></i>
                    <span class="hidden-xs ng-binding">Новый</span>
                </div>
              </div>
              <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Индекс</th>
                            <th>Регион</th>
                            <th>Город</th>
                            <th>Улица</th>
                            <th>Дом</th>
                            <th>Юридический</th>
                            <th>Доставки</th>
                            <th>Терминал ТК Деловые Линии</th>
                            <th/>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="addr in viewPartnerCtrl.partner.addresses"
                            ng-switch="viewPartnerCtrl.partner.can_edit">
                            <td>
                                <span>{{ addr.postal_index }}</span>
                            </td>
                            <td>
                                <span>{{ addr.region }}</span>
                            </td>
                            <td>
                                <span>{{ addr.city }}</span>
                            </td>
                            <td>
                                <span>{{ addr.street }}</span>
                            </td>
                            <td>
                                <span>{{ addr.house }}</span>
                            </td>
                            <td>
                                <span>{{ addr.legal }}</span>
                            </td>
                            <td>
                                <span>{{ addr.delivery }}</span>
                            </td>
                            <td>
                                <span>{{ addr.dellin_terminal }}</span>
                            </td>
                            <td>
                                <button type="button" class="btn btn-xs" ng-click="viewPartnerCtrl.showAddressForm(addr)">
                                    <span class="glyphicon glyphicon-pencil"/>
                                </button>
                                <button type="button" class="btn btn-danger btn-xs" ng-click="viewPartnerCtrl.showAddressForm(addr)">
                                    <span class="glyphicon glyphicon-trash"/>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="s8">
                <div class="ng-scope btn btn-success" ng-click="viewPartnerCtrl.showNewPersonForm()">
                    <i class="fa fa-plus"></i>
                    <span class="hidden-xs ng-binding">Новый</span>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ФИО</th>
                            <th>Паспорт</th>
                            <th>Должность</th>
                            <th/>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in viewPartnerCtrl.partner.people">
                            <td>{{ item.first_name + " " + item.middle_name + " " + item.last_name}}</td>
                            <td>{{ item.passport_number + " " + item.passport_issued_date + " " + item.passport_issued_by }}</td>
                            <td>{{ item.title }}</td>
                            <td class="center-item-text">
                                <div class="btn-group">
                                    <div class="btn btn-xs btn-success" href=""><i class="fa fa-eye"></i>Паспорт</div>
                                    <div class="btn btn-xs btn-success" href=""><i class="fa fa-eye"></i>Фото</div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="s9">
                <span class="editable-textarea-fw" editable-textarea="viewPartnerCtrl.partner.invoice_conditions"
                      onaftersave="viewPartnerCtrl.savePartner()">
                    {{ viewPartnerCtrl.partner.invoice_conditions || "Нет" }}
                </span>
            </div>
            <div class="modal fade" id="createPersonModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title">Создать нового представителя</h4>
                        </div>
                        <div class="modal-body smart-form">
                            <section>
                                <label class="label">Имя</label>
                                <label class="input">
                                    <input type="text" class="input-sm" ng-model="viewPartnerCtrl.newPerson.first_name">
                                </label>
                            </section>
                            <section>
                                <label class="label">Отчество</label>
                                <label class="input">
                                    <input type="text" class="input-sm" ng-model="viewPartnerCtrl.newPerson.middle_name">
                                </label>
                            </section>
                            <section>
                                <label class="label">Фамилия</label>
                                <label class="input">
                                    <input type="text" class="input-sm" ng-model="viewPartnerCtrl.newPerson.last_name">
                                </label>
                            </section>
                            <section>
                                <label class="label">Номер паспорта</label>
                                <label class="input">
                                    <input type="text" class="input-sm" ng-model="viewPartnerCtrl.newPerson.passport_number">
                                </label>
                            </section>
                            <section>
                                <label class="label">Дата выдачи</label>
                                <label class="input">
                                    <input type="text" class="input-sm" ng-model="viewPartnerCtrl.newPerson.passport_issued_date">
                                </label>
                            </section>
                            <section>
                                <label class="label">Кем выдан</label>
                                <label class="input">
                                    <input type="text" class="input-sm" ng-model="viewPartnerCtrl.newPerson.passport_issued_by">
                                </label>
                            </section>
                            <section>
                                <label class="label">Должность</label>
                                <label class="input">
                                    <input type="text" class="input-sm" ng-model="viewPartnerCtrl.newPerson.title">
                                </label>
                            </section>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"
                                    ng-click="viewPartnerCtrl.clearPerson()">
                                Отмена
                            </button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"
                                    ng-click="viewPartnerCtrl.addNewPerson()">
                                Сохранить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="createBankAccountModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title">Создать банковский счёт</h4>
                        </div>
                        <div class="modal-body smart-form">
                            <section>
                                <label class="label">БИК</label>
                                <label class="input">
                                    <input type="text" ng-model="viewPartnerCtrl.newBankAccount.bik"
                                        uib-typeahead="name.label for name in viewPartnerCtrl.getDaDataSuggestions('bank', $viewValue, 'data.bik')"
                                        typeahead-on-select="viewPartnerCtrl.fillBankBySuggestion($item, 'bik')"
                                        typeahead-template-url="typeAhead.tmpl.html"
                                        name="data.bik"
                                        class="input-sm">
                                </label>
                            </section>
                            <section>
                                <label class="label">Название банка</label>
                                <label class="input">
                                    <input type="text" class="input-sm" ng-model="viewPartnerCtrl.newBankAccount.bank_name">
                                </label>
                            </section>
                            <section>
                                <label class="label">К/С</label>
                                <label class="input">
                                    <input type="text" class="input-sm" ng-model="viewPartnerCtrl.newBankAccount.ks">
                                </label>
                            </section>
                            <section>
                                <label class="label">Р/С</label>
                                <label class="input">
                                    <input type="text" class="input-sm" ng-model="viewPartnerCtrl.newBankAccount.rs">
                                </label>
                            </section>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"
                                    ng-click="viewPartnerCtrl.clearBankAccount()">
                                Отмена
                            </button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"
                                    ng-click="viewPartnerCtrl.addBankAccount()">
                                Сохранить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
