<div id="content">
    <div class="row">
        <big-breadcrumbs items="visual.titles" data-icon="edit" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>
    <div class="well well-white">
        <form-nav-buttons options="visual.navButtsOptions" data-role="visual.roles" class="btn-group margin-top-10"></form-nav-buttons>
        <hr>
        <section id="widget-grid" widget-grid>
            <div class="row">
                <article class="col-md-12">
                    <div id="edit_contact_1" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false">
                        <header>
                            <h2>Описание контакта</h2>
                        </header>
                        <div class="widget-body">
                            <div class="well well-clean well-white">
                                <div class="form-group">
                                    <label class="control-label input-group-addon">Имя</label>
                                    <input class="form-control" ng-model="data.contact.first_name" type="text" placeholder="Имя">
                                </div>
                                <div class="form-group">
                                    <label class="control-label input-group-addon">Фамилия</label>
                                    <input class="form-control" ng-model="data.contact.last_name" type="text" placeholder="Фамилия">
                                </div>
                                <section class="form-group" ng-if="visual.canChangePartner">
                                    <div class="form-group">
                                        <label class="control-label">Партнер</label>
                                        <ui-select  ui-select-infinity="partnerSelectConfig" ng-model="data.contact.partner" theme="select2" ng-disabled="disabled" style="width: 100%;">
                                            <ui-select-match placeholder="Партнер не выбран">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="partner in data.partnersList | filter:$select.search">
                                                <div ng-bind-html="partner.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </section>
                                <div class="form-group">
                                    <label class="control-label input-group-addon">Email</label>
                                    <input class="form-control" ng-model="data.contact.email" ng-disabled="true" type="text" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label class="control-label input-group-addon">Не высылать email-ы</label>
                                    <input class="form-control" ng-model="data.contact.do_not_email" type="checkbox">
                                </div>
                                <button class="btn btn-info" ng-click="saveContact()">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
</div>