<!-- HEADER -->
<div data-smart-include="/app/layout/partials/header.tpl.html" class="placeholder-header"></div>
<!-- END HEADER -->


<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<div data-smart-include="/app/layout/partials/navigation.tpl.html" class="placeholder-left-panel"></div>

<!-- END NAVIGATION -->

<!-- MAIN PANEL -->
<div id="main" role="main">



    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <state-breadcrumbs></state-breadcrumbs>
        <!-- end breadcrumb -->

        <div class="font-lg ribbon-preloader" ng-show="showRibbonLoader"><i class="fa fa-gear fa-spin"></i> Загрузка...</div>

    </div>
    <!-- END RIBBON -->


    <div data-smart-router-animation-wrap="content content@app" data-wrap-for="#content">
        <div data-ui-view="content" data-autoscroll="false"></div>
    </div>

</div>
<!-- END MAIN PANEL -->

<!-- PAGE FOOTER -->
<div data-smart-include="/app/layout/partials/footer.tpl.html"></div>

<div data-smart-include="/app/components/shortcut/shortcut.tpl.html"></div>

<!-- END PAGE FOOTER -->


<script>
    var yaParams = { current_user: window.gon.user.email };
    if (window.location.hostname.match(/texenergo/) != undefined) {
        (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter7987369 = new Ya.Metrika({ id:7987369, webvisor:true, trackHash:true, params:window.yaParams||{ } }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
    }
</script>