<div id="content">
    <div class="row">
        <big-breadcrumbs items="$ctrl.visual.titles" data-icon="group" class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        </big-breadcrumbs>
    </div>
    <div class="well">
        <form-nav-buttons options="$ctrl.visual.navButtsOptions" class="btn-group"></form-nav-buttons>
        <hr>
        <orders-filter data-search-query="$ctrl.data.searchQuery" data-to-state="app.contacts"></orders-filter>
        <lazy-loaded-list view="app/contacts/components/contacts/partials/list.html"
                          api-method="getContacts" items="$ctrl.data.contactsList"
                          nav-options="$ctrl.visual.navTableButts" search-query="$ctrl.data.searchQuery">
        </lazy-loaded-list>
        <te-scroll-top></te-scroll-top>
    </div>
<!--    В зависимости от прав показывать форму создания нового-->
    <div class="modal fade" id="createNewContactModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">Создать нового пользователя</h4>
                </div>
                <div class="modal-body">
                    <section class="form-group">
                      <label class="control-label" for="newContact.first_name">Имя</label>
                      <div class="input-group">
                        <input uib-typeahead="name as name.value for name in $ctrl.getSuggestions('fio', $viewValue, 'name')"
                          typeahead-on-select="$ctrl.parseFioLine($item)"
                          type="text" ng-model="$ctrl.newContact.first_name" class="input-sm form-control"
                          id="newContact.first_name" />
                        <div class="input-group-btn">
                          <button type="button" class="btn btn-default"
                            tabindex="-1"
                            uib-tooltip="Поменять имя и фамилию"
                            ng-click="$ctrl.switchFioFields()">
                            <i class="fa fa-refresh"></i>
                          </button>
                        </div>
                      </div>
                    </section>
                    <section class="form-group">
                        <label class="control-label" for="newContact.last_name">Фамилия</label>
                        <input uib-typeahead="surname as surname.value for surname in $ctrl.getSuggestions('fio', $viewValue, 'surname')"
                          typeahead-on-select="$ctrl.parseFioLine($item)"
                          type="text" ng-model="$ctrl.newContact.last_name" class="input-sm form-control"
                          id="newContact.last_name" />
                    </section>
                    <section class="form-group">
                        <label class="control-label" for="newContact.email">Email</label>
                        <input uib-typeahead="email as email.value for email in $ctrl.getSuggestions('email', $viewValue)"
                               type="text" ng-model="$ctrl.newContact.email" class="input-sm form-control"
                               id="newContact.email" />
                    </section>
                    <section class="form-group">
                        <label class="control-label" for="newContact.mobile">Мобильный</label>
                        <input type="text" ng-model="$ctrl.newContact.mobile" class="input-sm form-control"
                               id="newContact.mobile" />
                    </section>
                    <section class="form-group">
                        <label class="control-label">Партнер</label>
                        <span>
                            <ui-select-infinity view="app/contacts/components/contacts/partials/ui-select-infinity.html"
                                                config="$ctrl.partnerSelectConfig" ng-model="$ctrl.newContact.partner">
                            </ui-select-infinity>
                        </span>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="$ctrl.createContact()">
                        Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
