<div id="content">
    <div class="row">
        <big-breadcrumbs items="visual.titles" data-icon="edit" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></big-breadcrumbs>
    </div>
    <div class="well well-white">
        <h2 class="txt-color-blueDark semi-bold prod-review-title no-padding">{{visual.titles + ': #' + transfer.number}}</h2>
        <form-nav-buttons options="visual.navButtsOptions" class="btn-group margin-top-10"></form-nav-buttons>
        <hr>
        <section id="widget-grid" widget-grid>
            <div class="row">
                <article class="col-md-12">
                    <div id="edit_incoming_transfer_1" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false">
                        <header>
                            <h2>Описание платежа</h2>
                        </header>
                        <div class="widget-body">
                            <div class="well well-clean well-white">
                                <div class="form-group">
                                    <label class="control-label input-group-addon">Партнер</label>
                                    <div class="form-control">{{transfer.partner.name}}</div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label input-group-addon">Дата</label>
                                    <div class="form-control">{{transfer.date | date:'dd.MM.yyyy'}}</div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label input-group-addon">Описание</label>
                                    <div class="form-control">{{transfer.description}}</div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label input-group-addon">Сумма</label>
                                    <div class="form-control">{{transfer.amount | currency}}</div>
                                </div>
                            </div>
                            <div class="well well-clean well-white">
                                <div class="well well-white">
                                    <h3 class="txt-color-blueDark semi-bold prod-review-title no-padding">Содержание поступления</h3>
                                    <div class="right">Осталось денег: {{transfer.remaining_amount | currency}}</div>
                                    <table class="table table-bordered margin-top-10">
                                        <thead>
                                        <tr>
                                            <th>Заказ клиента/Исходящий платеж</th>
                                            <th>Сумма</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <ui-select  ui-select-infinity="orderSelectConf" ng-model="data.orderForAppend" theme="select2" class="td-ui-select">
                                                    <ui-select-match placeholder="Выберите заказ">{{$select.selected.number || $select.selected.incoming_code}}</ui-select-match>
                                                    <ui-select-choices repeat="order in data.ordersList">
                                                        <div ng-bind-html="order | f_incomingT | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </td>
                                            <td ng-keypress="data.orderForAppend.id && appendOrder($event)">
                                                <input id="append_order_amount" class="form-control table-input" ng-model="data.orderForAppend.amount" model-filter="{min:0, number:true, max:transfer.remaining_amount}" filter-name="te_number" type="text">
                                            </td>
                                            <td class="center-item-text">
                                                <div ng-click="appendOrder()" class="btn btn-success" ng-disabled="!data.orderForAppend.id">
                                                    <i class="fa fa-plus"></i>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="item in transfer.money_to_orders" class="a-row-add">
                                            <td><i ng-attr-class="fa fa-{{item.customer_order.number ? 'book':'rub'}}"></i> {{item.customer_order.number || item.outgoing_transfer.number}}</td>
                                            <td>{{item.amount | currency}}</td>
                                            <td class="center-item-text">
                                                <form-nav-buttons data-role="visual.roles" class="btn-group" subdata="{data:item, index:$index}" data-options="visual.navTableButts" data-template="table" content-class="btn btn-xs"></form-nav-buttons>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
    <file-worker data-trigger="visual.showFileModal" data-config="fileModalOptions"></file-worker>
</div>