<ui-select ui-select-infinity="viewPdfCatalogueCtrl.manufacturerSelectConfig" theme="select2" ng-disabled="disabled"
           ng-model="viewPdfCatalogueCtrl.pdfCatalogue.manufacturer" style="width: 50%;"
           on-select="viewPdfCatalogueCtrl.savePdfCatalogue()">
    <ui-select-match placeholder="Партнер не выбран">{{ $select.selected.name }}</ui-select-match>
    <ui-select-choices repeat="manufacturer in viewPdfCatalogueCtrl.data.manufacturersList|filter:$select.search">
        <div ng-bind-html="manufacturer.name | highlight: $select.search"></div>
    </ui-select-choices>
</ui-select>