<div id="content">
    <div class="well well-white">
        <h2 class="txt-color-blueDark semi-bold prod-review-title no-padding">
            {{$ctrl.visual.titles + $ctrl.incomingEmail.number}}
        </h2>
        <form-nav-buttons options="$ctrl.visual.navButtsOptions" class="btn-group margin-top-10"></form-nav-buttons>
        <hr>
        <div class="row margin-top-10">
            <p class="col-xs-12 col-md-3 font-bold">
                Отправитель:
            </p>
            <p class="col-md-9">{{ $ctrl.incomingEmail.from }}</p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">
                Получатель:
            </p>
            <p class="col-md-9">{{ $ctrl.incomingEmail.to }}</p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">
                Тема:
            </p>
            <p class="col-md-9">{{ $ctrl.incomingEmail.subject }}</p>
        </div>
        <div class="row" ng-if="$ctrl.incomingEmail.attachments.length > 0">
            <p class="col-xs-12 col-md-3 font-bold">
                Приложения:
            </p>
            <p class="col-md-9">
                <span class="row" ng-repeat="attachment in $ctrl.incomingEmail.attachments">
                    <a href="{{attachment.url}}" target="_blank">{{ attachment.name }}</a>
                    <br>
                </span>
            </p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">
                Обработано:
            </p>
            <p class="col-md-9">
                <a editable-checkbox="$ctrl.incomingEmail.accomplished" onaftersave="$ctrl.saveIncomingEmail()">
                    {{ $ctrl.incomingEmail.accomplished }}
                </a>
                <!-- <te-switcher ng-model="$ctrl.incomingEmail.accomplished"></te-switcher> -->
            </p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">
                Комментарий:
            </p>
            <p class="col-md-9">
                <a editable-text="$ctrl.incomingEmail.comment" onaftersave="$ctrl.saveIncomingEmail()">
                    {{$ctrl.incomingEmail.comment || "Без комментария"}}
                </a>
            </p>
        </div>
    </div>

    <div class="well well-white">
        <pre>
            {{ $ctrl.incomingEmail.text || $ctrl.incomingEmail.html }}
        </pre>
    </div>

    <div class="well well-white">
        <div style="padding-bottom: 10px;">
            <div style="display: flex; flex-direction: row; justify-content: flex-end;">
                <button class="btn btn-success" ng-click="$ctrl.sendResponse()">Ответить</button>
            </div>
            <div class="row">
                <a href="#"
                    editable-select="$ctrl.responseSender"
                    e-ng-options="option as option.name for option in $ctrl.incomingEmail.senders">
                    {{ $ctrl.responseSender.name || 'Нет'}}
                </a>
            </div>
            <textarea ui-tinymce="tinymceOptions" ng-model="$ctrl.response"></textarea>
        </div>
    </div>
</div>