<div class="modal fade" id="createNewIncomingTransferModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Создать новый платёж</h4>
            </div>
            <div class="modal-body">
                <section class="form-group">
                    <label class="control-label">Код поступления</label>
                    <input type="text" class="input-sm form-control" ng-model="$ctrl.newTransfer.number"
                           placeholder="Код поступления">
                </section>
                <section class="form-group">
                    <label class="control-label">Партнер</label>
                    <span>
                        <ui-select-infinity config="$ctrl.partnerSelectConfig" ng-model="$ctrl.newTransfer.partner"
                                            view="app/layout/components/transfer-builder/partials/ui-select-infinity.html">
                        </ui-select-infinity>
                    </span>
                </section>
                <section class="form-group">
                    <te-jq-datepicker ng-model="$ctrl.newTransfer.date" label="Дата поступления"></te-jq-datepicker>
                </section>
                <section class="form-group">
                    <label class="control-label">Описание</label>
                    <textarea ng-model="$ctrl.newTransfer.description" class="custom-scroll form-control"
                              style="height: 300px;" placeholder="Для разбора выписки из банка, вставьте её в это поле">
                    </textarea>
                </section>
                <section class="form-group">
                    <i class="fa-fw fa fa-warning"></i> Поле описание может использоваться для разбора выписки из банка
                </section>
                <section class="form-group">
                    <label class="control-label">Сумма</label>
                    <input type="text" class="input-sm form-control" ng-model="$ctrl.newTransfer.amount"
                           model-filter="{min:0, number:true}" filter-name="te_number" placeholder="Сумма">
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Отмена
                </button>
                <button type="button" class="btn btn-primary" ng-click="$ctrl.createTransfer()">
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</div>