<table class="table table-bordered table-margined-top" infinite-scroll="$ctrl.loadItems()">
    <thead>
    <tr>
        <th class="hidden-xs">№</th>
        <th>Префикс</th>
        <th>Официальное наименование</th>
        <th>ИНН</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in $ctrl.items">
        <td class="hidden-xs">{{$index +1}}</td>
        <td>
            <a href="/#/partners/{{row.id}}">
                {{ row.prefix }}
            </a>
        </td>
        <td>{{ row.legal_name }}</td>
        <td>{{ row.inn }}</td>
        <td class="center-item-text">
            <form-nav-buttons data-role="row" class="btn-group" subdata="row" data-template="table"
                              content-class="btn btn-xs" data-options="$ctrl.navOptions">
            </form-nav-buttons>
        </td>
    </tr>
    </tbody>
</table>