<div id="content">
    <div class="row">
        <big-breadcrumbs items="$ctrl.visual.titles" class="col-xs-12 col-sm-7 col-md-7 col-lg-4" data-icon="book">
        </big-breadcrumbs>
    </div>
    <div class="well">
        <form-nav-buttons options="$ctrl.visual.navButtsOptions" class="btn-group"></form-nav-buttons>
        <hr>
        <orders-filter data-search-query="$ctrl.data.searchQuery" data-to-state="app.outgoing_transfers">
        </orders-filter>
        <lazy-loaded-list view="app/outgoing_transfers/components/outgoing-transfers/partials/list.html"
                          api-method="getOutgoingTransfers" items="$ctrl.data.outgoingTransfersList"
                          role="$ctrl.visual.role"
                          nav-options="$ctrl.visual.navTableButts" search-query="$ctrl.data.searchQuery">
        </lazy-loaded-list>
        <te-scroll-top></te-scroll-top>
    </div>
<!--    В зависимости от прав показывать форму создания нового-->
    <transfer-builder config="$ctrl.newTransferConfig" transfers-list="$ctrl.data.outgoingTransfersList">
    </transfer-builder>
</div>