<table class="table table-bordered table-margined-top" infinite-scroll="$ctrl.loadItems()">
    <thead>
    <tr>
        <th>#</th>
        <th>Номер</th>
        <th>Статус</th>
        <th>Дата</th>
        <th>Партнер</th>
        <th>Итого</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in $ctrl.items">
        <td>{{$index +1}}</td>
        <td>{{row.number}}</td>
        <td>{{row.status}}</td>
        <td>{{row.date | date:'dd/MM/yy HH:mm'}}</td>
        <td>{{row.partner.name}}</td>
        <td>{{row.total | currency}}</td>
        <td class="center-item-text">
            <form-nav-buttons data-options="$ctrl.navOptions" content-class="btn btn-xs" data-role="row"
                              subdata="{data:row, index:$index}" data-template="table" class="btn-group">
            </form-nav-buttons>
        </td>
    </tr>
    </tbody>
</table>