<table class="table table-bordered table-margined-top" infinite-scroll="$ctrl.loadItems()">
    <thead>
        <tr>
            <th>#</th>
            <th>От</th>
            <th>Кому</th>
            <th>Тема</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in $ctrl.items">
        <td>{{$index +1}}</td>
        <td>{{row.from}}</td>
        <td>{{row.to}}</td>
        <td>{{row.subject}}</td>
        <!-- <td><pre>{{row.text}}</pre></td>
        <td><pre>{{row.html}}</pre></td> -->
        <td class="center-item-text">
            <form-nav-buttons data-role="$ctrl.role" data-template="table" subdata="{data:row, index:$index}"
                              class="btn-group" content-class="btn btn-xs" data-options="$ctrl.navOptions">
            </form-nav-buttons>
        </td>
    </tr>
    </tbody>
</table>