<table class="table table-bordered table-margined-top" infinite-scroll="$ctrl.loadItems()">
    <thead>
        <tr>
            <th class="hidden-xs">#</th>
            <th>Время</th>
            <th>От</th>
            <th>Кому</th>
            <th>Тема</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in $ctrl.items" class="{{row.accomplished ? 'success' : ''}}">
        <td class="hidden-xs">
            <a href="#/incoming_emails/{{row.id}}">{{$index + 1}}</a>
        </td>
        <td>
            <a href="#/incoming_emails/{{row.id}}">{{ row.created_at | date:'dd/MM/yy HH:mm' }}</a>
        </td>
        <td>
          <div ng-if="!row.internalEmail">{{::row.from}}</div>
          <a ng-href="#/contacts/{{row.from.id}}" class="editable-click"
          ng-if="row.internalEmail">
            {{row.from.full_name || row.from.email}}
          </a>
        </td>
        <td>{{row.to}}</td>
        <td>{{row.subject}}</td>
        <td class="center-item-text">
            <form-nav-buttons data-role="$ctrl.role" data-template="table" subdata="{data:row, index:$index}"
                              class="btn-group" content-class="btn btn-xs" data-options="$ctrl.navOptions">
            </form-nav-buttons>
        </td>
    </tr>
    </tbody>
</table>
