<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Редактирование производителя']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"
                         data-icon="edit">
        </big-breadcrumbs>
    </div>
    <div class="well well-white">
        <h2 class="txt-color-blueDark semi-bold prod-review-title no-padding">
            Редактировать производителя {{editManufacturerCtrl.data.manufacturer.name}}
        </h2>
        <form-nav-buttons options="editManufacturerCtrl.visual.navButtsOptions" class="btn-group margin-top-10"
                          data-role="editManufacturerCtrl.visual.roles">
        </form-nav-buttons>
        <hr>
        <section id="widget-grid-edit-manufacturer">
            <jarvis-widget-grid for="widget-grid-edit-manufacturer"></jarvis-widget-grid>
            <div class="row">
                <article class="col-md-12">
                    <div id="edit_category_1" data-widget-color="blueDark" data-widget-deletebutton="false">
                        <header>
                            <h2>Описание производителя</h2>
                        </header>
                        <div class="widget-body">
                            <div class="well well-clean well-white">
                                <div class="form-group">
                                    <label class="control-label input-group-addon">Название</label>
                                    <input class="form-control" ng-model="editManufacturerCtrl.data.manufacturer.name"
                                           placeholder="Название" type="text">
                                </div>
                                <div class="form-group">
                                    <label class="control-label input-group-addon">Описание</label>
                                    <textarea ui-tinymce="editManufacturerCtrl.tinymceOptions"
                                              ng-model="editManufacturerCtrl.data.manufacturer.description">
                                    </textarea>
                                </div>
                                <button class="btn btn-info" ng-click="editManufacturerCtrl.saveManufacturer()">
                                    Сохранить
                                </button>
                            </div>
                        </div>
                    </div>
                    <jarvis-widget for="edit_category_1"></jarvis-widget>
                </article>
            </div>
        </section>
    </div>
</div>