<div class="modal fade file-worker-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">Прикрепленные файлы</h4>
            </div>
            <div class="modal-body">
                <div class="btn btn-success dz-files-upload-button" ng-show="fullQueue" ng-click="uploadFiles()">Загрузить файлы</div>
                <div smart-dropzone="options" class="dropzone"></div>
            </div>
        </div>
    </div>
</div>