<div id="content">
    <div class="well well-white">
        <h2 class="txt-color-blueDark semi-bold prod-review-title no-padding">
            Заказ производства: {{ $ctrl.quotationOrder.number }}
        </h2>
        <form-nav-buttons options="$ctrl.visual.navButtsOptions" class="btn-group margin-top-10">
        </form-nav-buttons>
        <hr>
        <div class="row margin-top-10">
            <p class="col-xs-12 col-md-3 font-bold">
                Номер заказа:
            </p>
            <p class="col-md-9">{{ $ctrl.quotationOrder.number }}</p>
        </div>
        <div class="row margin-top-10">
            <p class="col-xs-12 col-md-3 font-bold">
                Название изделия:
            </p>
            <p class="col-md-9">
                <a ng-if="$ctrl.quotationOrder.can_edit" editable-text="$ctrl.quotationOrder.title" onaftersave="$ctrl.saveOrderInfo()">
                    {{ $ctrl.quotationOrder.title || 'Нет' }}
                </a>
                <span ng-if="!$ctrl.quotationOrder.can_edit">
                    {{ $ctrl.quotationOrder.title }}
                </span>
            </p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">
                Дата:
            </p>
            <p class="col-md-9">{{ $ctrl.quotationOrder.date | date:'dd MMMM yy' }}</p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">
                Партнёр:
            </p>
            <p class="col-md-9">
                <ui-select-infinity config="$ctrl.partnerSelectConfig" on-select="$ctrl.saveOrderInfo()" view="app/quotation_orders/components/view-quotation-order/partials/ui-select-infinity-partners.html" ng-model="$ctrl.quotationOrder.partner" ng-if="$ctrl.quotationOrder.can_edit">
                </ui-select-infinity>
                <a ng-if="!$ctrl.quotationOrder.can_edit" ng-href="/#/partners/{{$ctrl.quotationOrder.partner.id}}">
                    {{$ctrl.quotationOrder.partner.name}}
                </a>
            </p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">
                Статус:
            </p>
            <p class="col-md-9">{{ $ctrl.quotationOrder.status }}</p>
        </div>
    </div>
    <div class="well well-white">
        <div class="flex layout-row layout-align-start-center">
            <ui-select-infinity class="flex-100" config="$ctrl.pSelectConfig" ng-model="$ctrl.productForAppend" view="app/assembly_orders/components/view-assembly-order/partials/ui-select-infinity-products.html" on-select="$ctrl.selectProductForAppend()">
            </ui-select-infinity>
        </div>
        <table class="table table-bordered margin-top-10">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Кол-во</th>
                    <th>Итого</th>
                    <th>Заказ</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="$ctrl.productForAppend.id" class="append-product-row a-row-add" ng-keypress="$ctrl.appendProduct($event)">
                    <td>{{ $ctrl.productForAppend.name }} {{ $ctrl.productForAppend.article }}</td>
                    <td>
                        <input id="append_product_quantity" class="form-control table-input" ng-model="$ctrl.productForAppend.quantity" model-filter="{min:0}" ng-attr-placeholder="{{'доступно ' + $ctrl.productForAppend.stock +' шт.'}}" filter-name="te_number" type="text">
                        <div class="note">
                            <i class="fa fa-exclamation-triangle"></i>
                            <span class="font-sm">
                                {{' доступно ' + $ctrl.productForAppend.stock +' шт.'}}
                            </span>
                        </div>
                    </td>
                    <td>
                        {{$ctrl.productForAppend | price_net: $ctrl.productForAppend.quantity | currency}}
                    </td>
                    <td class="center-item-text">
                        <div ng-click="$ctrl.appendProduct()" class="btn btn-success">
                            <i class="fa fa-plus"></i>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="item in $ctrl.quotationOrder.quotation_order_contents">
                    <td>
                        <a ng-href="#/products/{{ item.product.id }}">
                            {{ item.product.name }} ({{ item.product.article }})
                        </a>
                    </td>
                    <td class="text-right">
                        <a ng-if="$ctrl.quotationOrder.can_edit" editable-number="item.quantity" buttons="no" onaftersave="$ctrl.updateContentsProduct({item: item, index: $index})" e-min="0">
                            {{ item.quantity }}
                        </a>
                        <span ng-if="!$ctrl.quotationOrder.can_edit">{{ item.quantity }}</span>
                    </td>
                    <td class="text-right">{{ item.quantity * item.price | currency }}</td>
                    <td>
                        <form-nav-buttons class="btn-group" subdata="{data:item, index:$index}" data-template="table" data-options="$ctrl.visual.navTableButts" data-role="item" content-class="btn btn-xs">
                        </form-nav-buttons>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"/>
                    <td class="text-right">
                        {{ $ctrl.quotationOrder.total | currency }}
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
