<div id="content">
    <div class="row">
        <big-breadcrumbs items="['История товара']" data-icon="edit" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>
    <div class="well product-info">
        <div class="col-xs-12 col-md-12 no-padding">
            <h2 class="txt-color-blueDark semi-bold prod-review-title">{{ product.name }}</h2>
            <form-nav-buttons options="visual.navButtsOptions" class="btn-group margin-top-10"></form-nav-buttons>
            <div class="col-xs-12 col-md-12">
                <hr>
            </div>
        </div>
        <div class="row" ng-show="partner_logs.mfk_logs.length">
            <h4>История МФК</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Дата</th>
                        <th colspan='2'>Название</th>
                        <th colspan='2'>Артикул</th>
                        <th colspan='2'>Цена</th>
                        <th colspan='2'>Закупка</th>
                        <th colspan='2'>Остаток</th>
                        <th/>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in partner_logs.mfk_logs">
                        <td>{{row.created_at | date:'dd/MM/yy HH:mm'}}</td>
                        <td>{{row.name_changes.from}}</td>
                        <td>{{row.name_changes.to}}</td>
                        <td>{{row.article_changes.from}}</td>
                        <td>{{row.article_changes.to}}</td>
                        <td>{{row.price_changes.from}}</td>
                        <td>{{row.price_changes.to}}</td>
                        <td>{{row.prime_cost_changes.from}}</td>
                        <td>{{row.prime_cost_changes.to}}</td>
                        <td>{{row.stock_changes.from}}</td>
                        <td>{{row.stock_changes.to}}</td>
                        <td class="center-item-text">
                            <form-nav-buttons data-role="row" class="btn-group" data-options="visual.navTableButts" subdata="row" data-template="table" content-class="btn btn-xs"></form-nav-buttons>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <h4>История партнёров</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Партнёр</th>
                        <th>Дата</th>
                        <th colspan='2'>Название</th>
                        <th colspan='2'>Артикул</th>
                        <th colspan='2'>Цена</th>
                        <th colspan='2'>Остаток</th>
                        <th/>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in partner_logs.other_logs">
                        <td>{{row.human_name}}</td>
                        <td>{{row.created_at | date:'dd/MM/yy HH:mm'}}</td>
                        <td>{{row.name_changes.from}}</td>
                        <td>{{row.name_changes.to}}</td>
                        <td>{{row.article_changes.from}}</td>
                        <td>{{row.article_changes.to}}</td>
                        <td>{{row.price_changes.from}}</td>
                        <td>{{row.price_changes.to}}</td>
                        <td>{{row.stock_changes.from}}</td>
                        <td>{{row.stock_changes.to}}</td>
                        <td class="center-item-text">
                            <form-nav-buttons data-role="row" class="btn-group" data-options="visual.navTableButts" subdata="row" data-template="table" content-class="btn btn-xs"></form-nav-buttons>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>