<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Просмотр товара']" data-icon="edit" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>
    <div class="well product-info">
        <div class="col-xs-12 col-md-12 no-padding">
            <h2 class="txt-color-blueDark semi-bold prod-review-title">{{ product.name }}</h2>
            <form-nav-buttons options="visual.navButtsOptions" class="btn-group margin-top-10"></form-nav-buttons>
            <div class="col-xs-12 col-md-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <img class="img-thumbnail" ng-src="{{ product.image_url }}" img-error="/assets/smart_admin/no_image.png">
                </div>
                <div class="col-md-9">
                    <div>
                        <b>Артикул:</b>
                        {{ product.article }}
                    </div>
                    <div>
                        <b>Производитель:</b>
                        {{ product.manufacturer.name }}
                    </div>
                    <div>
                        <b>Цена:</b>
                        {{ product.price | currency}}
                    </div>
                    <div>
                        <b>Остаток:</b>
                        {{ product.stock }}
                    </div>
                    <div>
                        <b>Остаток с МФК:</b>
                        {{ product.stock_with_mfk }}
                    </div>
                    <div ng-show="product.manufacturer.name === 'Schneider Electric'" class="margin-top-10">
                        <div class="form-group string optional product_lead_time">
                            <label class="control-label input-group-addon">Срок поставки (единиц товара)</label>
                            <input class="form-control" ng-model="data.quantity" model-filter="{min:0}" filter-name="te_number" placeholder="Количество товара" type="text" ng-keypress="getLeadTime(product.id, data.quantity, $event)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div ng-bind-html="product.description"></div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="dd">
                        <ol class="dd-list">
                            <li class="dd-item">
                                <div class="dd-handle bg-color-blue txt-color-white">
                                    <b>Категории</b>
                                </div>
                            </li>
                            <li class="dd-item" ng-repeat="catalogue in product.catalogues">
                                <div class="dd-handle">
                                    <a href="/#/catalogues/{{ catalogue.id }}">{{ catalogue.name }}</a>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="dd">
                        <ol class="dd-list">
                            <li class="dd-item" data-id="1">
                                <div class="dd-handle bg-color-blue txt-color-white">
                                    <b>PDF Каталоги</b>
                                </div>
                            </li>
                            <li class="dd-item" ng-repeat="pdf in product.pdf_catalogues">
                                <div class="dd-handle">
                                    <a href="/#/pdf_catalogues/{{ pdf.id }}">{{ pdf.name || 'Без имени'}}</a>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="dd">
                        <ol class="dd-list">
                            <li class="dd-item">
                                <div class="dd-handle bg-color-blue txt-color-white">
                                    <b>Похожие товары</b>
                                </div>
                            </li>
                            <li class="dd-item" ng-repeat="similar in product.similar_products">
                                <div class="dd-handle">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <a href="/#/products/{{ similar.id }}">{{ similar.name }}</a>
                                        </div>
                                        <div class="col-md-2">
                                            {{ similar.article }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ similar.price }}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs bordered" id="myTab1">
        <li class="active"><a data-toggle="tab" href="#s1">Свойства товара</a></li>
        <li><a data-toggle="tab" href="#s2">В заказах</a></li>
        <li><a data-toggle="tab" href="#s3">В движениях</a></li>
    </ul>
    <div class="well tab-content padding-10" id="myTabContent1">
        <div class="tab-pane fade in active" id="s1" style="overflow-y: auto;"><h2>Свойства товара</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Свойство</th>
                        <th>Значение</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in product.properties">
                        <td>{{ item.name }}</td>
                        <td>{{ item.value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="s2"><h2>Заказы с этим товаром</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Номер</th>
                        <th>Статус</th>
                        <th>Количество</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in product.customer_orders">
                        <td><a href="/#/customer_orders/{{ item.id }}">{{ item.number }}</a></td>
                        <td>{{ item.status }}</td>
                        <td>{{ item.quantity }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="s3"><h2>Движений с этим товаром</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Номер</th>
                        <th>Статус</th>
                        <th>Количество</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in product.product_orders">
                        <td>{{ item.date | date:'dd/MM/yy HH:mm' }}</td>
                        <td><a href="/#/{{ item.type=='DispatchOrder' ? 'dispatch_orders' : 'receive_orders' }}/{{ item.id }}">{{ item.number }}</a></td>
                        <td>{{ item.status }}</td>
                        <td>{{ item.quantity }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>