<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Просмотр товара']" data-icon="edit" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>
    <div class="well product-info">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h2 class="txt-color-blueDark semi-bold prod-review-title">{{ product.name }}</h2>
                <form-nav-buttons options="visual.navButtsOptions" subdata="product.id" class="btn-group margin-top-10"></form-nav-buttons>
                <div class="col-xs-12 col-md-12">
                    <hr>
                </div>
            </div>
        </div>
        <section id="widget-grid" widget-grid>
            <div class="row">
                <article class="col-md-6">
                    <div id="show-product-1" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false" data-widget-collapsed="true">
                        <header><h2>Цена и остатки</h2></header>
                        <div>
                            <div class="jarviswidget-editbox">
                                <input class="form-control" type="text">
                            </div>
                            <div class="widget-body">
                                <div>
                                    <b>Артикул:</b>
                                    <span editable-text="product.article" onaftersave="saveProduct()"> {{ product.article }}</span>
                                </div>
                                <div>
                                    <b>Производитель:</b>
                                    {{ product.manufacturer.name }}
                                </div>
                                <div>
                                    <b>Цена:</b>
                                    {{ product.price | currency}}
                                </div>
                                <div>
                                    <b>Остаток:</b>
                                    {{ product.stock }}
                                </div>
                                <div>
                                    <b>Остаток с МФК:</b>
                                    {{ product.stock_with_mfk }}
                                </div>
                                <div ng-show="product.manufacturer.name === 'Schneider Electric'" class="margin-top-10">
                                    <div class="form-group string optional product_lead_time">
                                        <label class="control-label input-group-addon">Срок поставки (единиц товара)</label>
                                        <input class="form-control" ng-model="data.quantity" model-filter="{min:0}" filter-name="te_number" placeholder="Количество товара" type="text" ng-keypress="getLeadTime(product.id, data.quantity, $event)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-6">
                    <div id="show-product-2" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false" data-widget-collapsed="true">
                        <header><h2>Фото</h2></header>
                        <div>
                            <div class="jarviswidget-editbox">
                                <input class="form-control" type="text">
                            </div>
                            <div class="widget-body">
                                <img class="img-thumbnail" ng-src="{{ product.image_url }}" img-error="http://cdn.texenergo.com/no_image.png", style="max-height: 200px; max-width: 200px;">
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-6">
                    <div id="show-product-3" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false" data-widget-collapsed="true">
                        <header><h2>Описание</h2></header>
                        <div>
                            <div class="jarviswidget-editbox">
                                <input class="form-control" type="text">
                            </div>
                            <div class="widget-body">
                                <div ng-bind-html="product.description"></div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-6">
                    <div id="show-product-4" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false" data-widget-collapsed="true">
                        <header><h2>Категории</h2></header>
                        <div>
                            <div class="jarviswidget-editbox">
                                <input class="form-control" type="text">
                            </div>
                            <div class="widget-body">
                                <div class="dd">
                                    <ol class="dd-list">
                                        <li class="dd-item" ng-repeat="catalogue in product.catalogues">
                                            <div class="dd-handle">
                                                <a href="/#/catalogues/{{ catalogue.id }}">{{ catalogue.name }}</a>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-6">
                    <div id="show-product-5" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false" data-widget-collapsed="true">
                        <header><h2>PDF Каталоги</h2></header>
                        <div>
                            <div class="jarviswidget-editbox">
                                <input class="form-control" type="text">
                            </div>
                            <div class="widget-body">
                                <div class="dd">
                                    <ol class="dd-list">
                                        <li class="dd-item" ng-repeat="pdf in product.pdf_catalogues">
                                            <div class="dd-handle">
                                                <a href="/#/pdf_catalogues/{{ pdf.id }}">{{ pdf.name || 'Без имени'}}</a>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-6">
                    <div id="show-product-6" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false" data-widget-collapsed="true">
                        <header><h2>Похожие товары</h2></header>
                        <div>
                            <div class="jarviswidget-editbox">
                                <input class="form-control" type="text">
                            </div>
                            <div class="widget-body">
                                <div class="dd">
                                    <ol class="dd-list">
                                        <li class="dd-item" ng-repeat="similar in product.similar_products">
                                            <div class="dd-handle">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <a href="/#/products/{{ similar.id }}">{{ similar.name }}</a>
                                                    </div>
                                                    <div class="col-md-2">
                                                        {{ similar.article }}
                                                    </div>
                                                    <div class="col-md-2">
                                                        {{ similar.price }}
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-6">
                    <div id="show-product-7" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false" data-widget-collapsed="true">
                        <header><h2>Свойства</h2></header>
                        <div>
                            <div class="jarviswidget-editbox">
                                <input class="form-control" type="text">
                            </div>
                            <div class="widget-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Свойство</th>
                                            <th>Значение</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in product.properties">
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.value }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-6">
                    <div id="show-product-8" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false" data-widget-collapsed="true">
                        <header><h2>Заказы с этим товаром</h2></header>
                        <div>
                            <div class="jarviswidget-editbox">
                                <input class="form-control" type="text">
                            </div>
                            <div class="widget-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Номер</th>
                                            <th>Статус</th>
                                            <th>Количество</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in product.customer_orders">
                                            <td><a href="/#/customer_orders/{{ item.id }}">{{ item.number }}</a></td>
                                            <td>{{ item.status }}</td>
                                            <td>{{ item.quantity }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-6">
                    <div id="show-product-9" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false" data-widget-collapsed="true">
                        <header><h2>Движения с этим товаром</h2></header>
                        <div>
                            <div class="jarviswidget-editbox">
                                <input class="form-control" type="text">
                            </div>
                            <div class="widget-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Дата</th>
                                            <th>Номер</th>
                                            <th>Статус</th>
                                            <th>Количество</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in product.product_orders">
                                            <td>{{ item.date | date:'dd/MM/yy HH:mm' }}</td>
                                            <td><a href="/#/{{ item.type=='DispatchOrder' ? 'dispatch_orders' : 'receive_orders' }}/{{ item.id }}">{{ item.number || "Б/Н" }}</a></td>
                                            <td>{{ item.status }}</td>
                                            <td class="{{ item.type=='DispatchOrder' ? 'danger' : 'success' }}">{{ item.quantity }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
</div>