<div id="content" ng-switch="visual.roles.can_edit">
    <div class="row">
        <big-breadcrumbs items="['Просмотр товара']" data-icon="edit" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>
    <div class="well product-info">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div>
                    <h2 ng-if="canEditProduct()" editable-text="product.name" onaftersave="saveProduct()" class="txt-color-blueDark semi-bold prod-review-title display-inline">
                        {{ product.name }}
                    </h2>
                    <h2 ng-if="!canEditProduct()" class="txt-color-blueDark semi-bold prod-review-title display-inline">
                        {{product.name}}
                    </h2>
                    <span ng-if="product.obsolete.flag" class="text-danger">
                        (Снят с производства
                        <span ng-if="product.obsolete.id">
                            с заменой на
                            <a ng-href="#/products/{{product.obsolete.id}}">{{ product.obsolete.article }}</a>
                        </span>
                        )
                    </span>
                </div>
                <form-nav-buttons options="visual.navButtsOptions" subdata="product.id" class="btn-group margin-top-10"></form-nav-buttons>
                <div class="col-xs-12 col-md-12">
                    <hr>
                </div>
            </div>
        </div>
        <section id="widget-grid" widget-grid>
            <div class="row">
                <article class="col-md-6">
                    <div id="show-product-1" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false" data-widget-collapsed="true">
                        <header><h2>Цена и остатки</h2></header>
                        <div>
                            <div class="jarviswidget-editbox">
                                <input class="form-control" type="text">
                            </div>
                            <div class="widget-body">
                                <div te-copy-to-buffer>
                                    <b>Артикул:</b>
                                    <span ng-if="canEditProduct()" editable-text="product.article" onaftersave="saveProduct()" te-buffer-value>{{ product.article || "Нет артикула" }}</span>
                                    <span ng-if="!canEditProduct()" te-buffer-value>{{ product.article }}?</span>
                                </div>
                                <div>
                                    <b>Производитель:</b>
                                    <span ng-if="!canEditProduct()">{{ product.manufacturer.name }}</span>
                                    <a ng-if="canEditProduct()" class="editable-click" ng-click="changeManufacturer()">{{product.manufacturer.name}}</a>
                                </div>
                                <div>
                                    <b>Цена:</b>
                                    {{ product.price | currency}}
                                </div>
                                <div >
                                    <b>Остаток:</b>
                                    {{ canEditProduct() ? product.stock : product.stock_with_mfk }}
                                </div>
                                <div ng-if="canEditProduct()">
                                    <b>Остаток у МФК:</b>
                                    {{ product.stock_with_mfk - product.stock }}
                                </div>
                                <div ng-if="canEditProduct()">
                                    <b>Снятие с производства:</b>
                                    <a href="" ng-click="makeObsolete(false)" ng-if="product.obsolete.flag">
                                        Отменить снятие с производства
                                    </a>
                                    <a href="" ng-click="selectReplacementProduct()" ng-if="!product.obsolete.flag">
                                        Отметить как снятый с производства
                                    </a>
                                </div>
                                <div ng-if="product.obsolete.flag">
                                    <b>С заменой на:</b>
                                    <a ng-click="selectReplacementProduct()">{{ product.obsolete.name }}</a>
                                </div>
                                <div ng-show="product.manufacturer.name === 'Schneider Electric'" class="margin-top-10">
                                    <div class="form-group string optional product_lead_time">
                                        <label class="control-label input-group-addon">Срок поставки (единиц товара)</label>
                                        <input class="form-control" ng-model="data.quantity" model-filter="{min:0}" filter-name="te_number" placeholder="Количество товара" type="text" ng-keypress="getLeadTime(product.id, data.quantity, $event)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-6">
                    <div id="show-product-2" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false" data-widget-collapsed="true">
                        <header><h2>Фото</h2></header>
                        <div>
                            <div class="widget-body">
                                <img  ng-if="!canEditProduct()" class="img-thumbnail" ng-src="{{ product.image_url }}" img-error="http://cdn.texenergo.com/no_image.png" style="max-height: 200px; max-width: 200px;">
                                <div ng-if="canEditProduct()" class="full-width product-thumb" nv-file-drop=""  uploader="uploader" filters="queueLimit">
                                    <div ng-show="uploader.isHTML5" class="well my-drop-zone" nv-file-over="" uploader="uploader">
                                        <img class="thumbnail no-padding" ng-src="{{product.image_url}}" img-error="/assets/smart_admin/no_image.png" style="max-height: 200px; max-width: 200px;">
                                    </div>
                                    <div class="row" ng-if="uploader.queue.length>0">
                                        <div class="col-md-12" ng-repeat="item in uploader.queue">
                                            Новая: <span ng-bind="item.file.name"></span>
                                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="btn btn-info" ng-click="uploader.queue[0].upload()">Заменить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-6">
                    <div id="show-product-3" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false" data-widget-collapsed="true">
                        <header><h2>Описание</h2></header>
                        <div>
                            <div ng-if="!canEditProduct()" class="widget-body">
                                <div ng-bind-html="product.description"></div>
                            </div>
                            <div  ng-if="canEditProduct()" style="padding-bottom: 10px;">
                                <div style="display: flex; flex-direction: row; justify-content: flex-end;">
                                    <button class="btn btn-success" ng-click="saveProduct()">Сохранить</button>
                                </div>
                                <textarea ui-tinymce="tinymceOptions" ng-model="product.description"></textarea>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-6">
                    <div id="show-product-4" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false" data-widget-collapsed="true">
                        <header><h2>Категории</h2></header>
                        <div>
                            <div class="jarviswidget-editbox">
                                <input class="form-control" type="text">
                            </div>
                            <div class="widget-body">
                                <button ng-if="canEditProduct()" class="btn btn-success right" ng-click="changeCatalogues()">Изменить</button>
                                <div class="dd">
                                    <ol class="dd-list">
                                        <li class="dd-item" ng-repeat="catalogue in product.catalogues">
                                            <div class="dd-handle">
                                                <a href="/#/catalogues/{{ catalogue.id }}">{{ catalogue.name }}</a>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-6">
                    <div id="show-product-5" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false" data-widget-collapsed="true">
                        <header><h2>У партнёров</h2></header>
                        <div>
                            <div class="jarviswidget-editbox">
                                <input class="form-control" type="text">
                            </div>
                            <div class="widget-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Поставщик</th>
                                            <th class="hidden-xs">Код поставщика</th>
                                            <th class="hidden-xs hidden-md">Закупка</th>
                                            <th>Продажа</th>
                                            <th>Остаток</th>
                                            <th class="hidden-xs hidden-md">Срок поставки</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in product.supplier_infos">
                                            <td>{{row.supplier_code}}</td>
                                            <td class="hidden-xs">{{row.foreign_code}}</td>
                                            <td class="hidden-xs hidden-sm hidden-md">{{row.prime_cost | currency}}</td>
                                            <td>{{row.price | currency}}</td>
                                            <td>{{row.quantity}}</td>
                                            <td class="hidden-xs hidden-sm hidden-md">{{row.lead_time}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-6">
                    <div id="show-product-6" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false" data-widget-collapsed="true">
                        <header><h2>Похожие товары</h2></header>
                        <div>
                            <div class="jarviswidget-editbox">
                                <input class="form-control" type="text">
                            </div>
                            <div class="widget-body">
                                <div class="dd">
                                    <ol class="dd-list">
                                        <li class="dd-item" ng-repeat="similar in product.similar_products">
                                            <div class="dd-handle">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <a href="/#/products/{{ similar.id }}">{{ similar.name }}</a>
                                                    </div>
                                                    <div class="col-md-2">
                                                        {{ similar.article }}
                                                    </div>
                                                    <div class="col-md-2">
                                                        {{ similar.price }}
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-6">
                    <div id="show-product-7" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false" data-widget-collapsed="true">
                        <header><h2>Свойства</h2></header>
                        <div>
                            <div class="jarviswidget-editbox">
                                <input class="form-control" type="text">
                            </div>
                            <div class="widget-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Свойство</th>
                                            <th>Значение</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in product.properties">
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.value }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-6">
                    <div id="show-product-8" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false" data-widget-collapsed="true">
                        <header><h2>Заказы с этим товаром</h2></header>
                        <div>
                            <div class="jarviswidget-editbox">
                                <input class="form-control" type="text">
                            </div>
                            <div class="widget-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Номер</th>
                                            <th>Статус</th>
                                            <th>Количество</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in product.customer_orders">
                                            <td><a href="/#/customer_orders/{{ item.id }}">{{ item.number }}</a></td>
                                            <td>{{ item.status }}</td>
                                            <td>{{ item.quantity }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-6">
                    <div id="show-product-9" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false" data-widget-collapsed="true">
                        <header><h2>Движения с этим товаром</h2></header>
                        <div>
                            <div class="jarviswidget-editbox">
                                <input class="form-control" type="text">
                            </div>
                            <div class="widget-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Дата</th>
                                            <th>Номер</th>
                                            <th>Статус</th>
                                            <th>Количество</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in product.product_orders">
                                            <td>{{ item.date | date:'dd/MM/yy HH:mm' }}</td>
                                            <td><a href="/#/{{ item.type=='DispatchOrder' ? 'dispatch_orders' : 'receive_orders' }}/{{ item.id }}">{{ item.number || "Б/Н" }}</a></td>
                                            <td>{{ item.status }}</td>
                                            <td class="{{ item.type=='DispatchOrder' ? 'danger' : 'success' }}">{{ item.quantity }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
</div>
<script type="text/ng-template" id="spChangeManufacturerModal.tmpl.html">
    <div class="modal-header">
        <h3 class="modal-title">Выберите производителя</h3>
    </div>
    <div class="modal-body">
        <ui-select  ui-select-infinity="mSelectConfig" ng-model="data.manufacturer" theme="select2" class="td-ui-select">
            <ui-select-match placeholder="Производитель не выбран">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="m in data.manufacturers | filter:$select.search">
                <div ng-bind-html="m.name | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" ng-click="cancel()">Отмена</button>
        <button class="btn btn-primary" type="button" ng-click="ok()">Выбрать</button>
    </div>
</script>
<script type="text/ng-template" id="spChangeCataloguesModal.tmpl.html">
    <div class="modal-header">
        <h3 class="modal-title">Добавить категории</h3>
    </div>
    <div class="modal-body">
        <ui-select multiple ui-select-infinity="cselectConfig" ng-model="data.selected" theme="select2" class="full-width">
            <ui-select-match placeholder="Добавьте категории">{{$item.name}}</ui-select-match>
            <ui-select-choices repeat="c in data.catalogues | filter:$select.search">
                <div ng-bind-html="c.name | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" ng-click="cancel()">Отмена</button>
        <button class="btn btn-primary" type="button" ng-click="ok()">Добавить</button>
    </div>
</script>
<script type="text/ng-template" id="spChangeReplacementProduct.tmpl.html">
    <div class="modal-header">
        <h3 class="modal-title">Заменить продукт</h3>
    </div>
    <div class="modal-body">
        <ui-select ui-select-infinity="pSelectConfig" ng-model="data.selectedProduct" theme="select2" reset-search-input="false" class="full-width">
            <ui-select-match placeholder="Введите товар для замены...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="product in data.productsList | filter:$select.search" class="search-item">
                <div class="search-tr">
                    <div class="search-td col-md-1">
                        <img ng-src="{{product.image_url}}">
                    </div>
                    <div class="search-td col-md-7" ng-bind-html="product.name | highlight: $select.search"></div>
                    <div class="search-td col-md-2">{{product.stock}} ед.</div>
                    <div class="search-td col-md-2">{{product.price | currency}}</div>
                </div>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" ng-click="cancel()">Отмена</button>
        <button class="btn btn-primary" type="button" ng-click="ok()">Заменить</button>
    </div>
</script>