<div id="content">
    <div class="row">
        <big-breadcrumbs items="['У партнёров']" data-icon="edit" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>
    <div class="well product-info">
        <div class="col-xs-12 col-md-12 no-padding">
            <h2 class="txt-color-blueDark semi-bold prod-review-title">{{ product.name }}</h2>
            <form-nav-buttons options="visual.navButtsOptions" class="btn-group margin-top-10"></form-nav-buttons>
            <div class="col-xs-12 col-md-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Поставщик</th>
                        <th>Код поставщика</th>
                        <th>Закупка</th>
                        <th>Продажа</th>
                        <th>Остаток</th>
                        <th>Срок поставки</th>
                        <th>Валюта</th>
                        <th/>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in supplier_infos">
                        <td>{{row.supplier_code}}</td>
                        <td>{{row.foreign_code}}</td>
                        <td>{{row.prime_cost | currency}}</td>
                        <td>{{row.price | currency}}</td>
                        <td>{{row.quantity}}</td>
                        <td>{{row.lead_time}}</td>
                        <td>{{row.currency}}</td>
                        <td class="center-item-text">
                            <form-nav-buttons data-role="row" class="btn-group" data-options="visual.navTableButts" subdata="row" data-template="table" content-class="btn btn-xs"></form-nav-buttons>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>