<div class="modal-header">
    <h3 class="modal-title">{{config.title}}</h3>
</div>
<div class="modal-body">
    <div class="row" ng-if="row.query_original">
        <p class="col-xs-12 col-md-3 font-bold">
            Запрос:
        </p>
        <p class="col-md-9">
            {{ row.query_original }}
        </p>
    </div>
    <div class="row" ng-if="row.discount_description">
        <p class="col-xs-12 col-md-3 font-bold">
            Описание скидки:
        </p>
        <p class="col-md-9">
        <pre>{{ row.discount_description }}</pre>
        </p>
    </div>
    <div class="row" ng-if="row.messages.length > 0">
        <p class="col-xs-12 col-md-3 font-bold">
            Сообщения:
        </p>
        <p class="col-md-9">
        <div ng-repeat="message in row.messages">
            <span class="badge alert-{{message.level}}">!</span>
            {{ message.text }}
        </div>
        </p>
    </div>
    <div class="row">
        <p class="col-xs-12 col-md-3 font-bold">
            Комментарий:
        </p>
        <p class="col-md-9">
            <a editable-text="row.comment" onaftersave="saveProductComment({comment: row.comment})" buttons="no">{{ row.comment || "Комментарий" }}</a>
        </p>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="cancel()">{{config.btnCancelText}}</button>
    <button class="btn btn-primary" type="button" ng-click="ok()">{{config.btnOkText}}</button>
</div>