<div id="content">
    <div class="well well-white">
        <h2 class="txt-color-blueDark semi-bold prod-review-title no-padding">
            {{$ctrl.visual.titles + $ctrl.order.number}}
        </h2>
        <form-nav-buttons subdata="$ctrl.order" data-role="$ctrl.order" options="$ctrl.visual.navButtsOptions"
                          class="btn-group margin-top-10">
        </form-nav-buttons>
        <hr>
    </div>
    <section id="widget-grid" widget-grid>
        <div class="row">
            <article class="col-md-12">
                <div id="view-customer-order-1" jarvis-widget data-widget-color="blueDark"
                     data-widget-deletebutton="false" data-widget-collapsed="true">
                    <header>
                        <h2>Общая информация</h2>
                    </header>
                    <div class="widget-body">
                        <div class="well well-clean well-white no-padding" ng-switch="$ctrl.visual.roles.can_edit">
                            <div class="row">
                                <div class="col-xs-12 col-md-3">
                                    <span easypiechart options="$ctrl.visual.chartOptions" percent="$ctrl.amontPercent"
                                          class="easy-pie-chart">
                                        <span class="percent ng-cloak" ng-bind="$ctrl.amontPercent"></span>
                                    </span>
                                    <span class="easy-pie-title">оплачен</span>
                                </div>
                                <div class="col-xs-12 col-md-3">
                                    <span easypiechart options="$ctrl.visual.chartOptions" class="easy-pie-chart"
                                          percent="$ctrl.dispatchedPercent">
                                        <span class="percent ng-cloak" ng-bind="$ctrl.dispatchedPercent"></span>
                                    </span>
                                    <span class="easy-pie-title">отгружен</span>
                                </div>
                            </div>
                            <div class="row margin-top-10">
                                <p class="col-xs-12 col-md-3 font-bold">
                                    Свой номер:
                                </p>
                                <div class="col-md-9" ng-switch-when="true">
                                    <a editable-text="$ctrl.order.title" onaftersave="$ctrl.saveOrderInfo()">
                                        {{ $ctrl.order.title || 'Нет' }}
                                    </a>
                                </div>
                                <p ng-switch-default class="col-md-9">{{$ctrl.order.title}}</p>
                            </div>
                            <div class="row">
                                <p class="col-xs-12 col-md-3 font-bold">
                                    Описание:
                                </p>
                                <div class="col-md-9" ng-switch-when="true">
                                    <pre class="full-editable-area">
                                        <a editable-textarea="$ctrl.order.description" onaftersave="$ctrl.saveOrderInfo()">
                                            {{ $ctrl.order.description || 'Нет' }}
                                        </a>
                                    </pre>
                                </div>
                                <p ng-switch-default class="col-md-9">{{$ctrl.order.description}}</p>
                            </div>
                            <div class="row">
                                <p class="col-xs-12 col-md-3 font-bold">
                                    Дата заказа:
                                </p>
                                <p class="col-md-9">{{$ctrl.order.date | date:'dd MMMM yy, HH:mm'}}</p>
                            </div>
                            <div class="row">
                                <p class="col-xs-12 col-md-3 font-bold">
                                    Продавец:
                                </p>
                                <div class="col-md-9" ng-switch-when="true">
                                    <a ng-hide="$ctrl.order.issued_by.x_editable_show" class="editable-click"
                                       ng-click="$ctrl.order.issued_by.x_editable_show=true;">
                                        {{$ctrl.order.issued_by.name || 'Нет'}}
                                    </a>
                                    <div ng-if="$ctrl.order.issued_by.x_editable_show">
                                        <span ng-include="'app/customer_orders/components/view-customer-order/partials/ui-select-infinity-seller.html'"></span>
                                        <button ng-click="$ctrl.order.issued_by.x_editable_show=false;" type="button"
                                                class="btn btn-default">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </div>
                                </div>
                                <p ng-switch-default class="col-md-9">
                                    <a ng-href="/#/partners/{{$ctrl.order.partner.id}}">
                                        {{$ctrl.order.issued_by.name}}
                                    </a>
                                </p>
                            </div>

                            <div class="row">
                                <p class="col-xs-12 col-md-3 font-bold">
                                    Покупатель:
                                </p>
                                <div class="col-md-9" ng-switch-when="true">
                                    <a ng-hide="$ctrl.order.partner.x_editable_show" class="editable-click"
                                       ng-click="$ctrl.order.partner.x_editable_show=true;">
                                        {{$ctrl.order.partner.name || 'Нет'}}
                                    </a>
                                    <div ng-if="$ctrl.order.partner.x_editable_show">
                                        <span ng-include="'app/customer_orders/components/view-customer-order/partials/ui-select-infinity-buyer.html'"></span>
                                        <button type="button" ng-click="$ctrl.order.partner.x_editable_show=false;"
                                                class="btn btn-default">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                        <button ng-click="$ctrl.goToPartner()" type="button" class="btn btn-default">
                                            <span class="fa fa-eye"></span>
                                        </button>
                                    </div>
                                </div>
                                <p ng-switch-default class="col-md-9">
                                    <a ng-href="/#/partners/{{$ctrl.order.partner.id}}">{{$ctrl.order.partner.name}}</a>
                                </p>
                            </div>

                            <div class="row">
                                <p class="col-xs-12 col-md-3 font-bold">
                                    Статус:
                                </p>
                                <p class="col-md-9">{{$ctrl.order.status}}</p>
                            </div>
                            <div class="row">
                                <p class="col-xs-12 col-md-3 font-bold">
                                    Менеджер:
                                </p>
                                <p class="col-md-9">{{$ctrl.order.manager_name}}</p>
                            </div>
                            <div class="row">
                                <p class="col-xs-12 col-md-3 font-bold">
                                    Отгрузка:
                                </p>
                                <p class="col-md-9" ng-if="$ctrl.order.can_edit">
                                    <a href="#" editable-select="$ctrl.order.transportation_info.transportation"
                                       e-ng-options="option for option in $ctrl.order.transportation_info.transportation_options"
                                       onaftersave="$ctrl.saveOrderInfo()">
                                        {{ $ctrl.order.transportation_info.transportation || 'Нет'}}
                                    </a>
                                </p>
                                <p class="col-md-9" ng-if="!$ctrl.order.can_edit">
                                    {{$ctrl.order.transportation_info.transportation}}
                                </p>
                            </div>
                            <div class="row" ng-if="$ctrl.order.transportation_info.transportable">
                                <p class="col-xs-12 col-md-3 font-bold">
                                    Адрес доставки:
                                </p>
                                <div class="col-md-9" ng-if="$ctrl.order.can_edit">
                                    <form editable-form name="deliveryAddressForm" onaftersave="$ctrl.saveOrderInfo()">
                                        <div>
                                            <span class="postal_index w-88-f">Индекс: </span>
                                            <span editable-text="$ctrl.order.transportation_info.delivery_address.postal_index"
                                                  e-uib-typeahead="state.label for state in $ctrl.getDaDataSuggestions($viewValue, '$ctrl.data.postal_code')"
                                                  e-typeahead-on-select="$ctrl.fillBySuggestion($item)"
                                                  e-typeahead-template-url="typeAhead.tmpl.html"
                                                  e-name="data.postal_code">
                                                {{ $ctrl.order.transportation_info.delivery_address.postal_index || 'нет' }}
                                            </span>
                                        </div>
                                        <div>
                                            <span class="region w-88-f">Регион: </span>
                                            <span editable-text="$ctrl.order.transportation_info.delivery_address.region"
                                                  e-uib-typeahead="state.label for state in $ctrl.getDaDataSuggestions($viewValue, '$ctrl.data.region_with_type')"
                                                  e-typeahead-on-select="$ctrl.fillBySuggestion($item)"
                                                  e-typeahead-template-url="typeAhead.tmpl.html"
                                                  e-name="data.region_with_type">
                                                {{ $ctrl.order.transportation_info.delivery_address.region || 'нет' }}
                                            </span>
                                        </div>
                                        <div>
                                            <span class="city w-88-f">Город: </span>
                                            <span editable-text="$ctrl.order.transportation_info.delivery_address.city"
                                                  e-uib-typeahead="state.label for state in $ctrl.getDaDataSuggestions($viewValue, '$ctrl.data.city')"
                                                  e-typeahead-on-select="$ctrl.fillBySuggestion($item)"
                                                  e-typeahead-template-url="typeAhead.tmpl.html"
                                                  e-name="data.city">
                                                {{ $ctrl.order.transportation_info.delivery_address.city || 'нет' }}
                                            </span>
                                        </div>
                                        <div>
                                            <span class="street w-88-f">Улица: </span>
                                            <span editable-text="$ctrl.order.transportation_info.delivery_address.street"
                                                  e-uib-typeahead="state.label for state in $ctrl.getDaDataSuggestions($viewValue, '$ctrl.data.street')"
                                                  e-typeahead-on-select="$ctrl.fillBySuggestion($item)"
                                                  e-typeahead-template-url="typeAhead.tmpl.html"
                                                  e-name="data.street">
                                                {{ $ctrl.order.transportation_info.delivery_address.street || 'нет' }}
                                            </span>
                                        </div>
                                        <div>
                                            <span class="house w-88-f">Дом: </span>
                                            <span editable-text="$ctrl.order.transportation_info.delivery_address.house"
                                                  e-name="data.house">
                                                {{ $ctrl.order.transportation_info.delivery_address.house || 'нет' }}
                                            </span>
                                        </div>
                                        <div class="padding-top-15">
                                            <button class="btn btn-default" ng-click="deliveryAddressForm.$show()"
                                                    type="button" ng-show="!deliveryAddressForm.$visible">
                                                Изменить
                                            </button>
                                            <span ng-show="deliveryAddressForm.$visible">
                                                <button type="submit" class="btn btn-primary"
                                                        ng-disabled="deliveryAddressForm.$waiting">
                                                    Сохранить
                                                </button>
                                                <button type="button" ng-disabled="deliveryAddressForm.$waiting"
                                                        class="btn btn-default" ng-click="deliveryAddressForm.$cancel()">
                                                    Отменить
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                                <p ng-if="!$ctrl.order.can_edit" class="col-md-9">
                                    {{$ctrl.order.transportation_info.delivery_address.postal_index || "Индекс"}} {{$ctrl.order.transportation_info.delivery_address.region || "Регион"}} {{$ctrl.order.transportation_info.delivery_address.city || "Город"}} {{$ctrl.order.transportation_info.delivery_address.street || "Улица"}} {{$ctrl.order.transportation_info.delivery_address.house || "Дом"}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="row">
            <article class="col-md-12">
                <div id="view-customer-order-2" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false">
                    <header>
                        <h2>Позиции заказа</h2>
                    </header>
                    <div class="widget-body">
                        <div class="well well-clean well-white no-padding">
                            <div ng-include="'app/customer_orders/components/view-customer-order/partials/ui-select-infinity-products.html'"
                                 ng-if="$ctrl.visual.roles.can_edit">
                            </div>

                            <table class="table table-hover table-bordered margin-top-10">
                                <thead>
                                    <tr>
                                        <th class="hidden-xs"></th>
                                        <th>Наименование</th>
                                        <th class="hidden-xs">Артикул</th>
                                        <th class="hidden-xs text-right">Цена</th>
                                        <th class="text-right">Кол-во</th>
                                        <th class="text-right hidden-xs">Скидка</th>
                                        <th class="text-right">Итого</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody te-jq-ui="$ctrl.visual.sortOpts" data-ui-type="sortable">
                                    <tr ng-if="$ctrl.productForAppend.id" class="append-product-row a-row-add"
                                        ng-keypress="$ctrl.appendProduct($event)">
                                        <td></td>
                                        <td>{{$ctrl.productForAppend.name}}</td>
                                        <td>{{$ctrl.productForAppend.article}}</td>
                                        <td>{{$ctrl.productForAppend | price_net | currency}}</td>
                                        <td>
                                            <input id="append_product_quantity" class="form-control table-input"
                                                   ng-model="$ctrl.productForAppend.quantity" model-filter="{min:0}"
                                                   ng-attr-placeholder="{{'доступно ' + $ctrl.productForAppend.stock +' шт.'}}"
                                                   filter-name="te_number" type="text">
                                            <div class="note">
                                                <i class="fa fa-exclamation-triangle"></i>
                                                <span class="font-sm">
                                                    {{' доступно ' + $ctrl.productForAppend.stock +' шт.'}}
                                                </span>
                                            </div>
                                        </td>
                                        <td></td>
                                        <td>{{$ctrl.productForAppend | price_net: $ctrl.productForAppend.quantity | currency}}</td>
                                        <td class="center-item-text">
                                            <div ng-click="$ctrl.appendProduct()" class="btn btn-success">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-repeat='item in $ctrl.order.customer_order_contents' class="order-items"
                                        ng-click="$ctrl.selectPosition($event, item)" ng-class="{selected: item.selected}">
                                        <td class="hidden-xs">{{ $index + 1 }}</td>
                                        <td hidden-buttons>
                                            <span ng-if="item.messages.length > 0">
                                                <span class="badge alert-danger" ng-click="$ctrl.productDetailsModal(item)">!</span>
                                            </span>
                                            <te-copy-to-buffer>
                                                <a ng-href="/#/products/{{ item.product.id }}" te-buffer-value>
                                                    {{ item.product.name }}
                                                </a>
                                            </te-copy-to-buffer>
                                            <i class="blue-hover" ng-if="item.can_edit"
                                               ng-click="$ctrl.changeCustomerOrderProductModal(item)">
                                                заменить
                                            </i>
                                            <i class="blue-hover" ng-click="$ctrl.productDetailsModal(item)">подробно</i>
                                        </td>
                                        <td class="hidden-xs">
                                            <te-copy-to-buffer>
                                                <span te-buffer-value>{{ item.product.article}}</span>
                                            </te-copy-to-buffer>
                                        </td>
                                        <td class="hidden-xs text-right">{{ item | price_net | currency}}</td>
                                        <td class="text-right">
                                            <a ng-if="$ctrl.order.can_edit" editable-number="item.quantity" buttons="no"
                                               onaftersave="$ctrl.saveProductChange({item: item, index: $index})" e-min="0">
                                                {{ item.quantity }}
                                            </a>
                                            <span ng-if="!$ctrl.order.can_edit">{{ item.quantity }}</span>
                                        </td>
                                        <td class="text-right">
                                            <a ng-if="$ctrl.order.can_edit" editable-number="item.discount" buttons="no"
                                               onaftersave="$ctrl.saveProductChange({item: item, index: $index})"
                                               uib-tooltip="{{item.discount_description}}">
                                                {{ item.discount }}
                                            </a>
                                            <span ng-if="!$ctrl.order.can_edit">{{ item.discount }}</span>
                                        </td>
                                        <td class="text-right">{{ item | price_net : item.quantity | currency}}</td>
                                        <td>
                                            <form-nav-buttons ng-if="item.can_destroy" class="btn-group"
                                                              subdata="{data:item, index:$index}" data-template="table"
                                                              data-options="$ctrl.visual.navTableButts" data-role="item"
                                                              content-class="btn btn-xs">
                                            </form-nav-buttons>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="hidden-xs"></td>
                                        <td></td>
                                        <td class="hidden-xs"></td>
                                        <td class="hidden-xs"></td>
                                        <td></td>
                                        <td class="text-right hidden-xs">Итого, руб:</td>
                                        <td class="text-right">{{$ctrl.total | currency}}</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="row">
            <article class="col-md-12">
                <div id="view-customer-order-3" jarvis-widget data-widget-color="blueDark"
                     data-widget-deletebutton="false" data-widget-collapsed="true">
                    <header>
                        <h2>Отгрузки</h2>
                    </header>
                    <div class="widget-body">
                        <div class="well well-clean well-white no-padding">
                            <div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="hidden-xs"></th>
                                        <th>Наименование</th>
                                        <th ng-hide="$ctrl.order.status === 'Не подтвержден'">Осталось отгрузить</th>
                                        <th class="hidden-xs" ng-hide="$ctrl.order.status === 'Закрыт'">Склад</th>
                                        <th class="hidden-xs" ng-hide="$ctrl.order.status === 'Закрыт'">Срок поставки</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in $ctrl.order.dispatched">
                                        <td class="hidden-xs">{{ $index + 1 }}</td>
                                        <td>
                                            <a ng-href="/#/products/{{ item.product.id}}">
                                                {{ item.product.name + ' '+ item.product.article }}
                                            </a>
                                        </td>
                                        <td ng-hide="$ctrl.order.status === 'Не подтвержден'" class="success"
                                            ng-class="{'warning': item.remains > 0}">
                                            {{item.remains}}
                                        </td>
                                        <td class="hidden-xs" ng-hide="$ctrl.order.status === 'Закрыт'">
                                            {{ item.stock }}
                                        </td>
                                        <td class="hidden-xs" ng-hide="$ctrl.order.status === 'Закрыт'">
                                            {{ item.delivery_terms }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="row">
            <article class="col-md-12">
                <div id="view-customer-order-4" jarvis-widget data-widget-color="blueDark"
                     data-widget-deletebutton="false" data-widget-collapsed="true">
                    <header>
                        <h2>Связаные документы</h2>
                    </header>
                    <div class="widget-body">
                        <div class="well well-clean well-white no-padding">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="hidden-xs">#</th>
                                        <th>Номер документа</th>
                                        <th class="hidden-xs">Дата документа</th>
                                        <th>По этому заказу</th>
                                        <th class="hidden-xs">Сумма документа</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in $ctrl.order.dispatch_orders">
                                        <td class="hidden-xs">{{ $index + 1 }}</td>
                                        <td>{{ item.number }}</td>
                                        <td class="hidden-xs">{{ item.date | date:'dd MMMM yy, HH:mm'}}</td>
                                        <td>{{ item.linked_total | currency}}</td>
                                        <td class="hidden-xs">{{ item.total | currency}}</td>
                                        <td class="center" style="max-width: 40px;">
                                            <div class="btn-group">
                                                <a class="btn btn-xs btn-info" ng-href="/#/dispatch_orders/{{item.id}}">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="$ctrl.order.dispatch_orders.length>1">
                                        <td colspan="3" class="text-right">Итого, руб:</td>
                                        <td>{{ $ctrl.total_dispatched_linked | currency}}</td>
                                        <td>{{ $ctrl.total_dispatched | currency}}</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="hidden-xs">#</th>
                                        <th>Вх. номер</th>
                                        <th class="hidden-xs">Вх. дата</th>
                                        <th>По этому заказу</th>
                                        <th class="hidden-xs">Сумма документа</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in $ctrl.order.incoming_transfers">
                                        <td class="hidden-xs">{{ $index + 1 }}</td>
                                        <td>{{ item.number }}</td>
                                        <td class="hidden-xs">{{ item.date | date:'dd MMMM yy, HH:mm' }}</td>
                                        <td>{{ item.linked_total | currency}}</td>
                                        <td class="hidden-xs">{{ item.amount | currency}}</td>
                                        <td class="center" style="max-width: 40px;">
                                            <div class="btn-group">
                                                <a class="btn btn-xs btn-info"
                                                   ng-href="/#/incoming_transfers/{{ item.id }}">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="$ctrl.order.incoming_transfers.length>1">
                                        <td colspan="3" class="text-right">Итого, руб:</td>
                                        <td>{{ $ctrl.total_paid_linked | currency }}</td>
                                        <td>{{ $ctrl.total_paid | currency }}</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <force-layout-graph data="$ctrl.data.networkData" config="$ctrl.data.networkConfig">
                            </force-layout-graph>
                            <section class="display-flex graph-zoom-zlider" style="float: right;">
                                <i class="fa fa-minus"></i>
                                <div id="graph_zoom_slider" te-jq-ui="$ctrl.sliderOptions" data-ui-type="slider"
                                     class="pwm-card-size-slider">
                                </div>
                                <i class="fa fa-plus"></i>
                            </section>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <div class="summary-draggable-panel" ng-show="$ctrl.summaryData.show">
        <div class="content" te-jq-ui="$ctrl.summaryPanelOptions" data-ui-type="draggable">
            <b>Итого: {{$ctrl.summaryData.total | currency}}</b>
            <div class="col-sm-6">
                <a ng-href="" ng-click="$ctrl.deleteSelectedItems(false)">Оставить выделенные</a>
            </div>
            <div class="col-sm-6">
                <a ng-href="" ng-click="$ctrl.deleteSelectedItems(true)">Удалить выделенные</a>
            </div>
        </div>
    </div>
</div>