<div id="content" ng-show="!$ctrl.visual.inLoad && !$ctrl.visual.error">
    <div class="well well-white">
        <h2 class="txt-color-blueDark semi-bold prod-review-title no-padding">
            {{$ctrl.visual.titles + $ctrl.order.number}}
        </h2>
        <div class="extra-nav-btns">
          <form-nav-buttons subdata="$ctrl.order" data-role="$ctrl.order" options="$ctrl.visual.navButtsOptions"
                            class="btn-group margin-top-10">
          </form-nav-buttons>
          <dropdown-button>
            <button class="btn btn-success" >
              <i class="fa fa-envelope"></i>
              <span class="hidden-xs">Отправить</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu green">
              <li ng-repeat="r in $ctrl.order.recipients">
                <a href-void ng-click="$ctrl.sendOrder(r)">{{r.email}}</a>
              </li>
            </ul>
          </dropdown-button>
        </div>
        <hr>
    </div>
    <div class="well well-white">
        <div class="well well-clean well-white no-padding" ng-switch="$ctrl.visual.roles.can_edit">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <span easypiechart options="$ctrl.visual.chartOptions" percent="$ctrl.amontPercent"
                          class="easy-pie-chart">
                        <span class="percent ng-cloak" ng-bind="$ctrl.amontPercent"></span>
                    </span>
                    <span class="easy-pie-title">оплачен</span>
                </div>
                <div class="col-xs-12 col-md-3">
                    <span easypiechart options="$ctrl.visual.chartOptions" class="easy-pie-chart"
                          percent="$ctrl.dispatchedPercent">
                        <span class="percent ng-cloak" ng-bind="$ctrl.dispatchedPercent"></span>
                    </span>
                    <span class="easy-pie-title">отгружен</span>
                </div>
            </div>
            <div class="row margin-top-10">
                <p class="col-xs-12 col-md-3 font-bold">
                    Свой номер:
                </p>
                <div class="col-md-9" ng-switch-when="true">
                    <a editable-text="$ctrl.order.title" onaftersave="$ctrl.saveOrderInfo()">
                        {{ $ctrl.order.title || 'Нет' }}
                    </a>
                </div>
                <p ng-switch-default class="col-md-9">{{$ctrl.order.title}}</p>
            </div>
            <div class="row">
                <p class="col-xs-12 col-md-3 font-bold">
                    Описание:
                </p>
                <div class="col-md-9" ng-switch-when="true">
                    <pre class="full-editable-area">
                        <a editable-textarea="$ctrl.order.description" onaftersave="$ctrl.saveOrderInfo()">
                            {{ $ctrl.order.description || 'Нет' }}
                        </a>
                    </pre>
                </div>
                <p ng-switch-default class="col-md-9">{{$ctrl.order.description}}</p>
            </div>
            <div class="row">
                <p class="col-xs-12 col-md-3 font-bold">
                    Дата заказа:
                </p>
                <p class="col-md-9">{{$ctrl.order.date | date:'dd MMMM yy, HH:mm'}}</p>
            </div>
            <div class="row">
                <p class="col-xs-12 col-md-3 font-bold">
                    Продавец:
                </p>
                <div class="col-md-9" ng-switch-when="true">
                    <a ng-hide="$ctrl.order.issued_by.x_editable_show" class="editable-click"
                       ng-click="$ctrl.order.issued_by.x_editable_show=true;">
                        {{$ctrl.order.issued_by.name || 'Нет'}}
                    </a>
                    <div ng-if="$ctrl.order.issued_by.x_editable_show">
                        <span>
                            <ui-select-infinity config="$ctrl.partnerSelectConfig"
                                                on-select="$ctrl.saveOrderInfo()"
                                                view="app/customer_orders/components/view-customer-order/partials/ui-select-infinity-seller.html"
                                                ng-model="$ctrl.order.issued_by">
                            </ui-select-infinity>
                        </span>
                        <button ng-click="$ctrl.order.issued_by.x_editable_show=false;" type="button"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </div>
                <p ng-switch-default class="col-md-9">
                    <a ng-href="/#/partners/{{$ctrl.order.issued_by.id}}">
                        {{$ctrl.order.issued_by.name}}
                    </a>
                </p>
            </div>
            <div class="row">
                <p class="col-xs-12 col-md-3 font-bold">
                    Покупатель:
                </p>
                <div class="col-md-9" ng-switch-when="true">
                    <a ng-hide="$ctrl.order.partner.x_editable_show" class="editable-click"
                       ng-click="$ctrl.order.partner.x_editable_show=true;">
                        {{$ctrl.order.partner.name || 'Нет'}}
                    </a>
                    <div ng-if="$ctrl.order.partner.x_editable_show">
                        <span>
                            <ui-select-infinity config="$ctrl.partnerSelectConfig"
                                                view="app/customer_orders/components/view-customer-order/partials/ui-select-infinity-buyer.html"
                                                on-select="$ctrl.saveOrderInfo()"
                                                ng-model="$ctrl.order.partner">
                            </ui-select-infinity>
                        </span>
                        <button type="button" ng-click="$ctrl.order.partner.x_editable_show=false;"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button ng-click="$ctrl.goToPartner()" type="button" class="btn btn-default">
                            <span class="fa fa-eye"></span>
                        </button>
                    </div>
                </div>
                <p ng-switch-default class="col-md-9">
                    <a ng-href="/#/partners/{{$ctrl.order.partner.id}}">{{$ctrl.order.partner.name}}</a>
                </p>
            </div>
            <div class="row">
                <p class="col-xs-12 col-md-3 font-bold">
                    Плательщик:
                </p>
                <div class="col-md-9" ng-switch-when="true">
                    <a ng-hide="$ctrl.order.payer.x_editable_show" class="editable-click"
                       ng-click="$ctrl.order.payer.x_editable_show=true;">
                        {{$ctrl.order.payer.name || 'Нет'}}
                    </a>
                    <div ng-if="$ctrl.order.payer.x_editable_show">
                        <span>
                            <ui-select-infinity config="$ctrl.partnerSelectConfig"
                                                view="app/customer_orders/components/view-customer-order/partials/ui-select-infinity-buyer.html"
                                                on-select="$ctrl.saveOrderInfo()"
                                                ng-model="$ctrl.order.payer">
                            </ui-select-infinity>
                        </span>
                        <button type="button" ng-click="$ctrl.order.payer.x_editable_show=false;"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button ng-click="$ctrl.goToPartner()" type="button" class="btn btn-default">
                            <span class="fa fa-eye"></span>
                        </button>
                    </div>
                </div>
                <p ng-switch-default class="col-md-9">
                    <a ng-href="/#/partners/{{$ctrl.order.payer.id}}">{{$ctrl.order.payer.name}}</a>
                </p>
            </div>
            <div class="row">
                <p class="col-xs-12 col-md-3 font-bold">
                    Статус:
                </p>
                <p class="col-md-9">{{$ctrl.order.status}}</p>
            </div>
            <div class="row">
                <p class="col-xs-12 col-md-3 font-bold">
                    Менеджер:
                </p>
                <p class="col-md-9">{{$ctrl.order.manager_name}}</p>
            </div>
            <div class="row">
                <p class="col-xs-12 col-md-3 font-bold">
                    Отгрузка:
                </p>
                <p class="col-md-9" ng-if="$ctrl.order.can_edit">
                    <a href="#" editable-select="$ctrl.order.transportation_info.transportation" e-ng-options="option for option in $ctrl.order.transportation_info.transportation_options" onaftersave="$ctrl.saveOrderInfo()">
                        {{ $ctrl.order.transportation_info.transportation || 'Нет'}}
                    </a>
                </p>
                <p class="col-md-9" ng-if="!$ctrl.order.can_edit">
                    {{$ctrl.order.transportation_info.transportation}}
                </p>
            </div>
            <div class="row" ng-if="$ctrl.order.transportation_info.transportable">
                <p class="col-xs-12 col-md-3 font-bold">
                    Адрес доставки:
                </p>
                <div class="col-md-9" ng-if="$ctrl.order.can_edit">
                    <a href="#" editable-select="$ctrl.order.transportation_info.delivery_address" e-ng-options="option as $ctrl.addressToString(option) for option in $ctrl.order.transportation_info.delivery_address_options" onaftersave="$ctrl.saveOrderInfo()">
                        <span ng-if="$ctrl.order.transportation_info.delivery_address">
                            {{ $ctrl.addressToString($ctrl.order.transportation_info.delivery_address) }}
                        </span>
                        <span ng-if="!$ctrl.order.transportation_info.delivery_address">Нет</span>
                    </a>
                </div>
                <p ng-if="!$ctrl.order.can_edit" class="col-md-9">
                    {{ $ctrl.addressToString($ctrl.order.transportation_info.delivery_address) }}
                </p>
            </div>
        </div>
    </div>
    <div class="well well-white" style="overflow-y: auto;" ng-if="$ctrl.order.quotation_orders.length">
        <div class="well well-clean well-white no-padding">
            <h2>Щитовое оборудование</h2>
            <div>
                <table class="table table-hover table-bordered margin-top-10">
                    <thead>
                        <tr>
                            <th>Название </th>
                            <th>Номер</th>
                            <th>Итого</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="quotationOrder in $ctrl.order.quotation_orders">
                            <td>
                                <a ng-href="/#/quotation_orders/{{ quotationOrder.id }}">
                                    {{ quotationOrder.title }}
                                </a>
                            </td>
                            <td>{{ quotationOrder.number }}</td>
                            <td>{{ quotationOrder.total | currency }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="well well-white" style="overflow-y: auto;">
        <div class="well well-clean well-white no-padding">
            <div ng-if="$ctrl.visual.roles.can_edit" class="flex layout-row layout-align-start-center">
              <ui-select-infinity class="flex-100" config="$ctrl.pSelectConfig" ng-model="$ctrl.productForAppend"
                  view="app/customer_orders/components/view-customer-order/partials/ui-select-infinity-products.html"
                  on-select="$ctrl.selectProductForAppend()">
              </ui-select-infinity>
              <div class="search-toggle">
                <te-switcher ng-model="$ctrl.showUpsale" ng-change="$ctrl.changeUpsaleVisibility()"></te-switcher>
                <span>Предложения</span>
              </div>
            </div>
            <te-table-tools summ-fn="$ctrl.summarizeRows" track-by="id">
              <te-table-tools-controls>
                <div class="col-sm-6">
                    <a ng-href="" ng-click="$ctrl.deleteSelectedItems(false)">Оставить выделенные</a>
                </div>
                <div class="col-sm-6">
                    <a ng-href="" ng-click="$ctrl.deleteSelectedItems(true)">Удалить выделенные</a>
                </div>
              </te-table-tools-controls>
              <te-jq-ui options="$ctrl.visual.sortOpts">
                <table class="hidden-xs table table-hover table-bordered margin-top-10">
                    <thead>
                        <tr>
                            <th class="hidden-xs"></th>
                            <th>Наименование</th>
                            <th class="hidden-xs">Артикул</th>
                            <th ng-if="$ctrl.order.can_edit" class="hidden-xs text-right">Цена</th>
                            <th class="text-right">Кол-во</th>
                            <th ng-if="$ctrl.order.can_edit" class="text-right hidden-xs">Скидка</th>
                            <th class="text-right">Итого</th>
                            <th>
                                <span ng-if="!$ctrl.order.can_edit">Осталось отгрузить</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody data-ui-type="sortable">
                        <tr ng-if="$ctrl.productForAppend.id" class="append-product-row a-row-add"
                            ng-keypress="$ctrl.appendProduct($event)">
                            <td></td>
                            <td>{{$ctrl.productForAppend.name}}</td>
                            <td>{{$ctrl.productForAppend.article}}</td>
                            <td>{{$ctrl.productForAppend | price_net | currency}}</td>
                            <td>
                                <input id="append_product_quantity" class="form-control table-input"
                                       ng-model="$ctrl.productForAppend.quantity" model-filter="{min:0}"
                                       ng-attr-placeholder="{{'доступно ' + $ctrl.productForAppend.stock +' шт.'}}"
                                       filter-name="te_number" type="text">
                                <div class="note">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    <span class="font-sm">
                                        {{' доступно ' + $ctrl.productForAppend.stock +' шт.'}}
                                    </span>
                                </div>
                            </td>
                            <td></td>
                            <td>{{$ctrl.productForAppend | price_net: $ctrl.productForAppend.quantity | currency}}</td>
                            <td class="center-item-text">
                                <div ng-click="$ctrl.appendProduct()" class="btn btn-success">
                                    <i class="fa fa-plus"></i>
                                </div>
                            </td>
                        </tr>
                        <!-- BEGIN UPSALE  -->
                        <tr ng-show="$ctrl.showUpsale" ng-if="$ctrl.upsaleSuggestions.length" class="no-hover">
                          <td colspan="8" class="center-item-text">Вас также могут заинтересовать</td>
                        </tr>
                        <tr ng-show="$ctrl.showUpsale" ng-repeat="upsaleItem in $ctrl.upsaleSuggestions">
                          <td></td>
                          <td>{{upsaleItem.name}}</td>
                          <td>{{upsaleItem.article}}</td>
                          <td>{{upsaleItem | price_net | currency}}</td>
                          <td>
                              <input class="form-control table-input"
                                     ng-model="upsaleItem.quantity" model-filter="{min:0}"
                                     ng-attr-placeholder="{{'доступно ' + upsaleItem.stock +' шт.'}}"
                                     filter-name="te_number" type="text">
                              <div class="note">
                                  <i class="fa fa-exclamation-triangle"></i>
                                  <span class="font-sm">
                                      {{' доступно ' + upsaleItem.stock +' шт.'}}
                                  </span>
                              </div>
                          </td>
                          <td></td>
                          <td>{{upsaleItem | price_net: upsaleItem.quantity | currency}}</td>
                          <td class="center-item-text">
                              <div ng-click="$ctrl.appendProduct(null, upsaleItem)" class="btn btn-success">
                                  <i class="fa fa-plus"></i>
                              </div>
                          </td>
                        </tr>
                        <tr ng-show="$ctrl.showUpsale" ng-if="$ctrl.upsaleSuggestions.length" class="no-hover">
                          <td colspan="8"></td>
                        </tr>
                        <!-- END UPSALE -->
                        <tr ng-repeat='item in $ctrl.order.customer_order_contents' class="order-items"
                            ng-click="$ctrl.selectPosition($event, item)" ng-class="{selected: item.selected}">
                            <td class="hidden-xs">{{ $index + 1 }}</td>
                            <td hidden-buttons>
                                <span ng-if="item.messages.length > 0" class="cancel-draggable">
                                    <span class="badge alert-danger" ng-click="$ctrl.productDetailsModal(item)">!</span>
                                </span>
                                <te-copy-to-buffer>
                                    <a ng-href="/#/products/{{ item.product.id }}" te-buffer-value>
                                        {{ item.product.name }}
                                    </a>
                                </te-copy-to-buffer>
                                <i class="blue-hover" ng-if="item.can_edit"
                                   ng-click="$ctrl.changeCustomerOrderProductModal(item)">
                                    заменить
                                </i>
                                <i class="blue-hover" ng-click="$ctrl.productDetailsModal(item)">подробно</i>
                            </td>
                            <td class="hidden-xs">
                                <te-copy-to-buffer>
                                    <span te-buffer-value class="cancel-draggable">{{ item.product.article }}</span>
                                </te-copy-to-buffer>
                            </td>
                            <td  ng-if="$ctrl.order.can_edit" class="hidden-xs text-right cancel-draggable">{{ item | price_net | currency}}</td>
                            <td class="text-right" ng-class="$ctrl.quantityToColor(item)">
                                <a ng-if="$ctrl.order.can_edit" editable-number="item.quantity" buttons="no"
                                   onaftersave="$ctrl.saveProductChange({item: item, index: $index})" e-min="0" uib-tooltip="{{$ctrl.quantityToDescription(item)}}">
                                    {{ item.quantity }}
                                </a>
                                <span ng-if="!$ctrl.order.can_edit" class="cancel-draggable">{{ item.quantity }}</span>
                                <te-summarize row="item"></te-summarize>
                            </td>
                            <td ng-if="$ctrl.order.can_edit" class="text-right">
                                <a ng-if="$ctrl.order.can_edit" editable-number="item.discount" buttons="no"
                                   onaftersave="$ctrl.saveProductChange({item: item, index: $index})"
                                   uib-tooltip="{{item.discount_description}}">
                                    {{ item.discount }}
                                </a>
                                <span ng-if="!$ctrl.order.can_edit" class="cancel-draggable">{{ item.discount }}</span>
                            </td>
                            <td class="text-right">{{ item | price_net : item.quantity | currency}}</td>
                            <!-- <td class="success" ng-class="{'warning': item.remains > 0}"> -->
                            <td ng-class="($ctrl.order.status !== 'Не подтвержден') ? (item.remains > 0 ? 'warning' : 'success') : ''">
                                <!-- Случай когда нельзя удалить, например, услугу отгрузки частями -->
                                <form-nav-buttons ng-if="($ctrl.order.status === 'Не подтвержден') && item.can_destroy" class="btn-group"
                                                  subdata="{data:item, index:$index}" data-template="table"
                                                  data-options="$ctrl.visual.navTableButts" data-role="item"
                                                  content-class="btn btn-xs">
                                </form-nav-buttons>
                                <!-- Случай когда можно что-то отменить в подтверждённом заказе -->
                                <span ng-if="($ctrl.order.status === 'Подтвержден') && item.can_edit && !item.can_destroy" ng-click="$ctrl.cancelProductQuantity(item)">
                                    /Уменьшить количество на {{ item.cancellable_quantity }} ед./
                                </span>
                                <span ng-if="($ctrl.order.status === 'Подтвержден') && item.can_destroy" ng-click="$ctrl.removeCustomerOrderProduct(item)">
                                    Отменить строку
                                </span>
                                <span ng-hide="$ctrl.order.status === 'Не подтвержден'">
                                    {{ item.remains }}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="hidden-xs"></td>
                            <td></td>
                            <td class="hidden-xs"></td>
                            <td ng-if="$ctrl.order.can_edit" class="hidden-xs"></td>
                            <td ng-if="$ctrl.order.can_edit" ></td>
                            <td class="text-right hidden-xs">Итого, руб:</td>
                            <td class="text-right">{{$ctrl.total | currency}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
              </te-jq-ui>
            </te-table-tools>
            <div class="hidden-sm hidden-md hidden-lg" ng-if="$ctrl.productForAppend.id">
                <div>
                    {{$ctrl.productForAppend.name}} {{$ctrl.productForAppend.article}}
                </div>
                <div>{{$ctrl.productForAppend | price_net | currency}}</div>
                <div>
                    <input id="append_product_quantity" class="form-control table-input"
                           ng-model="$ctrl.productForAppend.quantity" model-filter="{min:0}"
                           ng-attr-placeholder="{{'доступно ' + $ctrl.productForAppend.stock +' шт.'}}"
                           filter-name="te_number" type="text">
                    <div class="note">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span class="font-sm">
                            {{' доступно ' + $ctrl.productForAppend.stock +' шт.'}}
                        </span>
                    </div>
                </div>
                <div>{{$ctrl.productForAppend | price_net: $ctrl.productForAppend.quantity | currency}}</div>
                <div class="center-item-text">
                    <div ng-click="$ctrl.appendProduct()" class="btn btn-success">
                        <i class="fa fa-plus"></i>
                    </div>
                </div>
            </div>
            <div ng-repeat='item in $ctrl.order.customer_order_contents' class="hidden-sm hidden-md hidden-lg" style="margin-top: 10px;">
                <div class="col-xs-12" style="margin-bottom: 10px;">
                    <div>
                        Товар:
                        <a ng-href="/#/products/{{ item.product.id }}" te-buffer-value>
                            {{ item.product.name }} {{ item.product.article}}
                        </a>
                    </div>
                    <div>
                        Цена: {{ item | price_net | currency}}
                    </div>
                    <div>
                        Количество:
                        <a ng-if="$ctrl.order.can_edit" editable-number="item.quantity" buttons="no"
                           onaftersave="$ctrl.saveProductChange({item: item, index: $index})" e-min="0">
                            {{ item.quantity }}
                        </a>
                        <span ng-if="!$ctrl.order.can_edit">{{ item.quantity }}</span>
                    </div>
                    <div>
                        Скидка:
                        <a ng-if="$ctrl.order.can_edit" editable-number="item.discount" buttons="no"
                           onaftersave="$ctrl.saveProductChange({item: item, index: $index})"
                           uib-tooltip="{{item.discount_description}}">
                            {{ item.discount }}
                        </a>
                        <span ng-if="!$ctrl.order.can_edit">{{ item.discount }}</span>
                    </div>
                    <div>
                        Итого:
                        {{ item | price_net : item.quantity | currency}}
                    </div>
                    <form-nav-buttons ng-if="item.can_destroy" class="btn-group"
                                      subdata="{data:item, index:$index}" data-template="table"
                                      data-options="$ctrl.visual.navTableButts" data-role="item"
                                      content-class="btn btn-xs">
                    </form-nav-buttons>
                </div>
            </div>
        </div>
    </div>
    <div class="well well-white">
        <div class="well well-clean well-white no-padding">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="hidden-xs">#</th>
                        <th>Номер документа</th>
                        <th class="hidden-xs">Дата документа</th>
                        <th>По этому заказу</th>
                        <th class="hidden-xs">Сумма документа</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in $ctrl.order.dispatch_orders">
                        <td class="hidden-xs">{{ $index + 1 }}</td>
                        <td>{{ item.number }}</td>
                        <td class="hidden-xs">{{ item.date | date:'dd MMMM yy, HH:mm'}}</td>
                        <td>{{ item.linked_total | currency}}</td>
                        <td class="hidden-xs">{{ item.total | currency}}</td>
                        <td class="center" style="max-width: 40px;">
                            <div class="btn-group">
                                <a class="btn btn-xs btn-info" ng-href="/#/dispatch_orders/{{item.id}}">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="$ctrl.order.dispatch_orders.length>1">
                        <td colspan="3" class="text-right">Итого, руб:</td>
                        <td>{{ $ctrl.total_dispatched_linked | currency}}</td>
                        <td>{{ $ctrl.total_dispatched | currency}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="hidden-xs">#</th>
                        <th>Вх. номер</th>
                        <th class="hidden-xs">Вх. дата</th>
                        <th>По этому заказу</th>
                        <th class="hidden-xs">Сумма документа</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in $ctrl.order.incoming_transfers">
                        <td class="hidden-xs">{{ $index + 1 }}</td>
                        <td>{{ item.number }}</td>
                        <td class="hidden-xs">{{ item.date | date:'dd MMMM yy, HH:mm' }}</td>
                        <td>{{ item.linked_total | currency}}</td>
                        <td class="hidden-xs">{{ item.amount | currency}}</td>
                        <td class="center" style="max-width: 40px;">
                            <div class="btn-group">
                                <a class="btn btn-xs btn-info"
                                   ng-href="/#/incoming_transfers/{{ item.id }}">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="$ctrl.order.incoming_transfers.length>1">
                        <td colspan="3" class="text-right">Итого, руб:</td>
                        <td>{{ $ctrl.total_paid_linked | currency }}</td>
                        <td>{{ $ctrl.total_paid | currency }}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="well well-white text-center" ng-if="$ctrl.visual.error">
  Ошибка при загрузке заказа
</div>
