<div id="content">
    <div class="row">
        <big-breadcrumbs items="visual.titles" data-icon="book" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>
    <div class="well">
        <form-nav-buttons options="visual.navButtsOptions" class="btn-group"></form-nav-buttons>
        <hr>
        <orders-filter data-search-query="data.searchQuery" data-to-state="app.outgoing_transfers"></orders-filter>
        <table class="table table-bordered table-margined-top" infinite-scroll infinite-scroll-disabled="false" te-lazy-helper data-list="data.outgoingTransfersList" data-search-query="data.searchQuery" data-server-api-method="getOutgoingTransfers">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Номер</th>
                    <th>Дата</th>
                    <th>Сумма</th>
                    <th>Свободно</th>
                    <th>Партнер</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in data.outgoingTransfersList">
                    <td>{{$index +1}}</td>
                    <td>{{row.number}}</td>
                    <td>{{row.date | date:'dd/MM/yy'}}</td>
                    <td>{{row.amount | currency}}</td>
                    <td>{{row.remaining_amount | currency}}</td>
                    <td>{{row.partner.name}}</td>
                    <td class="center-item-text">
                        <form-nav-buttons data-role="visual.role" class="btn-group" data-options="visual.navTableButts" subdata="{data:row, index:$index}" data-template="table" content-class="btn btn-xs"></form-nav-buttons>
                    </td>
                </tr>
            </tbody>
        </table>
        <te-scroll-top></te-scroll-top>
    </div>
<!--    В зависимости от прав показывать форму создания нового-->
    <transfer-builder config="newTransferConfig" transfers-list="data.outgoingTransfersList"></transfer-builder>
</div>