<div id="content">
    <div class="well well-white">
        <h2 class="txt-color-blueDark semi-bold prod-review-title no-padding">
            {{viewOutgoingTransferCtrl.visual.titles + viewOutgoingTransferCtrl.outgoingTransfer.number}}
        </h2>
        <form-nav-buttons options="viewOutgoingTransferCtrl.visual.navButtsOptions" class="btn-group margin-top-10">
        </form-nav-buttons>
        <hr>
        <div class="row margin-top-10">
            <p class="col-xs-12 col-md-3 font-bold">Входящий номер:</p>
            <p class="col-md-9">{{viewOutgoingTransferCtrl.outgoingTransfer.number}}</p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">Партнёр:</p>
            <p class="col-md-9">
                <a ng-href="/#/partners/{{viewOutgoingTransferCtrl.outgoingTransfer.partner.id}}">
                    {{viewOutgoingTransferCtrl.outgoingTransfer.partner.name}}
                </a>
            </p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">Входящая дата:</p>
            <p class="col-md-9">{{viewOutgoingTransferCtrl.outgoingTransfer.date | date:'dd MMMM yy'}}</p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">Назчание:</p>
            <p class="col-md-9">{{viewOutgoingTransferCtrl.outgoingTransfer.description}}</p>
        </div>
    </div>
    
    <div class="well well-white">
        <table class="table">
            <thead>
                <tr>
                    <th/>
                    <th>Заказ клиента</th>
                    <th>Сумма</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in viewOutgoingTransferCtrl.outgoingTransfer.money_to_orders">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ item.customer_order.number }}</td>
                    <td>{{ item.amount | currency }}</td>
                </tr>
                <tr>
                    <td colspan="2" class="text-right">Итого:</td>
                    <td>{{ viewOutgoingTransferCtrl.outgoingTransfer.amount | currency }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <file-worker data-trigger="viewOutgoingTransferCtrl.visual.showFileModal"
                 data-config="viewOutgoingTransferCtrl.fileModalOptions">
    </file-worker>
</div>