<table class="table table-bordered table-margined-top" infinite-scroll="$ctrl.loadItems()">
    <thead>
        <tr>
            <th class="hidden-xs">#</th>
            <th>Номер</th>
            <th>Дата</th>
            <th class="hidden-xs">Статус</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in $ctrl.items">
            <td class="hidden-xs">{{$index +1}}</td>
            <td>
                <a href="/#/assembly_orders/{{row.id}}">
                    {{ row.number }}
                </a>
            </td>
            <td>{{ row.date | date:'dd MMMM yy'}}</td>
            <td class="hidden-xs">{{ row.status }}</td>
            <td class="center-item-text">
                <form-nav-buttons data-role="row" class="btn-group" subdata="row" data-template="table"
                                  content-class="btn btn-xs" data-options="$ctrl.navOptions">
                </form-nav-buttons>
            </td>
        </tr>
    </tbody>
</table>