/* USED FOR TOGGLE SWITCH */
@media (max-width: 767px){
  #search-mobile{
    width: auto;
  }
}

.link-to-order{
  cursor: pointer;
}

.list-filter-switcher.multi{
  padding-top: 0;
}
.list-filter-switcher.multi > .filter-switcher{
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.list-filter-switcher.multi .onoffswitch{
  margin-top: 0;
  margin-bottom: 0;
}
te-switcher>.onoffswitch{
  margin-top: 0;
  margin-bottom: 0;
}
