#logo{
    margin-top: 8px;
}
.table.table-bordered>tbody td{
    vertical-align: middle;
}
.pager{
    cursor: pointer;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.pager>li>.page-indicator:hover{
    background-color: #ffffff;
    color: #3276b1;
    cursor: default;
}
.well-white{
    background-color: #ffffff;
}
.prod-review-title{
    padding-left: 12px; margin-bottom: 0; margin-top: 12px;
}
.category-list{
    margin: 10px 0 0 0;
}
.category-item{
    line-height: 1.4em;
    margin: 0 0 8px;
    cursor: pointer;
}
.category-item.pdf-item{
    margin-top: 10px;
}
.category-item>a{
    color: #4c4f53;
    position: relative;
    top: -2px;
}
.category-item>a:hover{
    color: #3276b1;
}
.prod-review-info-section{
    margin-top: 20px;
}
.prod-review-info-section>.item{
    max-width: 400px;
}
.same-product-item{
    display: block;
    margin: 3px 0;
    padding: 10px;
    border: 1px dotted #ddd;
    background: rgba(0,0,0,.02);
    text-align: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    cursor: pointer;
}
.same-product-item:hover{
    background: rgba(0,0,0,.08);
}
.product-thumb{
    padding-left: 0;
}
.product-thumb>img{
    max-width: 100%;
}
.product-thumb>button{
    width: 100%;
    white-space: normal;
}
.product-mif-c{
    padding-right: 0;
}
.no-warp{
    white-space: nowrap;
}
.scroll-up-btn, .dshb-t-scroll-up-btn{
    position: fixed;
    top: 84%;
    right: 6px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #4c4f53;
    background-color: white;
    border: 1px solid #4c4f53;
    border-radius: 3px;
    opacity: 0.3;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    visibility: hidden;
}
.dshb-t-scroll-up-btn{
    position: absolute;
    top: 500px;
}
.scroll-up-btn:hover{
    opacity: 1;
}
.scroll-up-btn.slideUp{
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
}
@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    50%{
        transform: translateY(-8%);
    }
    65%{
        transform: translateY(4%);
    }
    80%{
        transform: translateY(-4%);
    }
    95%{
        transform: translateY(2%);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(100%);
    }
    50%{
        -webkit-transform: translateY(-8%);
    }
    65%{
        -webkit-transform: translateY(4%);
    }
    80%{
        -webkit-transform: translateY(-4%);
    }
    95%{
        -webkit-transform: translateY(2%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}
.not-selectable{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.center-item-text{
    text-align: center;
}
.display-flex{
    display: inline-flex;
    display: -webkit-flex;
    display: flex;
}
form-nav-buttons .btn>.fa{
    margin-right: 4px;
}
form-nav-buttons{
    margin-bottom: 10px;
}
form-nav-buttons[data-template='table']{
    display: flex;
    display: -webkit-flex;
    display: inline-flex;
    margin-bottom: 0;
}
form-nav-buttons[data-template='table']>div{
    width:28px;
    height: 28px;
    line-height: 24px;
}
form-nav-buttons[data-template='table'] .btn>.fa{
    margin-right: 0;
}
.un-float{
    clear: both;
    display: block;
}
.table-margined-top{
    margin-top: 50px;
}
.easy-pie-chart{
    display: inline-block;
    height: 50px;
    width: 50px;
}
.easy-pie-chart canvas {
    position: absolute;
}
.easy-pie-chart .percent {
    line-height: 50px;
    width: 50px;
    top: 0;
    margin: 0;
}
.easy-pie-chart .percent:after {
    content: '%';
    margin-left: 2px;
    font-size: .8em;
}
.easy-pie-title{
    overflow: visible;
}
.font-bold{
    font-weight: bold;
}
.btn[disabled]{
    opacity: 0.4;
}
.table-input{
    min-width: 60px;
}
.append-product-row>td{
    vertical-align: top!important;
}
.search-item img{
    width: 60px;
    border: 1px solid #fff;
    outline: 1px solid #bfbfbf;
    min-width: 60px;
    max-width: 60px;
}
.search-item .ui-select-choices-row-inner{
    display: table;
    width: 100%;
}
.search-item .search-tr{
    display: table-row;
    height: 56px;
}
.search-item .search-td{
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    padding: 8px 10px;
    float: none!important;
}
.a-row-add{
    transition:0.5s linear all;
}
.a-row-add.ng-enter{
    background-color: #cde0c4;
    opacity: 0;
}
.a-row-add.ng-enter-active{
    opacity: 1;
}
.a-row-add.ng-leave{
    background-color: #c26565;
    opacity: 1;
}
.a-row-add.ng-leave-active{
    opacity: 0;
}
.right{
    float: right!important;
}
.form-control{
    min-height: 32px;
    height: auto;
}
.ui-select-status>span{
    white-space: normal;
}
.td-ui-select{
    min-width: 132px;
    width: 100%;
}
textarea{
    resize: none;
}
.notifications-pane .notification.seen {opacity: 0.5}
a.dz-download{
    background-image: -webkit-linear-gradient(top, #38c56f 0, #389154 100%);
    border-radius: 2px;
    border: 1px solid #3276b1;
    display: block;
    padding: 4px 5px;
    text-align: center;
    color: #fff;
    margin-top: 26px;
    margin-bottom: -15px;
}
a.dz-download:last-child{
    margin-bottom: 0;
}
.dz-default.dz-message{
    text-align: center;
}
.file-worker-modal>.modal-dialog{
    width: 800px;
}
.dz-filename-input{
    height: 100%!important;
    position: relative;
    z-index: 1;
}
.btn.dz-files-upload-button, .btn.dz-files-upload-button:active{
    position: absolute;
    margin-left: 100%;
    left: -156px;
    top: -16px;
}
.dropzone .dz-preview .dz-details{
    width: 120px;
    height: 120px;
    background: transparent;
}
.dropzone .dz-preview:hover .dz-details{
    background: rgba(255, 255, 255, 0.9);
}
.dropzone .dz-image{
    position: absolute;
}
.dropzone .dz-preview .dz-progress{
    z-index: 2;
}
.text-info{
    color: #ff0000!important;
}
.full-width{
    width: 100%;
}
form input.ng-invalid.ng-touched, form input.ng-invalid.ng-untouched{
    border-color: #a90329!important;
}
.p-novalid-msg{
    margin: 6px 10px 0 0;
    float: right;
}
textarea.form-control.form-description{
    height: 100px;
}
.ribbon-preloader{
    float: right;
    margin-top: 5px;
    color: #E4E4E4;
}
#ribbon{
    display: inline-block;
    width: 100%;
}
@media screen and (max-width: 679px) {

    .ribbon-preloader{
        color: #333;
    }
}
.table-bordered tr{
    background-color: #ffffff;
}
[data-dz-name]{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
a[data-toggle="tab"]{
    cursor: pointer;
}
#extr-page-header-space{
    line-height: 45px;
}
.login-back{
    background: url("/assets/img/img_2370.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.txt-logo-orange{
    color: rgb(241, 125, 27);
}
.flipper {
    margin:0 auto;
    position:relative;
    -moz-perspective: 800px;
    -webkit-perspective: 800px;
    perspective: 800px;
}
.front, .back {
    width:100%;
    height: 316px;
    position:absolute;
    top:0;
    left:0;

    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    -moz-transition:0.8s;
    -webkit-transition:0.8s;
    transition:0.8s;
}
.front {
    z-index:100;
}
.back{
    z-index:1;
    opacity:0;

    -moz-transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    transform:rotateY(180deg);
}
.flipper.flipped .front{
    opacity:0;
    -moz-transform:rotateY(-180deg);
    -webkit-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
}
.flipper.flipped .back{
    opacity:1;

    -moz-transform:rotateY(0deg);
    -webkit-transform:rotateY(0deg);
    transform:rotateY(0deg);
}
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
.shake{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}
.auth-ftr-info{
    width: 50%;
    float: left;
    margin-top: 7px;
}
.auth-err-st{
    border-color: red;
}
.auth-restore-st{
    position: absolute;
}
@media screen and (max-width: 520px) {
    #extr-page-header-space .btn{
        font-size: 74%;
    }
}
#main.login-page{
    overflow: hidden; margin-left: 0;
}
#content.login-page{
    padding-top: 36px;
}
.link, marker {
    stroke: #000;
    stroke-width: 1.5px;
}

.circle {
    stroke: #000;
    stroke-width: 1.5px;
}
.force-node-label{
    white-space: normal;
    text-overflow: ellipsis;
    overflow: visible;
    line-height: 20px;
    font-size: 13px;
    text-align: center;
    text-shadow: 0 0 2px white;
    cursor: default;
}
path.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}
.vco-graph-tooltip{
    width: 200px;
    border: 1px solid rgb(59, 62, 66);
    border-radius: 4px;
    background-color: rgba(255, 254, 254, 0.99);
    padding: 10px;
}
.vco-graph-tooltip ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.vco-graph-tooltip li {
    font-size: 13px;
    line-height: 25px;
    pointer-events: none;
}
.widget-tollb-row-with-t{
    margin-left: -10px;
    margin-right: -10px;
}
/*UI slider*/
.pwm-card-size-slider{
    height: 1px;
    background: rgb(149,149,149);
    border-color: rgb(149,149,149);
    border: none;
}
.pwm-card-size-slider>.ui-slider-handle, .pwm-card-size-slider>.ui-slider-handle:hover, .pwm-card-size-slider>.ui-slider-handle:focus{
    outline: none;
    margin-top: -1px;
    width: 12px;
    border-radius: 0;
    background: rgb(218,26,51);
    border-color: rgb(218,26,51);
    margin-left: -6px;
    height: 10px;
}
.pwm-card-size-slider-container{
    padding: 20px 15px;
    margin-top: 4px;
}
.graph-zoom-zlider>.pwm-card-size-slider{
    width: 200px;
}
.graph-zoom-zlider>.fa{
    margin: -6px 8px;
    color: rgb(59, 62, 66);
}
/*UI slider END*/
.dshb-parse-log-c, .dshb-srch-log-c{
    height: 500px;
}
.bordered-container {
    border: 1px solid rgb(221, 221, 221);
    padding: 10px;
}
.bordered-container>.title{
    position: absolute;
    margin-top: -31px;
    background-color: #ffffff;
    margin-left: 14px;
}
.bordered-container.titled{
    padding-top: 20px;
}
.bordered-container .item{
    margin-bottom: 10px;
}
.float-none{
    float: none;
}
.eqo-th-iconed{
    width: 20px;
}
.editable{
    cursor: default;
}
.editable-input{
    min-height: 32px;
    height: 32px;
    max-width: 180px;
}
.eqo-td-rm-ico{
    color: rgb(221, 221, 221);
}
.eqo-td-rm-ico:hover{
    color: rgb(51, 51, 51);
}
.eqo-centred-modal>.modal-dialog{
    margin-top: 130px;
}
.eqo-td-circle-ico{
    width: 11px;
    height: 11px;
    border:  1px solid rgb(51, 51, 51);
    border-radius: 11px;
    background-color: white;
    cursor: pointer;
    display: inline-block;
}
.eqo-td-circle-ico.active{
    background-color: rgb(51, 51, 51);
}
.blue-hover {
    color: white;
}
.blue-hover:hover{
    color: #428bca;
}
form.eqo-add-elem-form input.ng-invalid.ng-touched, form.eqo-add-elem-form input.ng-invalid.ng-untouched{
    border-color: #ccc!important;
}
form.eqo-add-elem-form input.inp-error.ng-invalid.ng-touched, form.eqo-add-elem-form input.inp-error.ng-invalid.ng-untouched{
    border-color: #a90329!important;
}
a.black {
    color: rgba(51,51,51,1);
}