table.table-bordered thead th,
table.table-bordered thead td {
  border-left-width: 0;
  border-top-width: 0;
}
table.table-bordered tbody th,
table.table-bordered tbody td {
  border-left-width: 0;
  border-bottom-width: 0;
}
table.table-bordered th:last-child,
table.table-bordered td:last-child {
  border-right-width: 0;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 8px 10px;
}
.easy-pie-title {
  display: inline-block;
  margin: 10px 6px 0;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  width: 100px;
  height: 19px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.easy-pie-title .icon-color-good,
.easy-pie-title .icon-color-bad {
  font-size: 18px;
}
.easy-pie-chart {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.easy-pie-chart .percent {
  color: #444;
  display: block;
  font-size: 12px;
  font-weight: 700;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}
.easy-pie-chart .percent .fa {
  display: none;
}
.degree-sign:after,
.percent-sign:after {
  content: " %";
  line-height: normal;
}
/*

   Copyright 2013 - SmartAdmin : WebApp (Sunny)

   * This is part of an item on wrapbootstrap.com
   * https://wrapbootstrap.com/user/myorange
   * ==================================

   Table of Contents
   ---------------------------------------------------------------

   - Main
   - Header
   - Content
   - Edit box
   - Timestamp
   - Helpers
   - Fullscreen
   - Styling
   - Custom styles
   - Icons - A few used examples
   - RTL support
   - Clearfix
   - Examples (minimalistic in grid)
   - Examples (lists)

   */
/*
   * MAIN
   */
article.sortable-grid {
  min-height: 30px;
}
.jarviswidget {
  margin: 0 0 30px 0;
  position: relative;
  -moz-border-radius: 0px;
  -khtml-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  padding: 0;
}
.widget-content-padding {
  padding: 20px;
}
.widget-content-padding .well {
  margin-bottom: 0px;
}
/*
   * HEADER
   */
.jarviswidget > header {
  height: 34px;
  padding: 0;
  line-height: 40px;
}
.jarviswidget > header > .widget-icon {
  display: block;
  width: 30px;
  height: 32px;
  position: relative;
  float: left;
  font-size: 111%;
  line-height: 32px;
  text-align: center;
  margin-right: -10px;
}
.jarviswidget > header h2 {
  height: 100%;
  width: auto;
  display: inline-block;
  font-size: 14px;
  position: relative;
  margin: 0;
  line-height: 34px;
  font-weight: normal;
  letter-spacing: 0px;
}
.jarviswidget > header > h2 {
  margin-left: 10px;
  float: left;
}
.jarviswidget > header > :first-child.widget-icon {
  margin-left: 0;
}
.jarviswidget > header .jarviswidget-icon {
  width: 16px;
  height: 16px;
  float: left;
  margin: 12px 10px 0 0;
  display: block;
  zoom: 1;
  z-index: 4000;
}
.ui-sortable .jarviswidget-sortable > header {
  cursor: move;
  -moz-border-radius: 0px;
  -khtml-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  line-height: normal;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.05);
}
.ui-sortable .jarviswidget-sortable.jarviswidget-collapsed > header {
  -moz-border-radius: 0px;
  -khtml-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.jarviswidget-ctrls {
  width: auto;
  float: right;
  padding: 0;
  margin: 0;
}
.jarviswidget-ctrls .button-icon {
  min-width: 30px;
  height: 32px;
  float: left;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  border-left: 1px solid rgba(0, 0, 0, 0.09);
}
.jarviswidget-ctrls .button-icon:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.jarviswidget-loader {
  width: 32px;
  height: 32px;
  margin: 0;
  float: right;
  background-repeat: no-repeat;
  background-position: center center;
  display: none;
  text-align: center;
  line-height: 32px;
  font-size: 111%;
}
/*
   * CONTENT
   */
.jarviswidget > div {
  float: left;
  width: 100%;
  position: relative;
  font-size: 13px;
  -moz-border-radius: 0px;
  -khtml-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  margin: 0;
  border-width: 1px 1px 2px 1px;
  border-style: solid;
  border-top: none;
  border-right-color: #CCC !important;
  border-bottom-color: #CCC !important;
  border-left-color: #CCC !important;
  padding: 13px 13px 0px;
  overflow: visible;
}
.jarviswidget .widget-body {
  min-height: 100px;
  position: relative;
  padding-bottom: 13px;
}
.jarviswidget .widget-body.widget-hide-overflow {
  overflow: hidden;
}
.widget-toolbar.no-border {
  border-left: none;
}
.widget-body.no-padding {
  margin: -13px -13px 0px;
}
.widget-body.no-padding .alert {
  margin: 0 0 10px;
  padding: 10px;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  border-width: 0px 0px 1px !important;
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
}
.jarviswidget.well.transparent .widget-body.no-padding {
  margin: 0px !important;
}
.widget-body > table {
  margin-bottom: 0;
}
.widget-body.no-padding .cke_chrome,
.no-padding .md-editor {
  border: none;
}
.widget-toolbar > .smart-form {
  margin-top: 2px;
}
.widget-toolbar > .smart-form .toggle:last-child {
  font-size: 12px;
  line-height: 29px;
}
.widget-toolbar  > .smart-form .radio input + i,
.widget-toolbar  > .smart-form .checkbox input + i,
.widget-toolbar  > .smart-form .toggle input + i {
  border-width: 1px;
  border-color: #C7C7C7 !important;
  margin-top: 1px;
  box-shadow: 0 1px 1px #FFF,0 1px 1px #858585 inset;
  -webkit-box-shadow: 0 1px 1px #FFF,0 1px 1px #858585 inset;
  -moz-box-shadow: 0 1px 1px #FFF,0 1px 1px #858585 inset;
}
/*
   * WELL WIDGET
   */
.jarviswidget.well {
  margin: 0 0 30px 0;
}
.jarviswidget.well > div {
  border: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}
.jarviswidget.well header {
  display: none;
}
/*
   * WIDGET FOOTER
   */
.widget-footer {
  display: block;
  min-height: 32px;
  vertical-align: middle;
  position: relative;
  background-color: #F8F7F7;
  padding: 5px;
  border-top: 1px solid #E4E4E4;
  text-align: right;
  margin: 0px -13px -13px;
}
.no-padding .widget-footer {
  margin: 0;
}
.widget-footer.smart-form > label {
  margin-top: 4px;
  display: block;
}
/*
   * EDIT BOX
   */
.jarviswidget-editbox {
  display: none;
  padding: 10px;
}
/*.jarviswidget-editbox div {
    width: 100%;
    float: left;
    margin-bottom: 0;
  }
  .jarviswidget-editbox label {
    width: 80px;
    height: 26px;
    float: left;
    line-height: 26px;
    font-weight: bold;
    margin-bottom:0;
  }
  .jarviswidget-editbox input {
    width: 200px;
    height: 24px;
    padding: 0 5px;
    border: 1px solid #666;
  }
  .jarviswidget-editbox span {
    height: 26px;
    width: 26px;
    float: left;
    margin: 0 5px 0 0;
    cursor: pointer;
  }*/
/*
   * TIMESTAMP
   */
.jarviswidget-timestamp {
  font-size: 12px;
  color: #868686;
  font-style: italic;
  margin: 10px 0 0;
}
/*
   * HELPERS
   */
.jarviswidget-placeholder {
  -moz-border-radius: 0px;
  -khtml-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  margin-bottom: 28px;
  /* adjusted from 28px */
  padding: 0;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/*
   * FULL SCREEN
   */
body.nooverflow {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
#jarviswidget-fullscreen-mode {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
}
#jarviswidget-fullscreen-mode .jarviswidget {
  margin: 0;
  -moz-border-radius: 0;
  -khtml-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
#jarviswidget-fullscreen-mode .jarviswidget > div {
  overflow-y: scroll;
  -moz-border-radius: 0;
  -khtml-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
#jarviswidget-fullscreen-mode > div > header {
  cursor: default;
}
/*
   * WIDGET BODY TOOLBAR
   */
.widget-body-toolbar,
.smart-form.widget-body-toolbar {
  display: block;
  padding: 8px 10px;
  margin: -13px -13px 13px;
  min-height: 42px;
  border-bottom: 1px solid #ccc;
  background: #fafafa;
}
.no-padding.widget-body-toolbar,
.no-padding .widget-body-toolbar,
.no-padding .smart-form.widget-body-toolbar {
  display: block;
  margin: 0px;
}
.widget-body-toolbar.smart-form .inline-group,
.smart-form .widget-body-toolbar .inline-group {
  float: left;
  margin-top: 4px;
}
.widget-body-toolbar .btn {
  vertical-align: middle;
}
.widget-body-toolbar .btn-xs {
  margin-top: 5px;
}
/*
   * WIDGET BODY AJAX LOAD
   */
.widget-body-ajax-loading::before {
  content: url('../img/ajax-loader.gif');
  padding-top: 18%;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  display: block;
  background: rgba(255, 255, 255, 0.4);
  height: 100%;
  z-index: 1;
  width: 100%;
  position: absolute;
}
.widget-body-ajax-loading:hover {
  cursor: wait !important;
}
/*
   * STYLING
   * Default
   */
.jarviswidget > header {
  color: #333;
  border: 1px solid #C2C2C2;
  background: #fafafa;
}
.jarviswidget > div {
  background-color: #fff !important;
}
.jarviswidget-editbox {
  border-bottom: 1px solid #B1B1B1;
  background-color: #fff;
  margin: -13px -13px 13px;
}
.no-padding .jarviswidget-editbox {
  margin: 0 0 10px;
}
.jarviswidget-placeholder {
  background-color: #FFC;
  border: 1px dashed #A7A7A7;
}
/*
   * CUSTOM STYLES
   */
/* remove colors */
.jarviswidget-remove-colors {
  color: #333 !important;
  padding: 0 !important;
  background: none !important;
}
/* magenta theme */
.jarviswidget-color-magenta > header {
  border-color: #643167 !important;
  background: #6e3671;
  color: #ffffff;
}
.jarviswidget-color-magenta  > header  > .jarviswidget-ctrls a,
.jarviswidget-color-magenta .nav-tabs li:not(.active) a {
  color: #ffffff !important;
}
.jarviswidget-color-magenta .nav-tabs li a:hover {
  color: #333 !important;
}
/* pink theme */
.jarviswidget-color-pink > header {
  border-color: #a24d7f !important;
  background: #ac5287;
  color: #ffffff;
}
.jarviswidget-color-pink  > header  > .jarviswidget-ctrls a,
.jarviswidget-color-pink .nav-tabs li:not(.active) a {
  color: #ffffff !important;
}
.jarviswidget-color-pink .nav-tabs li a:hover {
  color: #333 !important;
}
/* pinkDark theme */
.jarviswidget-color-pinkDark > header {
  border-color: #a27998 !important;
  background: #a8829f;
  color: #ffffff;
}
.jarviswidget-color-pinkDark  > header  > .jarviswidget-ctrls a,
.jarviswidget-color-pinkDark .nav-tabs li:not(.active) a {
  color: #ffffff !important;
}
.jarviswidget-color-pinkDark .nav-tabs li a:hover {
  color: #333 !important;
}
/* yellow theme */
.jarviswidget-color-yellow > header {
  border-color: #aa9452 !important;
  background: #b09b5b;
  color: #ffffff;
}
.jarviswidget-color-yellow  > header  > .jarviswidget-ctrls a,
.jarviswidget-color-yellow .nav-tabs li:not(.active) a {
  color: #ffffff !important;
}
.jarviswidget-color-yellow .nav-tabs li a:hover {
  color: #333 !important;
}
/* orange theme */
.jarviswidget-color-orange > header {
  border-color: #ba871f !important;
  background: #c79121;
  color: #ffffff;
}
.jarviswidget-color-orange  > header  > .jarviswidget-ctrls a,
.jarviswidget-color-orange .nav-tabs li:not(.active) a {
  color: #ffffff !important;
}
.jarviswidget-color-orange .nav-tabs li a:hover {
  color: #333 !important;
}
/* orangeDark theme */
.jarviswidget-color-orangeDark > header {
  border-color: #b1811d !important;
  background: #b6841e;
  color: #ffffff;
}
.jarviswidget-color-orangeDark  > header  > .jarviswidget-ctrls a,
.jarviswidget-color-orangeDark .nav-tabs li:not(.active) a {
  color: #ffffff !important;
}
.jarviswidget-color-orangeDark .nav-tabs li a:hover {
  color: #333 !important;
}
/* darken theme */
.jarviswidget-color-darken > header {
  border-color: #383838 !important;
  background: #404040;
  color: #ffffff;
}
.jarviswidget-color-darken  > header  > .jarviswidget-ctrls a,
.jarviswidget-color-darken  > .nav-tabs  > li:not(.active)  > a {
  color: #ffffff !important;
}
.jarviswidget-color-darken .nav-tabs li a:hover {
  color: #333 !important;
}
/* purple theme */
.jarviswidget-color-purple > header {
  border-color: #665271 !important;
  background: #6e587a;
  color: #ffffff;
}
.jarviswidget-color-purple  > header  > .jarviswidget-ctrls a,
.jarviswidget-color-purple .nav-tabs li:not(.active) a {
  color: #ffffff !important;
}
.jarviswidget-color-purple .nav-tabs li a:hover {
  color: #333 !important;
}
/* teal theme */
.jarviswidget-color-teal > header {
  border-color: #508180 !important;
  background: #568a89;
  color: #ffffff;
}
.jarviswidget-color-teal  > header  > .jarviswidget-ctrls a,
.jarviswidget-color-teal .nav-tabs li:not(.active) a {
  color: #ffffff !important;
}
.jarviswidget-color-teal .nav-tabs li a:hover {
  color: #333 !important;
}
/* teal theme */
.jarviswidget-color-blueDark > header {
  border-color: #45474b !important;
  background: #4c4f53;
  color: #ffffff;
}
.jarviswidget-color-blueDark  > header  > .jarviswidget-ctrls a,
.jarviswidget-color-blueDark .nav-tabs li:not(.active) a {
  color: #ffffff !important;
}
.jarviswidget-color-blueDark .nav-tabs li a:hover {
  color: #333 !important;
}
/* blue theme */
.jarviswidget-color-blue > header {
  border-color: #45474b !important;
  background: #4c4f53;
  color: #ffffff;
}
.jarviswidget-color-blue  > header  > .jarviswidget-ctrls a,
.jarviswidget-color-blue .nav-tabs li:not(.active) a {
  color: #ffffff !important;
}
.jarviswidget-color-blue .nav-tabs li a:hover {
  color: #333 !important;
}
/* blueLight theme */
.jarviswidget-color-blueLight > header {
  border-color: #a0aeb3 !important;
  background: #cbd2d5;
  color: #000000;
}
.jarviswidget-color-blueLight  > header  > .jarviswidget-ctrls a,
.jarviswidget-color-blueLight .nav-tabs li:not(.active) a {
  color: #2b363c !important;
}
.jarviswidget-color-blueLight .nav-tabs li a:hover {
  color: #2b363c !important;
}
/* red theme */
.jarviswidget-color-red > header {
  border-color: #9a0325 !important;
  background: #a90329;
  color: #ffffff;
}
.jarviswidget-color-red  > header  > .jarviswidget-ctrls a,
.jarviswidget-color-red .nav-tabs li:not(.active) a {
  color: #ffffff !important;
}
.jarviswidget-color-red .nav-tabs li a:hover {
  color: #333 !important;
}
/* redLight theme */
.jarviswidget-color-redLight > header {
  border-color: #9c5353 !important;
  background: #a65858;
  color: #ffffff;
}
.jarviswidget-color-redLight  > header  > .jarviswidget-ctrls a,
.jarviswidget-color-redLight .nav-tabs li:not(.active) a {
  color: #fff !important;
}
.jarviswidget-color-redLight .nav-tabs li a:hover {
  color: #333 !important;
}
/* white theme */
.jarviswidget-color-white > header {
  border-color: #cccccc !important;
  background: #ffffff;
  color: #666666;
}
.jarviswidget-color-white  > header  > .jarviswidget-ctrls a,
.jarviswidget-color-white .nav-tabs li:not(.active) a {
  color: #808080 !important;
}
.jarviswidget-color-white .nav-tabs li a:hover {
  color: #808080 !important;
}
/* greenDark theme */
.jarviswidget-color-greenDark > header {
  border-color: #436043 !important;
  background: #496949;
  color: #ffffff;
}
.jarviswidget-color-greenDark  > header  > .jarviswidget-ctrls a,
.jarviswidget-color-greenDark .nav-tabs li:not(.active) a {
  color: #ffffff !important;
}
.jarviswidget-color-greenDark .nav-tabs li a:hover {
  color: #333 !important;
}
/* green theme */
.jarviswidget-color-green > header {
  border-color: #306430 !important;
  background: #356e35;
  color: #ffffff;
}
.jarviswidget-color-green  > header  > .jarviswidget-ctrls a,
.jarviswidget-color-green .nav-tabs li:not(.active) a {
  color: #ffffff !important;
}
.jarviswidget-color-green .nav-tabs li a:hover {
  color: #333 !important;
}
/* greenLight theme */
.jarviswidget-color-greenLight > header {
  border-color: #687a3a !important;
  background: #71843f;
  color: #ffffff;
}
.jarviswidget-color-greenLight  > header  > .jarviswidget-ctrls a,
.jarviswidget-color-greenLight .nav-tabs li:not(.active) a {
  color: #fff !important;
}
.jarviswidget-color-greenLight .nav-tabs li a:hover {
  color: #333 !important;
}
/*
   * WIDGET COLOR DROPDOWN
   *
   */
.color-select {
  list-style: none;
  margin: 0;
  padding: 4px;
  min-width: 166px;
  max-width: 156px;
  right: -3px;
}
.color-select li {
  display: block;
  margin: 2px;
  float: left;
}
.color-select li span:hover {
  border: 3px solid rgba(0, 0, 0, 0.2);
}
.color-select li span,
.color-box {
  display: block;
  width: 22px;
  height: 22px;
  padding: 0;
  background: #333;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.color-box {
  position: relative;
  vertical-align: middle;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.3) !important;
}
.color-box:hover,
.open .color-box {
  outline: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.color-box:hover {
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
}
.color-box:active {
  top: 1px;
  left: 1px;
}
.widget-toolbar > .color-box {
  margin-top: 7px;
  width: 18px;
  height: 18px;
  outline: 1px solid rgba(0, 0, 0, 0.2);
}
.widget-toolbar .dropdown-menu.color-select {
  right: -1px;
}
.widget-toolbar  > .color-box:hover,
.widget-toolbar  > .color-box:active,
.widget-toolbar  > .color-box:focus {
  outline: 1px solid rgba(0, 0, 0, 0.25) !important;
}
/*
   * ICONS
   */
.jarviswidget-ctrls a {
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  line-height: 32px;
  padding: 0;
  margin: 0;
  color: #333;
}
/*
   * RTL - SUPPORT


  .rtl .jarviswidget > header {
    padding: 0 7px 0 0;
  }
  .rtl .jarviswidget > header h2 {
    float: right;
    text-align: right
  }
  .rtl .jarviswidget > header .jarviswidget-icon {
    float: right;
    margin: 12px 0 0 7px;
  }
  .rtl .jarviswidget-ctrls {
    float: left;
    padding: 10px 0 0 3px;
    margin: 0;
  }
  .rtl .jarviswidget-ctrls .button-icon {
    margin: 0 0 5px 5px;
  }
  .rtl .jarviswidget-loader {
    float: left;
  }*/
/*
   * CLEARFIX
   */
.jarviswidget:before,
.jarviswidget:after,
.jarviswidget > div:before,
.jarviswidget > div:after,
.inner-spacer:before,
.inner-spacer:after,
.jarviswidget-editbox:before,
.jarviswidget-editbox:after,
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}
.jarviswidget:after,
.jarviswidget > div:after,
.inner-spacer:after,
.jarviswidget-editbox:after,
.clearfix:after {
  clear: both;
}
.jarviswidget,
.jarviswidget > div,
.inner-spacer:after,
.jarviswidget-editbox,
.clearfix {
  zoom: 1;
  /*IE*/
}
/*
   * WIDGET TOOLBARS
   */
.widget-toolbar {
  display: inline-block;
  float: right;
  width: auto;
  height: 32px;
  line-height: 32px;
  position: relative;
  border-left: 1px solid rgba(0, 0, 0, 0.09);
  cursor: pointer;
  padding: 0 8px;
  text-align: center;
}
.widget-toolbar > :first-child {
  text-align: left;
}
/*
   * WIDGET TOOLBAR COMPONENTS
   */
/*
     * TABS
     */
.jarviswidget header .nav-tabs {
  border-bottom-color: transparent;
}
.jarviswidget header .nav-tabs > li > a {
  border-radius: 0px;
  border: none;
  padding: 7px 15px 6px;
}
.jarviswidget header:first-child .nav-tabs {
  float: left;
}
.jarviswidget header:first-child .nav-tabs li {
  padding-left: 0;
}
.jarviswidget header:first-child .nav-tabs li a {
  color: #333;
}
.jarviswidget header:first-child .nav-tabs.pull-right li:last-child a {
  margin-right: 0px !important;
  border-right: none !important;
}
.jarviswidget header .nav-tabs  > li.active  > a,
.jarviswidget header .nav-tabs  > li.active  > a:hover,
.jarviswidget header .nav-tabs  > li.active  > a:focus {
  color: #555;
  background-color: #FFF;
  border: 1px solid #C2C2C2;
  border-bottom-color: transparent;
  border-top: none;
  cursor: default;
}
/*
     * PILLS
     */
.jarviswidget header .nav-pills {
  margin: 3px;
}
.jarviswidget header .nav-pills > li > a {
  padding: 3px 5px 4px;
}
/*!
 * Select2 4.0.1
 * https://select2.github.io
 *
 * Released under the MIT license
 * https://github.com/select2/select2/blob/master/LICENSE.md
 */
.select2-container {
  margin: 0;
  position: relative;
  display: inline-block;
  /* inline-block for ie7 */
  zoom: 1;
  *display: inline;
  vertical-align: middle;
}
.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
  /*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.

    More Info : http://www.quirksmode.org/css/box.html
  */
  -webkit-box-sizing: border-box;
  /* webkit */
  -moz-box-sizing: border-box;
  /* firefox */
  box-sizing: border-box;
  /* css3 */
}
.select2-selection,
.select2-container .select2-choice {
  display: block;
  height: 32px;
  padding: 0 8px;
  overflow: hidden;
  position: relative;
  border: 1px solid #ccc;
  white-space: nowrap;
  line-height: 32px;
  color: #444;
  text-decoration: none;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  /* rtl settings */
}
.smart-rtl .select2-selection,
.smart-rtl .select2-container .select2-choice {
  text-align: right;
  margin-right: -1px;
}
.select2-container--above .select2-selection,
.select2-container.select2-drop-above .select2-choice {
  border-bottom-color: #ccc;
}
.select2-container.select2-allowclear .select2-choice .select2-chosen {
  margin-right: 42px;
}
.select2-container .select2-choice > .select2-chosen {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.select2-container .select2-choice abbr {
  display: none;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 24px;
  top: 8px;
  font-size: 1px;
  text-decoration: none;
  border: 0;
  /*background: url('@{base-url}/select2.png') right top no-repeat;*/
  cursor: pointer;
  outline: 0;
}
.select2-container.select2-allowclear .select2-choice abbr {
  display: inline-block;
}
.select2-container .select2-choice abbr:hover {
  /*background-position: right -11px;*/
  cursor: pointer;
}
.select2-drop-mask {
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 9998;
  /* styles required for IE to work */
  background: #fff;
  filter: alpha(opacity=0);
}
.select2-dropdown,
.select2-drop {
  margin-top: -1px;
  width: 100%;
  position: absolute;
  z-index: 9999;
  top: 100%;
  background: #fff;
  color: #000;
  border: 1px solid #ccc;
  border-top: 0;
  left: 0;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  /* rtl settings */
}
.smart-rtl .select2-dropdown,
.smart-rtl .select2-drop {
  direction: rtl;
  text-align: right;
}
.select2-drop-auto-width {
  border-top: 1px solid #ccc;
  width: auto;
}
.select2-container--open .select2-dropdown--above .select2-search,
.select2-drop-auto-width .select2-search {
  padding-top: 4px;
}
.select2-container--open .select2-dropdown.select2-dropdown--above,
.select2-drop.select2-drop-above {
  margin-bottom: 0px;
  border-top: 1px solid #5D98CC;
  border-top-width: 3px;
  border-bottom: 0;
  margin-top: 1px;
  -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
}
.select2-container--open .select2-dropdown,
.select2-drop-active {
  border: 1px solid #5D98CC;
  border-top: none;
  border-bottom-width: 3px;
}
.select2-container--open .select2-dropdown--above,
.select2-drop.select2-drop-above.select2-drop-active {
  border-top-width: 3px;
}
.select2-selection__arrow,
.select2-container .select2-choice .select2-arrow {
  display: inline-block;
  width: 34px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid #ccc;
  background-clip: padding-box;
  background: #eee;
  /* rtl settings */
}
.smart-rtl .select2-selection__arrow,
.smart-rtl .select2-container .select2-choice .select2-arrow {
  border-left: none;
  border-right: 1px solid #ccc;
  left: 0;
  right: auto;
}
.select2-selection__arrow b,
.select2-container .select2-choice .select2-arrow b {
  display: block;
  width: 100%;
  height: 100%;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-size: 14px;
}
.select2-selection__arrow b:before,
.select2-container .select2-choice .select2-arrow b:before {
  content: "\f107";
  width: 100%;
  height: 100%;
  text-align: center;
  display: block;
}
.select2-search {
  display: inline-block;
  width: 100%;
  min-height: 26px;
  margin: 0;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
  z-index: 10000;
  white-space: nowrap;
}
.select2-search input {
  width: 100%;
  height: auto !important;
  min-height: 29px;
  padding: 6px 20px 5px 10px;
  margin: 0;
  outline: 0;
  font-family: sans-serif;
  font-size: 1em;
  border: 1px solid #aaa;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #fff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #ffffff), color-stop(0.99, #eeeeee));
  background: -webkit-linear-gradient(center bottom, #ffffff 85%, #eeeeee 99%);
  background: -moz-linear-gradient(center bottom, #ffffff 85%, #eeeeee 99%);
  background: linear-gradient(top, #ffffff 85%, #eeeeee 99%);
  /* rtl settings */
}
.smart-rtl .select2-search input {
  padding: 6px 10px 5px 20px;
}
.select2-search:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  content: "\f002";
  top: 50%;
  margin-top: -8px;
  right: 10px;
  color: #686868 !important;
  /* rtl settings */
}
.smart-rtl .select2-search:before {
  left: 10px;
  right: auto;
}
.select2-drop.select2-drop-above .select2-search:before {
  margin-top: -5px;
}
.select2-drop.select2-drop-above .select2-search input {
  margin-top: 4px;
}
.select2-drop.select2-drop-above .select2-search:before {
  top: 34%;
}
.select2-search input.select2-active {
  background: #ffffff url('../img/select2-spinner.gif') no-repeat 100%;
  background: url('../img/select2-spinner.gif') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #ffffff), color-stop(0.99, #eeeeee));
  background: url('../img/select2-spinner.gif') no-repeat 100%, -webkit-linear-gradient(center bottom, #ffffff 85%, #eeeeee 99%);
  background: url('../img/select2-spinner.gif') no-repeat 100%, -moz-linear-gradient(center bottom, #ffffff 85%, #eeeeee 99%);
  background: url('../img/select2-spinner.gif') no-repeat 100%, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}
.select2-container--open .select2-selection,
.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  border: 1px solid #5D98CC;
  outline: none;
}
.select2-container--open .select2-selection,
.select2-dropdown-open .select2-choice {
  -webkit-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #fff;
}
.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  border: 1px solid #5D98CC;
  border-top-color: transparent;
}
.select2-container--open .select2-selection .select2-selection__arrow,
.select2-dropdown-open .select2-choice .select2-arrow {
  background: transparent;
  border-left: none;
  filter: none;
}
.select2-container--open .select2-selection .select2-selection__arrow b,
.select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -18px 1px;
}
/* results */
.select2-results {
  max-height: 200px;
  padding: 0;
  margin: 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: block;
}
.select2-results__options {
  padding: 0;
  margin: 0;
  list-style: none;
}
.select2-results ul.select2-result-sub {
  margin: 0;
  padding-left: 0;
}
.select2-results__options--nested .select2-results__option,
.select2-results ul.select2-result-sub > li .select2-result-label {
  padding-left: 20px;
}
.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 40px;
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 60px;
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 80px;
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 100px;
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 110px;
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 120px;
}
.select2-results li {
  list-style: none;
  display: list-item;
  background-image: none;
}
.select2-results li.select2-result-with-children > .select2-result-label {
  font-weight: bold;
}
.select2-results__options--nested .select2-results__option,
.select2-results .select2-results__group,
.select2-results .select2-result-label {
  padding: 3px 7px 4px;
  display: block;
  margin: 0;
  cursor: pointer;
  min-height: 1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.select2-results__option--highlighted,
.select2-results .select2-highlighted {
  background: #3276b1;
  color: #fff;
}
.select2-results li em {
  background: #feffde;
  font-style: normal;
}
.select2-results .select2-highlighted em {
  background: transparent;
}
.select2-results .select2-highlighted ul {
  background: #fff;
  color: #000;
}
.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
  background: #f4f4f4;
  display: list-item;
  padding: 3px 5px;
}
.select2-no-results {
  padding-left: 20px;
}
.select2-no-results:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f05a";
  margin-right: 5px;
}
/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
  color: #666;
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}
.select2-results .select2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}
.select2-results .select2-selected {
  display: none;
}
.select2-more-results.select2-active {
  background: #f4f4f4 url('../img/select2-spinner.gif') no-repeat 100%;
}
.select2-more-results {
  background: #f4f4f4;
  display: list-item;
}
/* disabled styles */
.select2-container.select2-container-disabled .select2-choice {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}
.select2-container.select2-container-disabled .select2-choice .select2-arrow {
  background-color: #f4f4f4;
  background-image: none;
  border-left: 0;
}
.select2-container.select2-container-disabled .select2-choice abbr {
  display: none;
}
/* multiselect */
.select2-selection--multiple,
.select2-container-multi .select2-choices {
  height: auto !important;
  margin: 0;
  padding: 0;
  position: relative;
  border: 1px solid #ccc;
  cursor: text;
  overflow: hidden;
  background-color: #fff;
}
.select2-locked {
  padding: 3px 5px 3px 5px !important;
}
.select2-container-multi .select2-choices {
  min-height: 26px;
}
.select2-container-multi.select2-container-active .select2-choices {
  border: 1px solid #5D98CC;
  outline: none;
}
.select2-selection__choice,
.select2-container-multi .select2-choices li {
  float: left;
  list-style: none;
  /* rtl settings */
}
.smart-rtl .select2-selection__choice,
.smart-rtl .select2-container-multi .select2-choices li {
  float: right;
}
.select2-container-multi .select2-choices .select2-search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.select2-container-multi .select2-choices .select2-search-field input {
  padding: 5px;
  margin: 1px 0;
  font-family: sans-serif;
  font-size: 100%;
  color: #666;
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent !important;
}
.select2-container-multi .select2-choices .select2-search-field input.select2-active {
  background: #ffffff url('../img/select2-spinner.gif') no-repeat 100% !important;
}
.select2-default {
  color: #999 !important;
}
.select2-selection__choice,
.select2-container-multi .select2-choices .select2-search-choice {
  padding: 1px 28px 1px 8px;
  margin: 4px 0 3px 5px;
  position: relative;
  line-height: 18px;
  color: #fff;
  cursor: default;
  border: 1px solid #2a6395;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #3276b1;
  /* rtl settings */
}
.smart-rtl .select2-selection__choice,
.smart-rtl .select2-container-multi .select2-choices .select2-search-choice {
  margin: 4px 5px 3px 0;
}
.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
  cursor: default;
}
.select2-container-multi .select2-choices .select2-search-choice-focus {
  opacity: .8;
}
.select2-selection__clear,
.select2-search-choice-close {
  display: none;
}
.select2-selection__choice__remove,
.select2-container-multi .select2-search-choice-close {
  display: block;
  top: 0;
  right: 0;
  padding: 3px 4px 3px 6px;
}
.select2-selection__choice__remove:before {
  content: "\f057";
  display: block;
  font-size: 15px;
}
.select2-selection__choice__remove {
  font-family: FontAwesome;
  font-size: 0;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  min-height: 20px;
  min-width: 21px;
  position: absolute;
  text-decoration: none !important;
}
.select2-selection__rendered {
  padding: 0;
}
.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent none repeat scroll 0 0;
  border: 0;
  box-shadow: none;
  outline: 0;
  box-sizing: border-box;
  font-size: 100%;
  margin-top: 0;
  padding: 0;
  /* rtl settings */
}
.smart-rtl .select2-container--default .select2-search--inline .select2-search__field {
  text-align: right;
}
.select2-container .select2-search--inline {
  float: left;
  width: auto;
  line-height: 28px;
  /* rtl settings */
}
.smart-rtl .select2-container .select2-search--inline {
  float: right;
}
.select2-container .select2-search--inline:before {
  display: none !important;
}
.select2-selection__choice__remove:hover,
.select2-container-multi .select2-search-choice-close:hover {
  background: rgba(0, 0, 0, 0.3);
}
/*
.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: right -11px;
}
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
    background-position: right -11px;
}*/
/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
  padding: 3px 5px;
  border: 1px solid #4a90cc;
  background-image: none;
  background-color: #86b4dd;
  cursor: not-allowed;
}
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
  display: none;
  background: none;
}
/* end multiselect */
.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
  text-decoration: underline;
}
.select2-offscreen,
.select2-offscreen:focus {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important;
}
.select2-hidden-accessible,
.select2-display-none {
  display: none;
}
.select2-measure-scrollbar {
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: 100px;
  height: 100px;
  overflow: scroll;
}
/*
 * ADJUSTMENTS
 */
.has-error .select2-choice,
.has-error .select2-container .select2-choice .select2-arrow,
.has-error .select2-container-multi .select2-choices {
  border-color: #b94a48;
}
.has-error .select2-container .select2-choice .select2-arrow {
  background: #f2dede;
  color: #b94a48;
}
.has-error .select2-dropdown-open .select2-choice {
  border-color: #5D98CC !important;
}
.select2-drop.select2-drop-above.select2-drop-active {
  margin-top: 2px;
}
.editable-input > .select2-container {
  min-width: 200px;
}
/*! X-editable - v1.5.0
* In-place editing with Twitter Bootstrap, jQuery UI or pure jQuery
* http://github.com/vitalets/x-editable
* Copyright (c) 2013 Vitaliy Potapov; Licensed MIT */
.editableform {
  margin-bottom: 0;
  /* overwrites bootstrap margin */
}
.editableform .control-group {
  margin-bottom: 0;
  /* overwrites bootstrap margin */
  white-space: nowrap;
  /* prevent wrapping buttons on new line */
}
.editable-buttons {
  display: inline-block;
  /* should be inline to take effect of parent's white-space: nowrap */
  vertical-align: top;
  margin-left: 7px;
  /* inline-block emulation for IE7*/
  zoom: 1;
  *display: inline;
}
.editable-buttons.editable-buttons-bottom {
  display: block;
  margin-top: 7px;
  margin-left: 0;
}
.editable-input {
  vertical-align: top;
  display: inline-block;
  /* should be inline to take effect of parent's white-space: nowrap */
  width: auto;
  /* bootstrap-responsive has width: 100% that breakes layout */
  white-space: normal;
  /* reset white-space decalred in parent*/
  /* display-inline emulation for IE7*/
  zoom: 1;
  *display: inline;
}
.editable-buttons .editable-cancel {
  margin-left: 7px;
}
/*for jquery-ui buttons need set height to look more pretty*/
.editable-buttons button.ui-button-icon-only {
  height: 24px;
  width: 30px;
}
.editableform-loading {
  background: url('../img/loading.gif') center center no-repeat;
  height: 25px;
  width: auto;
  min-width: 25px;
}
.editable-inline .editableform-loading {
  background-position: left 5px;
}
.editable-error-block {
  max-width: 300px;
  margin: 5px 0 0 0;
  width: auto;
  white-space: normal;
}
/*add padding for jquery ui*/
.editable-error-block.ui-state-error {
  padding: 3px;
}
.editable-error {
  color: red;
}
/* ---- For specific types ---- */
.editableform .editable-date {
  padding: 0;
  margin: 0;
  float: left;
}
/* move datepicker icon to center of add-on button. See https://github.com/vitalets/x-editable/issues/183 */
.editable-inline .add-on .icon-th {
  margin-top: 3px;
  margin-left: 1px;
}
/* checklist vertical alignment */
.editable-checklist label input[type="checkbox"],
.editable-checklist label span {
  vertical-align: middle;
  margin: 0;
}
.editable-checklist label {
  white-space: nowrap;
}
/* set exact width of textarea to fit buttons toolbar */
.editable-wysihtml5 {
  width: 566px;
  height: 250px;
}
/* clear button shown as link in date inputs */
.editable-clear {
  clear: both;
  font-size: 0.9em;
  text-decoration: none;
  text-align: right;
}
/* IOS-style clear button for text inputs */
.editable-clear-x {
  background: url('../img/clear.png') center center no-repeat;
  display: block;
  width: 13px;
  height: 13px;
  position: absolute;
  opacity: 0.6;
  z-index: 100;
  top: 50%;
  right: 6px;
  margin-top: -6px;
}
.editable-clear-x:hover {
  opacity: 1;
}
.editable-pre-wrapped {
  white-space: pre-wrap;
}
.editable-container.editable-popup {
  max-width: none !important;
  /* without this rule poshytip/tooltip does not stretch */
}
.editable-container.popover {
  width: auto;
  /* without this rule popover does not stretch */
}
.editable-container.editable-inline {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  /* inline-block emulation for IE7*/
  zoom: 1;
  *display: inline;
}
.editable-container.ui-widget {
  font-size: inherit;
  /* jqueryui widget font 1.1em too big, overwrite it */
  z-index: 9990;
  /* should be less than select2 dropdown z-index to close dropdown first when click */
}
.editable-click,
a.editable-click,
a.editable-click:hover {
  text-decoration: none;
  border-bottom: dashed 1px #0088cc;
}
.editable-click.editable-disabled,
a.editable-click.editable-disabled,
a.editable-click.editable-disabled:hover {
  color: #585858;
  cursor: default;
  border-bottom: none;
}
.editable-empty,
.editable-empty:hover,
.editable-empty:focus {
  font-style: italic;
  color: #DD1144;
  /* border-bottom: none; */
  text-decoration: none;
}
.editable-unsaved {
  font-weight: bold;
}
.editable-unsaved:after {
  /*    content: '*'*/
}
.editable-bg-transition {
  -webkit-transition: background-color 1400ms ease-out;
  -moz-transition: background-color 1400ms ease-out;
  -o-transition: background-color 1400ms ease-out;
  -ms-transition: background-color 1400ms ease-out;
  transition: background-color 1400ms ease-out;
}
/*see https://github.com/vitalets/x-editable/issues/139 */
.form-horizontal .editable {
  padding-top: 5px;
  display: inline-block;
}
/*
 * x-editable CSS
 */
.editable-address {
  display: block;
  margin-bottom: 5px;
}
.editable-address span {
  width: 70px;
  display: inline-block;
}
/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.editable-input .datepicker {
  top: 0;
  left: 0;
  padding: 4px;
  /*.dow {
    border-top: 1px solid #ddd !important;
  }*/
}
.editable-input .datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}
.editable-input .datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}
.editable-input .datepicker > div {
  display: none;
}
.editable-input .datepicker table {
  width: 100%;
  min-width: 214px;
  margin: 0;
}
.editable-input .datepicker td,
.editable-input .datepicker th {
  text-align: center;
  width: 24px;
  height: 20px;
}
.editable-input .datepicker td.day:hover {
  background: #eeeeee;
  cursor: pointer;
}
.editable-input .datepicker td.day.disabled {
  color: #555555;
}
.editable-input .datepicker td.old,
.editable-input .datepicker td.new {
  color: #555555;
}
.editable-input .datepicker td.active,
.editable-input .datepicker td.active:hover {
  background: #3276b1;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}
.editable-input .datepicker td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
}
.editable-input .datepicker td span:hover {
  background: #eeeeee;
}
.editable-input .datepicker td span.active {
  background: #3276b1;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}
.editable-input .datepicker td span.old {
  color: #555555;
}
.editable-input .datepicker th.switch {
  width: 145px;
}
.editable-input .datepicker th.next,
.editable-input .datepicker th.prev {
  font-size: 19.5px;
}
.editable-input .datepicker thead tr:first-child th {
  cursor: pointer;
}
.editable-input .datepicker thead tr:first-child th:hover {
  background: #eeeeee;
}
.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.editable-input .datepicker .next i,
.datepicker .prev i {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}
.editable-input .datepicker .prev i:before {
  content: "\f060";
}
.editable-input .datepicker .next i:before {
  content: "\f061";
}
/*Messagebox */
.divMessageBox {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100000;
}
.MessageBoxContainer {
  top: 35%;
  color: white;
  position: relative;
  width: 100%;
  background-color: #232323;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
}
.MessageBoxMiddle {
  position: relative;
  left: 20%;
  width: 60%;
}
.MessageBoxMiddle .MsgTitle {
  letter-spacing: -1px;
  font-size: 24px;
  font-weight: 300;
}
.MessageBoxMiddle .pText {
  font-size: 13px;
}
.MessageBoxContainer input {
  width: 50%;
  padding: 5px;
}
.MessageBoxContainer select {
  width: 50%;
  padding: 5px;
}
.MessageBoxButtonSection {
  width: 100%;
  height: 30px;
}
.MessageBoxButtonSection button {
  float: right;
  margin-right: 7px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  font-weight: bold;
}
/* End of MessageBox */
.LoadingBoxContainer {
  top: 20%;
  color: white;
  position: relative;
  width: 100%;
  background-color: #232323;
}
.LoadingBoxMiddle {
  position: relative;
  left: 20%;
  width: 50%;
  padding: 10px;
}
.LoadingBoxContainer .MsgTitle {
  font-size: 26px;
}
.LoadingBoxContainer .pText {
  font-size: 13px;
}
#LoadingPoints {
  position: absolute;
}
/* bigBoxes */
.bigBox {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-color: #004d60;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  width: 390px;
  height: 150px;
  color: white;
  z-index: 99999;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  border-left: 5px solid rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.bigBox span {
  font-size: 17px;
  font-weight: 300;
  letter-spacing: -1px;
  padding: 5px 0 !important;
  display: block;
}
.bigBox p {
  font-size: 13px;
  margin-top: 10px;
}
#divMiniIcons {
  position: fixed;
  width: 415px;
  right: 10px;
  bottom: 180px;
  z-index: 9999;
  float: right;
}
.botClose {
  position: absolute;
  right: 10px;
  height: 16px;
  width: 15px;
  cursor: pointer;
  font-size: 18px;
  opacity: .5;
  display: block;
  top: 15px;
}
.botClose:hover {
  opacity: 1;
}
#divMiniIcons .cajita {
  text-align: center;
  vertical-align: middle;
  padding: 4px 6px;
  color: #FFF;
  float: right;
  cursor: pointer;
  display: block;
  background-color: #F00;
  font-size: 17px;
  margin-left: 4px;
  margin-top: 5px;
}
#divMiniIcons .cajita:active {
  top: 1px;
  left: 1px;
  position: relative;
}
.cajita img {
  width: 23px;
  height: 23px;
  padding-left: 3px;
  padding-top: 3px;
}
.bigBox .bigboxicon {
  font-size: 30px;
  text-align: left;
  position: absolute;
  top: 120px;
  left: 6px;
  z-index: 0;
}
.bigBox .bigboxnumber {
  width: 100%;
  text-align: right;
  font-size: 25px;
}
/* End of  bigBoxes */
/* SmallBox */
#divSmallBoxes {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}
