<div id="content">
    <div class="well well-white" ng-switch="viewContactCtrl.contact.can_edit">
        <h2 class="txt-color-blueDark semi-bold prod-review-title no-padding">
            {{viewContactCtrl.visual.titles + viewContactCtrl.contact.email}}
        </h2>
        <form-nav-buttons options="viewContactCtrl.visual.navButtsOptions" class="btn-group margin-top-10">
        </form-nav-buttons>
        <hr />
        <div class="row margin-top-10">
            <p class="col-xs-12 col-md-3 font-bold">Имя:</p>
            <p class="col-md-9" ng-switch-when="true">
                <a editable-text="viewContactCtrl.contact.first_name" buttons="no"
                   onaftersave="viewContactCtrl.saveContact()">
                    {{viewContactCtrl.contact.first_name || 'Нет'}}
                </a>
            </p>
            <p ng-switch-default class="col-md-9">{{viewContactCtrl.contact.first_name}}</p>
        </div>
        <div class="row margin-top-10">
            <p class="col-xs-12 col-md-3 font-bold">Фамилия:</p>
            <p class="col-md-9" ng-switch-when="true">
                <a editable-text="viewContactCtrl.contact.last_name" buttons="no"
                   onaftersave="viewContactCtrl.saveContact()">
                    {{viewContactCtrl.contact.last_name || 'Нет'}}
                </a>
            </p>
            <p ng-switch-default class="col-md-9">{{viewContactCtrl.contact.last_name}}</p>
        </div>
        <div class="row margin-top-10">
            <p class="col-xs-12 col-md-3 font-bold">Партнёр:</p>
            <div class="col-md-9" ng-switch-when="true">
                <a ng-hide="viewContactCtrl.contact.partner.x_editable_show" class="editable-click"
                   ng-click="viewContactCtrl.contact.partner.x_editable_show=true;">
                    {{viewContactCtrl.contact.partner.name || 'Нет'}}
                </a>
                <div ng-if="viewContactCtrl.contact.partner.x_editable_show">
                    <ui-select ui-select-infinity="viewContactCtrl.partnerSelectConfig" theme="select2"
                               ng-model="viewContactCtrl.contact.partner" style="width: 50%;" ng-disabled="disabled"
                               on-select="viewContactCtrl.saveContact()">
                        <ui-select-match placeholder="Партнер не выбран">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="partner in viewContactCtrl.data.partnersList|filter:$select.search">
                            <div ng-bind-html="partner.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <button type="button" ng-click="viewContactCtrl.contact.partner.x_editable_show=false;"
                            class="btn btn-default">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button ng-click="viewContactCtrl.goToPartner()" type="button" class="btn btn-default">
                        <span class="fa fa-eye"></span>
                    </button>
                </div>
            </div>
            <p class="col-md-9" ng-switch-default>
                <a ng-href="/#/partners/{{viewContactCtrl.contact.partner.id }}">
                    {{viewContactCtrl.contact.partner.name}}
                </a>
            </p>
        </div>
        <div class="row margin-top-10">
            <p class="col-xs-12 col-md-3 font-bold">Мобильный тел:</p>
            <p class="col-md-9" ng-switch-when="true">
                <a editable-text="viewContactCtrl.contact.mobile" buttons="no"
                   onaftersave="viewContactCtrl.saveContact()">
                    {{viewContactCtrl.contact.mobile || 'Нет'}}
                </a>
            </p>
            <p ng-switch-default class="col-md-9">{{viewContactCtrl.contact.mobile}}</p>
        </div>
        <div class="row margin-top-10">
            <p class="col-xs-12 col-md-3 font-bold">Email:</p>
            <p class="col-md-9" ng-switch-when="true">
                <a editable-text="viewContactCtrl.contact.email" buttons="no"
                   onaftersave="viewContactCtrl.saveContact()">
                    {{viewContactCtrl.contact.email}}
                </a>
            </p>
            <p ng-switch-default class="col-md-9">{{viewContactCtrl.contact.email}}</p>
        </div>
        <div class="row margin-top-10" ng-switch-when="true">
            <p class="col-xs-12 col-md-3 font-bold">Не высылать email-ы:</p>
            <p class="col-md-9">
                <a editable-checkbox="viewContactCtrl.contact.do_not_email" onaftersave="viewContactCtrl.saveContact()">
                    {{viewContactCtrl.contact.do_not_email && 'Высылать!' || 'Не высылать'}}
                </a>
            </p>
        </div>
        <div class="row margin-top-10" ng-switch-when="true">
            <p class="col-xs-12 col-md-3 font-bold">Отправка заказов поставщика:</p>
            <p class="col-md-9">
                <a editable-checkbox="viewContactCtrl.contact.procurement_emails" onaftersave="viewContactCtrl.saveContact()">
                    {{viewContactCtrl.contact.procurement_emails && 'Высылать!' || 'Не высылать'}}
                </a>
            </p>
        </div>
        <div class="row margin-top-10" ng-if="viewContactCtrl.contact.can_api_token">
            <p class="col-xs-12 col-md-3 font-bold">Ключ API:</p>
            <p class="col-md-9">
                {{ viewContactCtrl.contact.api_token || "Надо сгенерировать ключ"}}
                <a ng-click="viewContactCtrl.generateApiToken()">(сгенерировать)</a>
            </p>
        </div>
    </div>
    <ul class="nav nav-tabs bordered" id="myTab1">
        <li class="active"><a data-toggle="tab" href="#s1">Просмотренные товары</a></li>
        <li><a data-toggle="tab" href="#s2">Поисковые запросы</a></li>
    </ul>
    <div class="tab-content padding-10" id="myTabContent1" style="background: white;">
        <div class="tab-pane fade in active" id="s1">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Товар</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='item in viewContactCtrl.contact.last_viewed_products'>
                        <td>{{ item.created_at | date:'dd MMMM yy' }}</td>
                        <td>{{ item.product.name }}, {{ item.product.article }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="s2">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Запрос</th>
                        <th>Результатов</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in viewContactCtrl.contact.last_search_queries">
                        <td>{{ item.created_at | date:'dd MMMM yy' }}</td>
                        <td>{{ item.query }}</td>
                        <td>{{ item.products_found }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>