<table class="table table-bordered table-margined-top" infinite-scroll="$ctrl.loadItems()">
    <thead>
    <tr>
        <th>#</th>
        <th>Наименование</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in $ctrl.items">
        <td>{{ $index + 1 }}</td>
        <td>{{row.name}}</td>
        <td class="center-item-text">
            <form-nav-buttons class="btn-group" content-class="btn btn-xs" data-template="table" data-role="row"
                              data-options="$ctrl.navOptions" subdata="{data:row, index:$index}">
            </form-nav-buttons>
        </td>
    </tr>
    </tbody>
</table>