<div id="content">
    <div class="well well-white" ng-switch="viewPdfCatalogueCtrl.pdfCatalogue.can_edit">
        <h2 class="txt-color-blueDark semi-bold prod-review-title no-padding">PDF Каталог "{{ viewPdfCatalogueCtrl.pdfCatalogue.name }}"</h2>
        <form-nav-buttons options="viewPdfCatalogueCtrl.visual.navButtsOptions" class="btn-group margin-top-10"></form-nav-buttons>
        <hr>
        <div class="row margin-top-10">
            <p class="col-xs-12 col-md-3 font-bold">
                Название:
            </p>
            <p class="col-md-9">
                <a ng-if="viewPdfCatalogueCtrl.pdfCatalogue.can_edit" editable-text="viewPdfCatalogueCtrl.pdfCatalogue.name" onaftersave="viewPdfCatalogueCtrl.savePdfCatalogue()">
                    {{ viewPdfCatalogueCtrl.pdfCatalogue.name || 'Нет названия' }}
                </a>
                <span ng-if="!viewPdfCatalogueCtrl.pdfCatalogue.can_edit">
                    {{ viewPdfCatalogueCtrl.pdfCatalogue.name || 'Нет названия' }}
                </span>
            </p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">
                Описание:
            </p>
            <div class="col-md-9" ng-switch-when="true">
                <pre class="full-editable-area"><a editable-textarea="viewPdfCatalogueCtrl.pdfCatalogue.description" onaftersave="viewPdfCatalogueCtrl.savePdfCatalogue()">{{ viewPdfCatalogueCtrl.pdfCatalogue.description || 'Нет' }}</a></pre>
            </div>
            <p ng-switch-default class="col-md-9">{{ viewPdfCatalogueCtrl.pdfCatalogue.description || 'Нет описания' }}</p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">
                Производитель:
            </p>
            <div class="col-md-9" ng-switch-when="true">
                <a ng-hide="viewPdfCatalogueCtrl.pdfCatalogue.manufacturer.x_editable_show" class="editable-click"
                   ng-click="viewPdfCatalogueCtrl.pdfCatalogue.manufacturer.x_editable_show=true;">
                    {{ iewPdfCatalogueCtrl.pdfCatalogue.manufacturer.name || 'Нет' }}
                </a>
                <div ng-if="viewPdfCatalogueCtrl.pdfCatalogue.manufacturer.x_editable_show">
                    <ui-select ui-select-infinity="viewPdfCatalogueCtrl.manufacturerSelectConfig" theme="select2"
                               ng-model="viewPdfCatalogueCtrl.pdfCatalogue.manufacturer" style="width: 50%;" ng-disabled="disabled"
                               on-select="viewPdfCatalogueCtrl.savePdfCatalogue()">
                        <ui-select-match placeholder="Партнер не выбран">{{ $select.selected.name }}</ui-select-match>
                        <ui-select-choices repeat="manufacturer in viewPdfCatalogueCtrl.data.manufacturersList|filter:$select.search">
                            <div ng-bind-html="manufacturer.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <button type="button" ng-click="viewPdfCatalogueCtrl.pdfCatalogue.manufacturer.x_editable_show=false;"
                            class="btn btn-default">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button ng-click="viewPdfCatalogueCtrl.goToManufacturer()" type="button" class="btn btn-default">
                        <span class="fa fa-eye"></span>
                    </button>
                </div>
            </div>
            <p class="col-md-9" ng-switch-default>
                <a ng-href="/#/manufacturers/{{viewPdfCatalogueCtrl.pdfCatalogue.manufacturer.id }}">
                    {{ viewPdfCatalogueCtrl.pdfCatalogue.manufacturer.name }}
                </a>
            </p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">
                Ссылка на каталог:
            </p>
            <p class="col-md-9">
                <a href="#" ng-href="{{ viewPdfCatalogueCtrl.pdfCatalogue.file_url }}" target="_blank">Скачать</a>
            </p>
        </div>
    </div>
    <div class="well well-white">
        <div>
            <input class="form-control" ng-model="viewPdfCatalogueCtrl.addableQuery" placeholder="Поисковый запрс" type="text" ng-change="viewPdfCatalogueCtrl.addableSearch()">
        </div>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th class="hidden-xs"></th>
                    <th>Номенкалутра</th>
                    <th class="hidden-xs">Артикул</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='product in viewPdfCatalogueCtrl.addableProductsList'>
                    <td class="hidden-xs"></td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.article }}</td>
                    <td class="center">
                        <div ng-click="viewPdfCatalogueCtrl.addProduct(product)" class="ng-scope btn btn-xs btn-danger">
                            <i class="fa fa-plus">
                        </div>
                    </td>
                </tr>
                <tr ng-repeat='product in viewPdfCatalogueCtrl.pdfCatalogue.products'>
                    <td class="hidden-xs">{{ $index + 1 }}</td>
                    <td>
                        <a ng-href="/#/products/{{ product.id }}">{{ product.name }}</a>
                    </td>
                    <td class="hidden-xs">{{ product.article }}</td>
                    <td class="center">
                        <div ng-disabled="product.can_destroy" ng-click="viewPdfCatalogueCtrl.removeProduct(product)" class="ng-scope btn btn-xs btn-danger">
                            <i class="fa fa-trash-o"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>