<table class="table table-bordered table-margined-top" infinite-scroll="$ctrl.loadItems()">
    <thead>
    <tr>
        <th class="hidden-xs">#</th>
        <th class="hidden-xs"><i class="fa fa-truck"></i></th>
        <th>Номер</th>
        <th>Дата</th>
        <th>Статус</th>
        <th>Партнер</th>
        <th>Итого</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in $ctrl.items">
        <td class="hidden-xs">{{$index +1}}</td>
        <td>
            {{ row.transportation.value.substring(0,3) }}
        </td>
        <td>
            <te-copy-to-buffer>
                <a href="/#/customer_orders/{{ row.id }}">
                    <span te-buffer-value>{{row.number}}</span>
                </a>
            </te-copy-to-buffer>
        </td>
        <td>{{row.date | date:'dd/MM/yy HH:mm'}}</td>
        <td>{{row.status}}</td>
        <td>{{row.partner.name}}</td>
        <td>{{row.total | currency}}</td>
        <td class="center-item-text">
            <form-nav-buttons data-role="row" class="btn-group" content-class="btn btn-xs" data-template="table"
                              data-options="$ctrl.navOptions" subdata="{data:row, index:$index}">
            </form-nav-buttons>
        </td>
    </tr>
    </tbody>
</table>