<div id="content">
    <div class="well well-white">
        <h2 class="txt-color-blueDark semi-bold prod-review-title no-padding">{{visual.titles + receiveOrder.number}}</h2>
        <form-nav-buttons options="visual.navButtsOptions" class="btn-group margin-top-10"></form-nav-buttons>
        <hr>
        <div class="row margin-top-10">
            <p class="col-xs-12 col-md-3 font-bold">
                Номер накладной:
            </p>
            <p class="col-md-9">{{receiveOrder.number}}</p>
        </div>
        <div class="row margin-top-10">
            <p class="col-xs-12 col-md-3 font-bold">
                Номер счёт-фактуры:
            </p>
            <p class="col-md-9">{{receiveOrder.vat_code}}</p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">
                Дата:
            </p>
            <p class="col-md-9">{{receiveOrder.date | date:'dd MMMM yy'}}</p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">
                Партнёр:
            </p>
            <p class="col-md-9">
                <a ng-href="/admin/#/partners/{{receiveOrder.partner.id}}">{{receiveOrder.partner.name}}</a>
            </p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">
                Статус:
            </p>
            <p class="col-md-9">{{receiveOrder.status}}</p>
        </div>
    </div>
    
    <div class="well well-white">
        <table class="table table-bordered margin-top-10">
            <thead>
                <tr>
                    <th></th>
                    <th>Наименование</th>
                    <th>Кол-во</th>
                    <th>Итого</th>
                    <th>ГТД/Страна</th>
                    <th>Заказ</th>
                    <th ng-if="visual.roles.can_destroy"></th>
                </tr>
            </thead>
            <tbody>
            <tr ng-if="visual.roles.can_destroy">
                <td></td>
                <td>
                    <ui-select id="vro_prod_select"  ui-select-infinity="productSelectConf" ng-model="data.productForAppend" theme="select2" class="td-ui-select" style="max-width: 310px;" on-select="onSelectProduct($item)">
                        <ui-select-match>{{$select.selected.product.name}}</ui-select-match>
                        <ui-select-choices repeat="order in ordersList">
                            <div ng-bind-html="order.product.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </td>
                <td>
                    <input class="form-control table-input" ng-model="data.productForAppend.quantity" model-filter="{min:0}" filter-name="te_number" type="text" ng-keypress="appendOrder($event)">
                </td>
                <td>
                    <input class="form-control table-input" ng-model="data.productForAppend.total" model-filter="{min:0, number:true}" filter-name="te_number" type="text" ng-keypress="appendOrder($event)">
                </td>
                <td>
                    <div class="display-flex" style="align-items: center;">
                        <input class="form-control table-input" ng-model="data.productForAppend.gtd" type="text" placeholder="ГТД" ng-keypress="appendOrder($event)">
                        &nbsp;/&nbsp;
                        <input class="form-control table-input" ng-model="data.productForAppend.country" type="text" placeholder="Страна" ng-keypress="appendOrder($event)">
                    </div>
                </td>
                <td>{{data.productForAppend.supplier_order.number || 'не указан'}}</td>
                <td class="center-item-text">
                    <div ng-click="appendOrder()" class="btn btn-success" ng-disabled="!data.productForAppend.product">
                        <i class="fa fa-plus"></i>
                    </div>
                </td>
            </tr>
                <tr ng-repeat="item in receiveOrder.product_order_contents" ng-switch="visual.roles.can_destroy">
                    <td>{{ $index + 1 }}</td>
                    <td>
                        <a ng-href="#/products/{{ item.product.id }}">
                            {{ item.product.name }} ({{ item.product.article }})
                        </a>
                    </td>
                    <td>
                        <a ng-switch-when="true" editable-number="item.quantity" onaftersave="updateContentsProduct({data:item, index:$index})" e-min="0" buttons="no">{{ item.quantity }}</a>
                        <span ng-switch-default>{{ item.quantity || 0}}</span>
                    </td>
                    <td class="text-right">
                        <a ng-switch-when="true" editable-text="item.total" onaftersave="updateContentsProduct({data:item, index:$index})" buttons="no">{{ (item.total || 0) | currency}}</a>
                        <span ng-switch-default>{{ item.total | currency }}</span>
                    </td>
                    <td>
                        <span ng-switch-when="true">
                            <a editable-text="item.gtd" buttons="no" onaftersave="updateContentsProduct({data:item, index:$index})">{{ item.gtd || 'Пусто'}}</a>
                            <span>&nbsp; / &nbsp;</span>
                            <a editable-text="item.country" buttons="no" onaftersave="updateContentsProduct({data:item, index:$index})">{{ item.country || 'Пусто'}}</a>
                        </span>
                        <span ng-switch-default ng-if="item.gtd">{{ item.gtd + ' / ' + item.country }}</span>
                    </td>
                    <td>
                        <a href="/admin/#/supplier_orders/{{item.supplier_order.id}}">
                            {{ item.supplier_order.number }}
                        </a>
                    </td>
                    <td ng-if="visual.roles.can_destroy">
                        <form-nav-buttons data-role="visual.roles" class="btn-group" subdata="{data:item, index:$index}" data-options="visual.navTableButts" data-template="table" content-class="btn btn-xs"></form-nav-buttons>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="text-right">Итого:</td>
                    <td>{{ receiveOrder.total | currency }}</td>
                    <td colspan="2"></td>
                    <td ng-if="visual.roles.can_destroy"></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="well well-white" nv-file-drop="" uploader="uploader" filters="queueLimit">
        <div ng-show="uploader.isHTML5" class="well my-drop-zone" nv-file-over="" uploader="uploader">
            Приложить файл
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="document in receiveOrder.documents">
                    <td>{{ document.name }}</td>
                    <td><a href="{{document.document_url}}">Скачать</a></td>
                </tr>
                <tr ng-repeat="item in uploader.queue">
                    <td>{{ item.file.name }}</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Загрузить
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Удалить
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>