<div id="content">
    <div class="row">
        <big-breadcrumbs items="receiveOrdersCtrl.visual.titles" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"
                         data-icon="edit">
        </big-breadcrumbs>
    </div>
    <div class="well">
        <form-nav-buttons options="receiveOrdersCtrl.visual.navButtsOptions" class="btn-group"></form-nav-buttons>
        <hr>
        <orders-filter data-search-query="receiveOrdersCtrl.data.searchQuery" data-to-state="app.receive_orders">
        </orders-filter>
        <table class="table table-bordered table-margined-top" infinite-scroll infinite-scroll-disabled="false"
               te-lazy-helper data-list="receiveOrdersCtrl.data.ordersList"
               data-search-query="receiveOrdersCtrl.data.searchQuery" data-server-api-method="getReceiveOrders">
            <thead>
                <tr>
                    <th class="hidden-xs">№</th>
                    <th>Номер</th>
                    <th class="hidden-xs">Дата</th>
                    <th class="hidden-xs">Статус</th>
                    <th class="hidden-xs">Партнер</th>
                    <th class="hidden-xs">Итого</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in receiveOrdersCtrl.data.ordersList">
                    <td class="hidden-xs">{{$index +1}}</td>
                    <td>{{row.number}}</td>
                    <td class="hidden-xs">{{row.date | date:'dd/MM/yy HH:mm'}}</td>
                    <td class="hidden-xs">{{row.status}}</td>
                    <td class="hidden-xs">{{row.partner.name}}</td>
                    <td class="hidden-xs">{{row.total | currency}}</td>
                    <td class="center-item-text">
                        <form-nav-buttons data-role="receiveOrdersCtrl.visual.role" subdata="{data:row, index:$index}"
                                          data-options="receiveOrdersCtrl.visual.navTableButts" data-template="table"
                                          content-class="btn btn-xs" class="btn-group">
                        </form-nav-buttons>
                    </td>
                </tr>
            </tbody>
        </table>
        <te-scroll-top></te-scroll-top>
    </div>
    <div class="modal fade" id="createNewReceiveOrderModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">Создать новое поступление</h4>
                </div>
                <div class="modal-body">
                    <section class="form-group">
                        <label class="control-label">Партнер</label>
                        <span>
                            <ui-select-infinity config="receiveOrdersCtrl.partnerSelectConfig"
                                                view="app/receive_orders/components/receive-orders/partials/ui-select-infinity.html"
                                                ng-model="receiveOrdersCtrl.newOrderData.partner">
                            </ui-select-infinity>
                        </span>
                    </section>
                    <section class="form-group">
                        <label class="control-label" for="newOrderData.date">Дата</label>
                        <div class="input-group">
                            <input type="text" ng-model="receiveOrdersCtrl.newOrderData.date" style="position: initial;"
                                   class="full-width input-sm form-control" id="newOrderData.date" />
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                        </div>
                    </section>
                    <section class="form-group">
                        <label class="control-label" for="new-order-number">Номер накладной</label>
                        <input type="text" ng-model="receiveOrdersCtrl.newOrderData.number"
                               class="input-sm form-control" id="new-order-number">
                    </section>
                    <section class="form-group">
                        <label class="control-label" for="new-order-vat-code">Номер счёт-фактуры</label>
                        <input type="text" ng-model="receiveOrdersCtrl.newOrderData.vat_code"
                               class="input-sm form-control" id="new-order-vat-code">
                    </section>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" ng-click="receiveOrdersCtrl.clearCreateOrder()"
                            type="button">
                        Отмена
                    </button>
                    <button class="btn btn-primary" data-dismiss="modal" ng-click="receiveOrdersCtrl.addNewOrder()"
                            type="button">
                        Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>