<table class="table table-bordered table-margined-top" infinite-scroll infinite-scroll-disabled="false" te-lazy-helper
       data-list="$ctrl.cataloguesList" data-search-query="$ctrl.searchQuery" data-server-api-method="getCatalogues">
    <thead>
    <tr>
        <th>#</th>
        <th>Наименование</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in $ctrl.cataloguesList">
        <td>{{ $index + 1 }}</td>
        <td>{{row.name}}</td>
        <td class="center-item-text">
            <form-nav-buttons data-role="row" class="btn-group" data-options="$ctrl.navTableButts"
                              subdata="row" data-template="table" content-class="btn btn-xs">
            </form-nav-buttons>
        </td>
    </tr>
    </tbody>
</table>