<div id="content">
    <div class="well well-white">
        <h2 class="txt-color-blueDark semi-bold prod-review-title no-padding">
            {{viewIncomingTransferCtrl.visual.titles + viewIncomingTransferCtrl.incomingTransfer.number}}
        </h2>
        <form-nav-buttons options="viewIncomingTransferCtrl.visual.navButtsOptions" class="btn-group margin-top-10">
        </form-nav-buttons>
        <hr>
        <div class="row margin-top-10">
            <p class="col-xs-12 col-md-3 font-bold">
                Входящий номер:
            </p>
            <p class="col-md-9">{{viewIncomingTransferCtrl.incomingTransfer.number}}</p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">
                Партнёр:
            </p>
            <p class="col-md-9">
                <a ng-href="/#/partners/{{viewIncomingTransferCtrl.incomingTransfer.partner.id}}">
                    {{viewIncomingTransferCtrl.incomingTransfer.partner.name}}
                </a>
            </p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">
                Входящая дата:
            </p>
            <p class="col-md-9">{{viewIncomingTransferCtrl.incomingTransfer.date | date:'dd MMMM yy'}}</p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">
                Назчание:
            </p>
            <p class="col-md-9">{{viewIncomingTransferCtrl.incomingTransfer.description}}</p>
        </div>
    </div>

    <div class="well well-white">
        <div class="margin-bottom-10 m-r-10">
            Свободно средств: {{viewIncomingTransferCtrl.incomingTransfer.remaining_amount | currency}}
        </div>

        <table class="table table-bordered margin-top-10"
               ng-if="viewIncomingTransferCtrl.incomingTransfer.can_edit && (viewIncomingTransferCtrl.incomingTransfer.remaining_amount > 0)">
            <thead>
            <tr>
                <th>Заказ клиента/Исходящий платеж</th>
                <th>Сумма</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div ng-include="'app/incoming_transfers/components/view-incoming-transfer/partials/ui-select-infinity.html'"></div>
                    </td>
                    <td ng-keypress="viewIncomingTransferCtrl.data.orderForAppend.id && viewIncomingTransferCtrl.appendOrder($event)">
                        <input id="append_order_amount" class="form-control table-input" filter-name="te_number"
                               model-filter="{min: 0, number: true, max: viewIncomingTransferCtrl.getMax()}" type="text"
                               ng-model="viewIncomingTransferCtrl.data.orderForAppend.amount">
                    </td>
                    <td class="center-item-text">
                        <div ng-click="viewIncomingTransferCtrl.appendOrder()" class="btn btn-success"
                             ng-disabled="!viewIncomingTransferCtrl.data.orderForAppend.id">
                            <i class="fa fa-plus"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Заказ клиента</th>
                    <th>Исходящий платёж</th>
                    <th>Сумма</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in viewIncomingTransferCtrl.incomingTransfer.money_to_orders">
                    <td>{{ $index + 1 }}</td>
                    <td>
                        <span ng-if="item.hasOwnProperty('customer_order')">
                            {{ item.customer_order.number }}
                        </span>
                    </td>
                    <td>
                        <span ng-if="item.hasOwnProperty('outgoing_transfer')">
                            {{ item.outgoing_transfer.number }}
                        </span>
                    </td>
                    <td>{{ item.amount | currency }}</td>
                    <td>
                        <form-nav-buttons data-role="viewIncomingTransferCtrl.visual.roles" content-class="btn btn-xs"
                                          data-options="viewIncomingTransferCtrl.visual.navTableButts"
                                          data-template="table" subdata="{data:item, index:$index}" class="btn-group">
                        </form-nav-buttons>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="text-right">Итого:</td>
                    <td>{{ viewIncomingTransferCtrl.incomingTransfer.amount | currency }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <file-worker data-trigger="viewIncomingTransferCtrl.visual.showFileModal"
                 data-config="viewIncomingTransferCtrl.fileModalOptions">
    </file-worker>
</div>