<div id="content">
    <div class="row">
        <big-breadcrumbs items="$ctrl.visual.titles" class="col-xs-12 col-sm-7 col-md-7 col-lg-4" data-icon="book">
        </big-breadcrumbs>
    </div>
    <div class="well">
        <form-nav-buttons options="$ctrl.visual.navButtsOptions" class="btn-group"></form-nav-buttons>
        <div class="list-filter-switcher">
          <span>Только невыполненные</span>
          <te-switcher ng-model="$ctrl.incomplete" ng-change="$ctrl.reloadState('incomplete', 'isAccomplished')"></te-switcher>
        </div>
        <hr>
        <orders-filter data-search-query="$ctrl.data.searchQuery" data-to-state="app.incoming_emails">
        </orders-filter>
        <raw-lazy-loaded-list view="{{'app/incoming_emails/components/incoming-emails/partials/list.html'}}"
          items="$ctrl.data.incomingEmailsList" search-query="$ctrl.data.searchQuery"
          nav-options="$ctrl.visual.navTableButts" role="$ctrl.visual.role"
          fetch="$ctrl.fetch">
        </raw-lazy-loaded-list>
        <te-scroll-top></te-scroll-top>
    </div>
</div>
