<table class="table table-bordered table-margined-top" infinite-scroll="$ctrl.loadItems()">
    <thead>
    <tr>
        <th class="hidden-xs">#</th>
        <th>Email</th>
        <th>Имя</th>
        <th class="hidden-xs">Фамилия</th>
        <th>Партнер</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in $ctrl.items">
        <td class="hidden-xs">{{$index +1}}</td>
        <td>
            <a href="/#/contacts/{{row.id}}">
                {{ row.email }}
            </a>
        </td>
        <td>{{row.first_name}}</td>
        <td class="hidden-xs">{{row.last_name}}</td>
        <td>{{row.partner.name}}</td>
        <td class="center-item-text">
            <form-nav-buttons data-role="row" class="btn-group" subdata="row" data-template="table"
                              content-class="btn btn-xs" data-options="$ctrl.navOptions">
            </form-nav-buttons>
        </td>
    </tr>
    </tbody>
</table>