<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Новости']" data-icon="book" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>
    <div class="well">
        <form-nav-buttons options="visual.navButtsOptions" class="btn-group"></form-nav-buttons>
        <hr>
        <orders-filter data-search-query="data.searchQuery" data-to-state="app.news"></orders-filter>
        <table class="table table-bordered table-margined-top" infinite-scroll infinite-scroll-disabled="false"  infinite-scroll-distance="2" te-lazy-helper data-list="data.newsList"
               data-search-query="data.searchQuery" data-server-api-method="getNews">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Дата</th>
                    <th>Наименование</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in data.newsList">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ row.date | date:'dd/MM/yy HH:mm'}}</td>
                    <td>{{ row.title }}</td>
                    <td class="center-item-text">
                        <form-nav-buttons data-role="row" class="btn-group" data-options="visual.navTableButts" subdata="row" data-template="table" content-class="btn btn-xs"></form-nav-buttons>
                    </td>
                </tr>
            </tbody>
        </table>
        <te-scroll-top></te-scroll-top>
    </div>
</div>