<div id="content">
    <div class="row">
        <big-breadcrumbs items="['PDF Каталоги']" data-icon="book" class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        </big-breadcrumbs>
    </div>
    <div class="well">
        <form-nav-buttons options="$ctrl.visual.navButtsOptions" class="btn-group"></form-nav-buttons>
        <hr>
        <orders-filter data-search-query="$ctrl.data.searchQuery" data-to-state="app.pdf_catalogues"></orders-filter>
        <lazy-loaded-list view="app/pdf_catalogues/components/pdf-catalogues/partials/list.html"
                          api-method="getPdfCatalogues" items="$ctrl.data.pdfCataloguesList" role="$ctrl.visual.role"
                          nav-options="$ctrl.visual.navTableButts" search-query="$ctrl.data.searchQuery">
        </lazy-loaded-list>
        <te-scroll-top></te-scroll-top>
    </div>
</div>