<div id="content" ng-switch="$ctrl.manufacturerOrder.can_edit">
    <div class="well well-white">
        <h2 class="txt-color-blueDark semi-bold prod-review-title no-padding">
            {{$ctrl.visual.titles + $ctrl.manufacturerOrder.number}}
        </h2>
        <form-nav-buttons options="$ctrl.visual.navButtsOptions" class="btn-group margin-top-10">
        </form-nav-buttons>
        <hr />
        <div class="row margin-top-10">
            <p class="col-xs-12 col-md-3 font-bold">Номер:</p>
            <p class="col-md-9" ng-switch-when="true">
                <a editable-text="$ctrl.manufacturerOrder.number" buttons="no" onaftersave="$ctrl.saveManufacturerOrder()">
                    {{$ctrl.manufacturerOrder.number || 'Нет'}}
                </a>
            </p>
            <p ng-switch-default class="col-md-9">{{$ctrl.manufacturerOrder.number}}</p>
        </div>
        <div class="row margin-top-10">
            <p class="col-xs-12 col-md-3 font-bold">Статус:</p>
            <p class="col-md-9">{{ $ctrl.manufacturerOrder.status }}</p>
        </div>
        <div class="row margin-top-10">
            <p class="col-xs-12 col-md-3 font-bold">Дата:</p>
            <p class="col-md-9">{{ $ctrl.manufacturerOrder.date | date:'dd MMMM yy' }}</p>
        </div>
        <div class="row margin-top-10">
            <p class="col-xs-12 col-md-3 font-bold">Партнёр:</p>
            <p class="col-md-9">
                <a href="/#/partners/{{ $ctrl.manufacturerOrder.partner.id }}">
                    {{ $ctrl.manufacturerOrder.partner.name}}
                </a>
            </p>
        </div>
    </div>
    <div class="well well-white">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Товар</th>
                    <th>Количество</th>
                    <th>Итого, руб</th>
                    <th/>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="$ctrl.manufacturerOrder.can_edit">
                    <td>
                        <input class="form-control" ng-model="$ctrl.addableProduct.product.name" id="vro_prod_select"
                               placeholder="Поисковый запрос" type="text" ng-change="$ctrl.productSearch()" ng-keypress="$ctrl.addProduct($event)">
                        <div style="position: absolute; background: white; border: 1px solid; padding: 5px;"
                             ng-show="$ctrl.searchProductsList.length">
                            <p ng-repeat='item in $ctrl.searchProductsList' ng-click="$ctrl.setAddableProduct(item)">
                                {{ item.product.name }}
                            </p>
                        </div>
                    </td>
                    <td>
                        <input class="form-control table-input" ng-model="$ctrl.addableProduct.quantity" type="text"
                               model-filter="{min:0, max:$ctrl.addableProduct.stock}" filter-name="te_number" ng-keypress="$ctrl.addProduct($event)">
                    </td>
                    <td>
                        0
                    </td>
                    <td class="center-item-text">
                        <div ng-click="$ctrl.addProduct()" class="btn btn-success">
                            <i class="fa fa-plus"></i>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat='item in $ctrl.manufacturerOrder.contents'>
                    <td>
                        <a href="/#/products/{{ item.product.id }}">
                            {{ item.product.name }} {{ item.product.article !== "" ? ( "(" + item.product.article  + ")" ) : "" }}
                        </a>
                    </td>
                    <td ng-switch="$ctrl.manufacturerOrder.can_edit" ng-class="item.quantity >= 0 ? 'success' : 'danger'">
                        <p class="col-md-9" ng-switch-when="true">
                            <a editable-number="item.quantity" buttons="no" onaftersave="$ctrl.updateManufacturerOrderComponent(item)">
                                {{ item.quantity || 'Нет' }}
                            </a>
                        </p>
                        <span ng-switch-default class="col-md-9">{{ item.quantity }}</span>
                    </td>
                    <td>
                        {{ item.total | currency }}
                    </td>
                    <td>
                        <form-nav-buttons ng-if="item.can_destroy" class="btn-group" subdata="{data:item, index:$index}" data-template="table" data-options="$ctrl.visual.navTableButts" data-role="item" content-class="btn btn-xs">
                        </form-nav-buttons>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
