<ui-select ui-select-infinity="viewProductCtrl.manufacturerSelectConfig" theme="select2" ng-disabled="disabled"
           ng-model="viewProductCtrl.product.manufacturer" style="width: 50%;"
           on-select="viewProductCtrl.saveProduct()">
    <ui-select-match placeholder="Партнер не выбран">{{$select.selected.name}}</ui-select-match>
    <ui-select-choices repeat="partner in viewProductCtrl.partnersList|filter:$select.search">
        <div ng-bind-html="partner.name | highlight: $select.search"></div>
    </ui-select-choices>
</ui-select>