<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Поиск']" data-icon="search" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>
    <div class="well">
        <h1>Результаты поиска "{{data.searchText}}"</h1>
        <table class="table table-bordered table-hover" infinite-scroll infinite-scroll-disabled="false" te-lazy-helper data-list="data.searchList" data-search-query="data.searchText" data-server-api-method="getSearch" data-start-page="0">
            <thead>
                <tr>
                    <th class="hidden-xs"></th>
                    <th>Артикул</th>
                    <th>Наименование</th>
                    <th>Производитель</th>
                    <th>Цена</th>
                    <th>Остаток</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data.searchList">
                    <td class="hidden-xs"><img ng-src="{{item.image_url}}" style="max-heigth: 40px; max-width: 40px;" class="img img-responsive" img-error="http://cdn.texenergo.com/no_image.png"></img></td>
                    <td te-copy-to-buffer><a ng-href="/#/products/{{item.id || item._id}}" class="black" te-buffer-value>{{item.article}}</a></td>
                    <td te-copy-to-buffer>
                        <span class="badge alert-danger" ng-if="item.obsolete" uib-tooltip="Оборудование снято с производства">!</span>
                        <span te-buffer-value>{{item.name}}</span>
                    </td>
                    <td>{{item.manufacturer}}</td>
                    <td class="no-warp">{{item.price | currency}}</td>
                    <td>{{item.stock}}</td>
                    <td class="center-item-text">
                        <form-nav-buttons data-role="visual.role" data-options="visual.navButtsOptions" subdata="item._id || item.id" data-template="table" content-class="btn btn-xs" class="btn-group"></form-nav-buttons>
                    </td>
                </tr>
            </tbody>
        </table>
        <te-scroll-top></te-scroll-top>
    </div>
</div>