<div class="modal-header">
    <h3 class="modal-title">{{$ctrl.resolve.config.title}}</h3>
</div>
<div class="modal-body">
    <ui-select-infinity config="$ctrl.pSelectConfig" ng-model="$ctrl.resolve.product"
                        view="app/customer_orders/components/eqo-change-customer-order-product-modal/partials/ui-select-infinity.html">
    </ui-select-infinity>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="$ctrl.cancel()">{{$ctrl.resolve.config.btnCancelText}}</button>
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">{{$ctrl.resolve.config.btnOkText}}</button>
</div>