<div id="content">
    <div class="row">
        <big-breadcrumbs items="[visual.titles[0]]" data-icon="edit" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>
    <div class="well well-white">
        <h2 class="txt-color-blueDark semi-bold prod-review-title no-padding">{{visual.titles[1] + data.order.number}}</h2>
        <form-nav-buttons subdata="data.order" options="visual.navButtsOptions" data-role="visual.roles" class="btn-group margin-top-10"></form-nav-buttons>
        <hr>
        <section id="widget-grid" widget-grid>
            <div class="row">
                <article class="col-md-12">
                    <div id="edit_customer_order_1" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false">
                        <header>
                            <h2>Описание заказа</h2>
                        </header>
                        <div class="widget-body">
                            <div class="well well-clean well-white">
                                <div class="form-group">
                                    <label class="control-label input-group-addon">Название</label>
                                    <input class="form-control" ng-model="data.order.title" type="text" placeholder="Название">
                                </div>
                                <div class="form-group">
                                    <label class="control-label input-group-addon">Описание</label>
                                    <textarea class="form-control form-description" ng-model="data.order.description" type="text" placeholder="Описание"></textarea>
                                    <span class="help-block">Будет также отображаться в содержимом письма при отправке счёта.</span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Партнер</label>
                                    <ui-select  ui-select-infinity="partnerSelectConfig" ng-model="data.order.partner" theme="select2" ng-disabled="disabled" style="width: 100%;">
                                        <ui-select-match placeholder="Партнер не выбран">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="partner in data.partnersList | filter:$select.search">
                                            <div ng-bind-html="partner.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label input-group-addon">Код заказа</label>
                                    <input class="form-control" ng-model="data.order.number" disabled="disabled" type="text">
                                </div>
                                <div class="form-group">
                                    <label class="control-label input-group-addon">Дата заказа</label>
                                    <input class="form-control" disabled="disabled" ng-model="data.order.date">
                                </div>
                                <div class="form-group">
                                    <label class="control-label input-group-addon">Доставка</label>
                                    <input class="form-control" disabled="disabled" ng-model="data.order.transportation">
                                </div>
                                <button ng-if="visual.roles.can_edit" class="btn btn-info" ng-click="saveOrderInfo()">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-12">
                    <div id="edit_customer_order_2" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false">
                        <header>
                            <h2>Содержимое заказа</h2>
                        </header>
                        <div class="widget-body">
                            <ui-select id="eco_prod_select" ui-select-infinity="pSelectConfig" ng-model="data.selectedProduct" theme="select2" on-select="selectProductForAppend($item, $model)" ng-disabled="!visual.roles.can_edit" reset-search-input="false" style="width: 100%;">
                                <ui-select-match placeholder="Введите товар для добавления...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="product in data.productsList | filter:$select.search" class="search-item">
                                    <div class="search-tr">
                                        <div class="search-td col-md-1">
                                            <img ng-src="{{product.image_url}}">
                                        </div>
                                        <div class="search-td col-md-7" ng-bind-html="product.name | highlight: $select.search"></div>
                                        <div class="search-td col-md-2">{{product.stock}} ед.</div>
                                        <div class="search-td col-md-2">{{product.price | currency}}</div>
                                    </div>
                                </ui-select-choices>
                            </ui-select>
                            <table class="table table-bordered margin-top-10">
                                <thead>
                                    <tr>
                                        <th class="hidden-xs"></th>
                                        <th>Продукт</th>
                                        <th>Цена</th>
                                        <th>Кол-во</th>
                                        <th>Скидка</th>
                                        <th>Сумма</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody te-jq-ui="visual.sortOpts" data-ui-type="sortable">
                                    <tr ng-if="productForAppend.id" class="append-product-row a-row-add" ng-keypress="appendProduct($event)">
                                        <td></td>
                                        <td>{{productForAppend.name}}</td>
                                        <td>{{productForAppend | price_net | currency}}</td>
                                        <td>
                                            <input id="append_product_quantity" class="form-control table-input" ng-model="productForAppend.quantity" model-filter="{min:0}" filter-name="te_number" ng-attr-placeholder="{{'доступно ' + productForAppend.stock +' шт.'}}" type="text" ng-init="focusOnProduct()">
                                            <div class="note">
                                                <i class="fa fa-exclamation-triangle"></i><span class="font-sm">{{' доступно ' + productForAppend.stock +' шт.'}}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <span>
                                                <input class="form-control table-input" ng-model="productForAppend.discount" model-filter="{min:0, max:100}" filter-name="te_number" type="text">
                                                <div class="note">
                                                    <i class="fa fa-exclamation-triangle"></i><span class="font-sm"> от 0 до 100</span>
                                                </div>
                                            </span>
                                        </td>
                                        <td>{{productForAppend | price_net: productForAppend.quantity | currency}}</td>
                                        <td class="center-item-text">
                                            <div ng-click="appendProduct()" class="btn btn-success">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="item in data.order.customer_order_contents" class="order-items a-row-add" ng-keypress="updateProductOfOrder({data:item, index:$index}, null, $event)">
                                        <td class="hidden-xs">{{$index +1}}</td>
                                        <td>
                                            <a ng-href="/#/products/{{item.product.id}}">{{item.product.name}} </a>
                                             <i ng-if="item.query_original" class="fa fa-question-circle" ng-attr-title="{{item.query_original}}"></i>
                                        </td>
                                        <td>{{item | price_net | currency}}</td>
                                        <td>
                                            <input class="form-control table-input" ng-model="item.quantity" model-filter="{min:1}" filter-name="te_number" type="text">
                                        </td>
                                        <td>
                                            <input class="form-control table-input" ng-model="item.discount" model-filter="{min:0, max:100}" filter-name="te_number" type="text">
                                        </td>
                                        <td>
                                            {{item | price_net: item.quantity | currency}}
                                        </td>
                                        <td class="center">
                                            <form-nav-buttons data-role="visual.roles" class="btn-group" subdata="{data:item, index:$index}" data-options="visual.navTableButts" data-template="table" content-class="btn btn-xs"></form-nav-buttons>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="hidden-xs"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <span class="pull-right">Итого:</span>
                                        </td>
                                        <td>{{ data.total | currency }}</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </article>
                <!--Функциональность отложена-->
                <!--<article class="col-md-12">
                    <div id="edit_customer_order_3" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false">
                        <header>
                            <h2>Управление заказом</h2>
                        </header>
                        <div class="widget-body">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label input-group-addon">
                                        <abbr title="обязательное">*</abbr>
                                        Команда
                                    </label>
                                    <input class="form-control" ng-model="data.command">
                                </div>
                                <span class="help-block">
                                  Доступные команды:
                                  <ul>
                                      <li>
                                          <b>группировать_по товар</b>
                                      </li>
                                      <li>
                                          <b>сортировать_по {реквизит}</b>
                                          , где реквизит - поле строчки в заказе. Например, "цена" отсортирует по цена, а "остаток" - по остатку на складе.
                                      </li>
                                      <li>
                                          <b>сортировать_по {реквизит.реквизит}</b>
                                          , где второй реквизит есть свойство первого. Например, "товар.остаток" или "товар.наименование" или "товар.производитель.адрес"
                                      </li>
                                      <li>
                                          <b>удалить_где {критерий}</b>
                                          , где критерий - сравнение реквизита со значением. Например, "товар.остаток&lt;1" удалит все товары, которые не в наличии.
                                      </li>
                                      <li>
                                          <b>переместить_строку {a}_на_{b}</b>
                                          , перемещает строчку а на место b. Например, "3_на_1"
                                      </li>
                                      <li>
                                          <b>заменить_на из_наличия</b>
                                          , подбирает аналоги на основе наличия на складе и похожести моделей. Создаётся новый заказ!!!
                                      </li>
                                      <li>
                                          <b>заменить_на производитель_{наименование}</b>
                                          , где наименование - название производителя. Например, "производитель_ABB" заменить все доступные товары на аналоги производства АББ. Создаётся новый заказ!!!
                                      </li>
                                      <li>
                                          <b>посчитать {реквизит}</b>
                                          , где реквизитом может быть. Вес - вес заказа (кг). Объем - для примерного объёма всего заказа (м3). Размер_шкафа - подобрать шкаф, для установки оборудования в заказе. Сечение_провода или сечение_шины - сечение проводника(-ов) по выставленным токам.
                                      </li>
                                      <li>
                                          <b>выгрузить коды_{код партнера}</b>
                                          , где кодом партнёра является сокращенный код. Например, "коды_etm" выгрузит содержимое заказа в кодах ЭТМ и так далее на других.
                                      </li>
                                      <li>
                                          <b>выгрузить монтажную_компановку</b>
                                          Выгружает монтажную компановку в формате PDF.
                                      </li>
                                  </ul>
                                </span>
                            </div>
                        </div>
                    </div>
                </article>-->
            </div>
        </section>
    </div>
    <file-worker data-trigger="visual.showFileModal" data-config="fileModalOptions"></file-worker>
</div>