<div id="content">
    <div class="well well-white">
        <h2 class="txt-color-blueDark semi-bold prod-review-title no-padding">{{visual.titles + order.number}}</h2>
        <form-nav-buttons subdata="order" data-role="order" options="visual.navButtsOptions" class="btn-group margin-top-10"></form-nav-buttons>
        <hr>
    </div>
    <section id="widget-grid" widget-grid>
        <div class="row">
            <article class="col-md-12">
                <div id="view-customer-order-1" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false" data-widget-collapsed="true">
                    <header>
                        <h2>Общая информация</h2>
                    </header>
                    <div class="widget-body">
                        <div class="well well-clean well-white no-padding" ng-switch="visual.roles.can_edit">
                            <div class="row">
                                <div class="col-xs-12 col-md-3">
                                    <span easypiechart options="visual.chartOptions" percent="amontPercent" class="easy-pie-chart">
                                        <span class="percent ng-cloak" ng-bind="amontPercent"></span>
                                    </span>
                                    <span class="easy-pie-title">оплачен</span>
                                </div>
                                <div class="col-xs-12 col-md-3">
                                    <span easypiechart options="visual.chartOptions" percent="dispatchedPercent" class="easy-pie-chart">
                                        <span class="percent ng-cloak" ng-bind="dispatchedPercent"></span>
                                    </span>
                                    <span class="easy-pie-title">отгружен</span>
                                </div>
                            </div>
                            <div class="row margin-top-10">
                                <p class="col-xs-12 col-md-3 font-bold">
                                    Свой номер:
                                </p>
                                <div class="col-md-9" ng-switch-when="true">
                                    <a editable-text="order.title" onaftersave="saveOrderInfo()">{{ order.title || 'Нет' }}</a>
                                </div>
                                <p ng-switch-default class="col-md-9">{{order.title}}</p>
                            </div>
                            <div class="row">
                                <p class="col-xs-12 col-md-3 font-bold">
                                    Описание:
                                </p>
                                <div class="col-md-9" ng-switch-when="true">
                                    <pre class="full-editable-area"><a editable-textarea="order.description" onaftersave="saveOrderInfo()">{{ order.description || 'Нет' }}</a></pre>
                                </div>
                                <p ng-switch-default class="col-md-9">{{order.description}}</p>
                            </div>
                            <div class="row">
                                <p class="col-xs-12 col-md-3 font-bold">
                                    Дата заказа:
                                </p>
                                <p class="col-md-9">{{order.date | date:'dd MMMM yy, HH:mm'}}</p>
                            </div>
                            <div class="row">
                                <p class="col-xs-12 col-md-3 font-bold">
                                    Продавец:
                                </p>
                                <div class="col-md-9" ng-switch-when="true">
                                    <a ng-hide="order.issued_by.x_editable_show" ng-click="order.issued_by.x_editable_show=true;" class="editable-click">{{order.issued_by.name || 'Нет'}}</a>
                                    <div ng-if="order.issued_by.x_editable_show">
                                        <ui-select ui-select-infinity="partnerSelectConfig" ng-model="order.issued_by" theme="select2" ng-disabled="disabled" on-select="saveOrderInfo()" style="width: 50%;">
                                            <ui-select-match placeholder="Партнер не выбран">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="partner in partnersList | filter:$select.search">
                                                <div ng-bind-html="partner.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <button type="button" class="btn btn-default" ng-click="order.issued_by.x_editable_show=false;">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </div>
                                </div>
                                <p ng-switch-default class="col-md-9">
                                    <a ng-href="/#/partners/{{order.partner.id}}">{{order.issued_by.name}}</a>
                                </p>
                            </div>

                            <div class="row">
                                <p class="col-xs-12 col-md-3 font-bold">
                                    Покупатель:
                                </p>
                                <div class="col-md-9" ng-switch-when="true">
                                    <a ng-hide="order.partner.x_editable_show" ng-click="order.partner.x_editable_show=true;" class="editable-click">{{order.partner.name || 'Нет'}}</a>
                                    <div ng-if="order.partner.x_editable_show">
                                        <ui-select  ui-select-infinity="partnerSelectConfig" ng-model="order.partner" theme="select2" ng-disabled="disabled" on-select="saveOrderInfo()" style="width: 50%;">
                                            <ui-select-match placeholder="Партнер не выбран">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="partner in partnersList | filter:$select.search">
                                                <div ng-bind-html="partner.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <button type="button" class="btn btn-default" ng-click="order.partner.x_editable_show=false;">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                        <button ng-click="goToPartner()" type="button" class="btn btn-default">
                                            <span class="fa fa-eye"></span>
                                        </button>
                                    </div>
                                </div>
                                <p ng-switch-default class="col-md-9">
                                    <a ng-href="/#/partners/{{order.partner.id}}">{{order.partner.name}}</a>
                                </p>
                            </div>

                            <div class="row">
                                <p class="col-xs-12 col-md-3 font-bold">
                                    Статус:
                                </p>
                                <p class="col-md-9">{{order.status}}</p>
                            </div>
                            <div class="row">
                                <p class="col-xs-12 col-md-3 font-bold">
                                    Менеджер:
                                </p>
                                <p class="col-md-9">{{order.manager_name}}</p>
                            </div>
                            <div class="row">
                                <p class="col-xs-12 col-md-3 font-bold">
                                    Отгрузка:
                                </p>
                                <p class="col-md-9" ng-if="order.can_edit">
                                    <a href="#" editable-select="order.transportation_info.transportation" e-ng-options="option for option in order.transportation_info.transportation_options" onaftersave="saveOrderInfo()">
                                        {{ order.transportation_info.transportation || 'Нет'}}
                                    </a>
                                </p>
                                <p class="col-md-9" ng-if="!order.can_edit">{{order.transportation_info.transportation}}</p>
                            </div>
                            <div class="row" ng-if="order.transportation_info.transportable">
                                <p class="col-xs-12 col-md-3 font-bold">
                                    Адрес доставки:
                                </p>
                                <div class="col-md-9" ng-if="order.can_edit">
                                    <form editable-form name="deliveryAddressForm" onaftersave="saveOrderInfo()">
                                        <div>
                                            <span class="postal_index w-88-f">Индекс: </span>
                                            <span editable-text="order.transportation_info.delivery_address.postal_index"
                                                  e-uib-typeahead="state.label for state in getDaDataSuggestions($viewValue, 'data.postal_code')"
                                                  e-typeahead-on-select="fillBySuggestion($item)"
                                                  e-typeahead-template-url="typeAhead.tmpl.html"
                                                  e-name="data.postal_code">
                                                {{ order.transportation_info.delivery_address.postal_index || 'нет' }}
                                            </span>
                                        </div>
                                        <div>
                                            <span class="region w-88-f">Регион: </span>
                                            <span editable-text="order.transportation_info.delivery_address.region"
                                                  e-uib-typeahead="state.label for state in getDaDataSuggestions($viewValue, 'data.region_with_type')"
                                                  e-typeahead-on-select="fillBySuggestion($item)"
                                                  e-typeahead-template-url="typeAhead.tmpl.html"
                                                  e-name="data.region_with_type">
                                                {{ order.transportation_info.delivery_address.region || 'нет' }}
                                            </span>
                                        </div>
                                        <div>
                                            <span class="city w-88-f">Город: </span>
                                            <span editable-text="order.transportation_info.delivery_address.city"
                                                  e-uib-typeahead="state.label for state in getDaDataSuggestions($viewValue, 'data.city')"
                                                  e-typeahead-on-select="fillBySuggestion($item)"
                                                  e-typeahead-template-url="typeAhead.tmpl.html"
                                                  e-name="data.city">
                                                {{ order.transportation_info.delivery_address.city || 'нет' }}
                                            </span>
                                        </div>
                                        <div>
                                            <span class="street w-88-f">Улица: </span>
                                            <span editable-text="order.transportation_info.delivery_address.street"
                                                  e-uib-typeahead="state.label for state in getDaDataSuggestions($viewValue, 'data.street')"
                                                  e-typeahead-on-select="fillBySuggestion($item)"
                                                  e-typeahead-template-url="typeAhead.tmpl.html"
                                                  e-name="data.street">
                                                {{ order.transportation_info.delivery_address.street || 'нет' }}
                                            </span>
                                        </div>
                                        <div>
                                            <span class="house w-88-f">Дом: </span>
                                            <span editable-text="order.transportation_info.delivery_address.house" e-name="data.house">
                                                {{ order.transportation_info.delivery_address.house || 'нет' }}
                                            </span>
                                        </div>
                                        <div class="padding-top-15">
                                            <button type="button" class="btn btn-default" ng-click="deliveryAddressForm.$show()" ng-show="!deliveryAddressForm.$visible">
                                                Изменить
                                            </button>
                                            <span ng-show="deliveryAddressForm.$visible">
                                                <button type="submit" class="btn btn-primary" ng-disabled="deliveryAddressForm.$waiting">
                                                    Сохранить
                                                </button>
                                                <button type="button" class="btn btn-default" ng-disabled="deliveryAddressForm.$waiting" ng-click="deliveryAddressForm.$cancel()">
                                                    Отменить
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                                <p ng-if="!order.can_edit" class="col-md-9">{{order.transportation_info.delivery_address.postal_index || "Индекс"}} {{order.transportation_info.delivery_address.region || "Регион"}} {{order.transportation_info.delivery_address.city || "Город"}} {{order.transportation_info.delivery_address.street || "Улица"}} {{order.transportation_info.delivery_address.house || "Дом"}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="row">
            <article class="col-md-12">
                <div id="view-customer-order-2" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false">
                    <header>
                        <h2>Позиции заказа</h2>
                    </header>
                    <div class="widget-body">
                        <div class="well well-clean well-white no-padding">
                            <div>
                            <ui-select ng-if="visual.roles.can_edit" id="vco_prod_select" ui-select-infinity="pSelectConfig" ng-model="data.selectedProduct" theme="select2" on-select="selectProductForAppend($item, $model)" reset-search-input="false" style="width: 100%;">
                                <ui-select-match placeholder="Введите товар для добавления...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="product in data.productsList | filter:$select.search" class="search-item">
                                    <div class="search-tr">
                                        <div class="search-td col-md-1">
                                            <img ng-src="{{product.image_url}}">
                                        </div>
                                        <div class="search-td col-md-7" ng-bind-html="(product.name + ' ' + product.article) | highlight: $select.search"></div>
                                        <div class="search-td col-md-2">{{product.stock}} ед.</div>
                                        <div class="search-td col-md-2">{{product.price | currency}}</div>
                                    </div>
                                </ui-select-choices>
                            </ui-select>
                            <table class="table table-hover table-bordered margin-top-10">
                                <thead>
                                    <tr>
                                        <th class="hidden-xs"></th>
                                        <th>Наименование</th>
                                        <th class="hidden-xs">Артикул</th>
                                        <th class="hidden-xs text-right">Цена</th>
                                        <th class="text-right">Кол-во</th>
                                        <th class="text-right hidden-xs">Скидка</th>
                                        <th class="text-right">Итого</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody te-jq-ui="visual.sortOpts" data-ui-type="sortable">
                                    <tr ng-if="productForAppend.id" class="append-product-row a-row-add" ng-keypress="appendProduct($event)">
                                        <td></td>
                                        <td>{{productForAppend.name}}</td>
                                        <td>{{productForAppend.article}}</td>
                                        <td>{{productForAppend | price_net | currency}}</td>
                                        <td>
                                            <input id="append_product_quantity" class="form-control table-input" ng-model="productForAppend.quantity" model-filter="{min:0}" filter-name="te_number" ng-attr-placeholder="{{'доступно ' + productForAppend.stock +' шт.'}}" type="text">
                                            <div class="note">
                                                <i class="fa fa-exclamation-triangle"></i><span class="font-sm">{{' доступно ' + productForAppend.stock +' шт.'}}</span>
                                            </div>
                                        </td>
                                        <td></td>
                                        <td>{{productForAppend | price_net: productForAppend.quantity | currency}}</td>
                                        <td class="center-item-text">
                                            <div ng-click="appendProduct()" class="btn btn-success">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-repeat='item in order.customer_order_contents' class="order-items" ng-click="selectPosition($event, item)" ng-class="{selected: item.selected}">
                                        <td class="hidden-xs">{{ $index + 1 }}</td>
                                        <td te-copy-to-buffer hidden-buttons>
                                            <span ng-if="item.messages.length > 0">
                                                <span class="badge alert-danger" ng-click="productDetailsModal(item)">!</span>
                                            </span>
                                            <a ng-href="/#/products/{{ item.product.id }}" te-buffer-value>{{ item.product.name }}</a>
                                            <i class="blue-hover" ng-if="item.can_edit" ng-click="changeCustomerOrderProductModal(item)">заменить</i>
                                            <i class="blue-hover" ng-click="productDetailsModal(item)">подробно</i>
                                        </td>
                                        <td class="hidden-xs" te-copy-to-buffer>
                                            <span te-buffer-value>{{ item.product.article}}</span>
                                        </td>
                                        <td class="hidden-xs text-right">{{ item | price_net | currency}}</td>
                                        <td class="text-right">
                                            <a ng-if="order.can_edit" editable-number="item.quantity" onaftersave="saveProductChange({item: item, index: $index})" e-min="0" buttons="no">{{ item.quantity }}</a>
                                            <span ng-if="!order.can_edit">{{ item.quantity }}</span>
                                        </td>
                                        <td class="text-right">
                                            <a ng-if="order.can_edit" editable-number="item.discount" onaftersave="saveProductChange({item: item, index: $index})" e-min="0" buttons="no"  uib-tooltip="{{item.discount_description}}">{{ item.discount }}</a>
                                            <span ng-if="!order.can_edit">{{ item.discount }}</span>
                                        </td>
                                        <td class="text-right">{{ item | price_net : item.quantity | currency}}</td>
                                        <td>
                                            <form-nav-buttons ng-if="item.can_destroy" data-role="item" class="btn-group" subdata="{data:item, index:$index}" data-options="visual.navTableButts" data-template="table" content-class="btn btn-xs"></form-nav-buttons>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="hidden-xs"></td>
                                        <td></td>
                                        <td class="hidden-xs"></td>
                                        <td class="hidden-xs"></td>
                                        <td></td>
                                        <td class="text-right hidden-xs">Итого, руб:</td>
                                        <td class="text-right">{{total | currency}}</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="row">
            <article class="col-md-12">
                <div id="view-customer-order-3" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false" data-widget-collapsed="true">
                    <header>
                        <h2>Отгрузки</h2>
                    </header>
                    <div class="widget-body">
                        <div class="well well-clean well-white no-padding">
                            <div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="hidden-xs"></th>
                                        <th>Наименование</th>
                                        <th ng-hide="order.status === 'Не подтвержден'">Осталось отгрузить</th>
                                        <th class="hidden-xs" ng-hide="order.status === 'Закрыт'">Склад</th>
                                        <th class="hidden-xs" ng-hide="order.status === 'Закрыт'">Срок поставки</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in order.dispatched">
                                        <td class="hidden-xs">{{ $index + 1 }}</td>
                                        <td>
                                            <a ng-href="/#/products/{{ item.product.id}}">
                                                {{ item.product.name + ' '+ item.product.article }}
                                            </a>
                                        </td>
                                        <td ng-hide="order.status === 'Не подтвержден'" class="success" ng-class="{'warning': item.remains > 0}">
                                            {{item.remains}}
                                        </td>
                                        <td class="hidden-xs" ng-hide="order.status === 'Закрыт'">{{ item.stock }}</td>
                                        <td class="hidden-xs" ng-hide="order.status === 'Закрыт'">
                                            {{ item.delivery_terms }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="row">
            <article class="col-md-12">
                <div id="view-customer-order-4" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false" data-widget-collapsed="true">
                    <header>
                        <h2>Связаные документы</h2>
                    </header>
                    <div class="widget-body">
                        <div class="well well-clean well-white no-padding">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="hidden-xs">#</th>
                                        <th>Номер документа</th>
                                        <th class="hidden-xs">Дата документа</th>
                                        <th>По этому заказу</th>
                                        <th class="hidden-xs">Сумма документа</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in order.dispatch_orders">
                                        <td class="hidden-xs">{{ $index + 1 }}</td>
                                        <td>{{ item.number }}</td>
                                        <td class="hidden-xs">{{ item.date | date:'dd MMMM yy, HH:mm'}}</td>
                                        <td>{{ item.linked_total | currency}}</td>
                                        <td class="hidden-xs">{{ item.total | currency}}</td>
                                        <td class="center" style="max-width: 40px;">
                                            <div class="btn-group">
                                                <a class="btn btn-xs btn-info" ng-href="/#/dispatch_orders/{{item.id}}"><i class="fa fa-eye"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="order.dispatch_orders.length>1">
                                        <td colspan="3" class="text-right">Итого, руб:</td>
                                        <td>{{ total_dispatched_linked | currency}}</td>
                                        <td>{{ total_dispatched | currency}}</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="hidden-xs">#</th>
                                        <th>Вх. номер</th>
                                        <th class="hidden-xs">Вх. дата</th>
                                        <th>По этому заказу</th>
                                        <th class="hidden-xs">Сумма документа</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in order.incoming_transfers">
                                        <td class="hidden-xs">{{ $index + 1 }}</td>
                                        <td>{{ item.number }}</td>
                                        <td class="hidden-xs">{{ item.date | date:'dd MMMM yy, HH:mm' }}</td>
                                        <td>{{ item.linked_total | currency}}</td>
                                        <td class="hidden-xs">{{ item.amount | currency}}</td>
                                        <td class="center" style="max-width: 40px;">
                                            <div class="btn-group">
                                                <a class="btn btn-xs btn-info" ng-href="/#/incoming_transfers/{{ item.id }}"><i class="fa fa-eye"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="order.incoming_transfers.length>1">
                                        <td colspan="3" class="text-right">Итого, руб:</td>
                                        <td>{{ total_paid_linked | currency }}</td>
                                        <td>{{ total_paid | currency }}</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <force-layout-graph data="data.networkData" config="data.networkConfig"></force-layout-graph>
                            <section class="display-flex graph-zoom-zlider" style="float: right;">
                                <i class="fa fa-minus"></i>
                                <div id="graph_zoom_slider" te-jq-ui="sliderOptions" data-ui-type="slider" class="pwm-card-size-slider"></div>
                                <i class="fa fa-plus"></i>
                            </section>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <div class="summary-draggable-panel" ng-if="summaryData.show">
        <div class="content" te-jq-ui="summaryPanelOptions" data-ui-type="draggable">
            <b>Итого: {{summaryData.total | currency}}</b>
            <div class="col-sm-6">
                <a ng-href="" ng-click="leaveSelectedItems()">Оставить выделенные</a>
            </div>
            <div class="col-sm-6">
                <a ng-href="" ng-click="deleteSelectedItems()">Удалить выделенные</a>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="eqoChangeCustomerOrderProductModal.tmpl.html">
        <div class="modal-header">
            <h3 class="modal-title">{{config.title}}</h3>
        </div>
        <div class="modal-body">
            <ui-select ui-select-infinity="pSelectConfig" ng-model="data.selectedProduct" theme="select2" reset-search-input="false" class="full-width">
                <ui-select-match placeholder="Введите товар для добавления...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="product in data.productsList | filter:$select.search" class="search-item">
                    <div class="search-tr">
                        <div class="search-td col-md-1">
                            <img ng-src="{{product.image_url}}">
                        </div>
                        <div class="search-td col-md-7" ng-bind-html="product.name | highlight: $select.search"></div>
                        <div class="search-td col-md-2">{{product.stock}} ед.</div>
                        <div class="search-td col-md-2">{{product.price | currency}}</div>
                    </div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="button" ng-click="cancel()">{{config.btnCancelText}}</button>
            <button class="btn btn-primary" type="button" ng-click="ok()">{{config.btnOkText}}</button>
        </div>
    </script>
    <script type="text/ng-template" id="CommandCustomerOrderModalCtrl.tmpl.html">
        <div class="modal-header">
            <h3 class="modal-title">{{config.title}}</h3>
        </div>
        <div class="modal-body">
            <input type="text" ng-model="command" id="vco_typeahead" placeholder="Введите комманду" uib-typeahead="c for c in commandsLists[commandsLists.selectedList] | filter:$viewValue | limitTo:8" class="form-control">

            <h5>сортировать_по цена</h5>
            <p>Сортирует все товара в порядке возрастания цены</p>
            <h5>удалить_где итого<100</h5>
            <p>Удаляет все строки, где итого по строке меньше 100</p>
            <h5>удалить_где остаток<1</h5>
            <p>Удаляет все строки, где товара нет в наличии</p>
            <h5>сортировать_по товар.артикул</h5>
            <p>Сортирует все товары в порядке возврастания артикула</p>
            <h5>группировать_по товар</h5>
            <p>Объединяет дубли строк в одну строку</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="button" ng-click="cancel()">{{config.btnCancelText}}</button>
            <button class="btn btn-primary" type="button" ng-click="ok()">{{config.btnOkText}}</button>
        </div>
    </script>
</div>