<div id="content" ng-switch="viewProductCtrl.viewProductCtrl.product.can_edit">
    <div class="row">
        <big-breadcrumbs items="['Просмотр товара']" data-icon="edit" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>
    <div class="well product-info">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div>
                    <h2 ng-if="viewProductCtrl.product.can_edit" editable-text="viewProductCtrl.product.name" onaftersave="saveProduct()" class="txt-color-blueDark semi-bold prod-review-title display-inline">
                        {{ viewProductCtrl.product.name }}
                    </h2>
                    <h2 ng-if="!viewProductCtrl.product.can_edit" class="txt-color-blueDark semi-bold prod-review-title display-inline">
                        {{viewProductCtrl.product.name}}
                    </h2>
                    <span ng-if="viewProductCtrl.product.obsolete.flag" class="text-danger">
                        (Снят с производства
                        <span ng-if="viewProductCtrl.product.obsolete.id">
                            с заменой на
                            <a ng-href="#/products/{{viewProductCtrl.product.obsolete.id}}">{{ viewProductCtrl.product.obsolete.article }}</a>
                        </span>
                        )
                    </span>
                </div>
                <form-nav-buttons options="visual.navButtsOptions" subdata="viewProductCtrl.product.id" class="btn-group margin-top-10"></form-nav-buttons>
                <div class="col-xs-12 col-md-12">
                    <hr>
                </div>
            </div>
        </div>
        <section id="widget-grid" widget-grid>
            <div class="row">
                <article class="col-md-6">
                    <div id="show-product-1" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false" data-widget-collapsed="true">
                        <header><h2>Цена и остатки</h2></header>
                        <div>
                            <div class="jarviswidget-editbox">
                                <input class="form-control" type="text">
                            </div>
                            <div class="widget-body">
                                <div te-copy-to-buffer>
                                    <b>Артикул:</b>
                                    <span ng-if="viewProductCtrl.product.can_edit" editable-text="viewProductCtrl.product.article" onaftersave="saveProduct()" te-buffer-value>{{ viewProductCtrl.product.article || "Нет артикула" }}</span>
                                    <span ng-if="!viewProductCtrl.product.can_edit" te-buffer-value>{{ viewProductCtrl.product.article }}</span>
                                </div>
                                <div>
                                    <b>Производитель:</b>
                                    <span ng-if="viewProductCtrl.product.can_edit">
                                        <a ng-hide="viewProductCtrl.product.manufacturer.x_editable_show" class="editable-click"
                                           ng-click="viewProductCtrl.product.manufacturer.x_editable_show=true;">
                                            {{viewProductCtrl.product.manufacturer.name || 'Нет'}}
                                        </a>
                                        <div ng-if="viewProductCtrl.product.manufacturer.x_editable_show">
                                            <ui-select ui-select-infinity="viewProductCtrl.manufacturerSelectConfig" theme="select2"
                                                       ng-model="viewProductCtrl.product.manufacturer" style="width: 50%;" ng-disabled="disabled"
                                                       on-select="viewProductCtrl.saveProduct()">
                                                <ui-select-match placeholder="Партнер не выбран">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="partner in viewProductCtrl.partnersList|filter:$select.search">
                                                    <div ng-bind-html="partner.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <button type="button" ng-click="viewProductCtrl.product.manufacturer.x_editable_show=false;"
                                                    class="btn btn-default">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                            <button ng-click="viewProductCtrl.goToManufacturer()" type="button" class="btn btn-default">
                                                <span class="fa fa-eye"></span>
                                            </button>
                                        </div>
                                    </span>
                                    <span ng-if="!viewProductCtrl.product.can_edit">
                                        <a ng-href="/#/partners/{{viewProductCtrl.product.manufacturer.id }}">
                                            {{viewProductCtrl.product.manufacturer.name}}
                                        </a>
                                    </span>
                                </div>
                                <div>
                                    <b>
                                        Цена<span uib-tooltip="РЦП - Рекомендуемая Цена Продажи">*</span>:
                                    </b>
                                    {{ viewProductCtrl.product.price | currency }}
                                </div>
                                <div >
                                    <b>Остаток:</b>
                                    {{ viewProductCtrl.product.can_edit ? viewProductCtrl.product.stock : viewProductCtrl.product.stock_with_mfk }}
                                </div>
                                <div ng-if="viewProductCtrl.product.can_edit">
                                    <b>Остаток у МФК:</b>
                                    {{ (viewProductCtrl.product.stock_with_mfk - viewProductCtrl.product.stock) < 0 ? 0 : (viewProductCtrl.product.stock_with_mfk - viewProductCtrl.product.stock) }}
                                </div>
                                <div ng-if="viewProductCtrl.product.can_edit">
                                    <b>Снятие с производства:</b>
                                    <a href="" ng-click="viewProductCtrl.makeObsolete(false)" ng-if="viewProductCtrl.product.obsolete.flag">
                                        Отменить снятие с производства
                                    </a>
                                    <a href="" ng-click="viewProductCtrl.selectReplacementProduct()" ng-if="!viewProductCtrl.product.obsolete.flag">
                                        Отметить как снятый с производства
                                    </a>
                                </div>
                                <div ng-if="viewProductCtrl.product.obsolete.flag">
                                    <b>С заменой на:</b>
                                    <a ng-click="viewProductCtrl.selectReplacementProduct()">{{ viewProductCtrl.product.obsolete.name }}</a>
                                </div>
                                <div ng-show="viewProductCtrl.product.manufacturer.name === 'Schneider Electric'" class="margin-top-10">
                                    <div class="form-group string optional product_lead_time">
                                        <label class="control-label input-group-addon">Срок поставки (единиц товара)</label>
                                        <input class="form-control" ng-model="viewProductCtrl.data.quantity" model-filter="{min:0}" filter-name="te_number" placeholder="Количество товара" type="text" ng-keypress="viewProductCtrl.getLeadTime(viewProductCtrl.product.id, viewProductCtrl.data.quantity, $event)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-6">
                    <div id="show-product-2" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false" data-widget-collapsed="true">
                        <header><h2>Фото</h2></header>
                        <div>
                            <div class="widget-body">
                                <img  ng-if="!viewProductCtrl.product.can_edit" class="img-thumbnail" ng-src="{{ viewProductCtrl.product.image_url }}" img-error="http://cdn.texenergo.com/no_image.png" style="max-height: 200px; max-width: 200px;">
                                <div ng-if="viewProductCtrl.product.can_edit" class="full-width product-thumb" nv-file-drop=""  uploader="viewProductCtrl.uploader" filters="queueLimit">
                                    <div ng-show="viewProductCtrl.uploader.isHTML5" class="well my-drop-zone" nv-file-over="" uploader="viewProductCtrl.uploader">
                                        <img class="thumbnail no-padding" ng-src="{{viewProductCtrl.product.image_url}}" img-error="/assets/smart_admin/no_image.png" style="max-height: 200px; max-width: 200px;">
                                    </div>
                                    <div class="row" ng-if="viewProductCtrl.uploader.queue.length>0">
                                        <div class="col-md-12" ng-repeat="item in viewProductCtrl.uploader.queue">
                                            Новая: <span ng-bind="item.file.name"></span>
                                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="btn btn-info" ng-click="viewProductCtrl.uploader.queue[0].upload()">Заменить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-6">
                    <div id="show-product-3" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false" data-widget-collapsed="true">
                        <header><h2>Описание</h2></header>
                        <div>
                            <div ng-if="!viewProductCtrl.product.can_edit" class="widget-body">
                                <div ng-bind-html="viewProductCtrl.product.description"></div>
                            </div>
                            <div  ng-if="viewProductCtrl.product.can_edit" style="padding-bottom: 10px;">
                                <div style="display: flex; flex-direction: row; justify-content: flex-end;">
                                    <button class="btn btn-success" ng-click="viewProductCtrl.saveProduct()">Сохранить</button>
                                </div>
                                <textarea ui-tinymce="tinymceOptions" ng-model="viewProductCtrl.product.description"></textarea>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-6">
                    <div id="show-product-4" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false" data-widget-collapsed="true">
                        <header><h2>Категории</h2></header>
                        <div>
                            <div class="jarviswidget-editbox">
                                <input class="form-control" type="text">
                            </div>
                            <div class="widget-body">
                                <div class="dd">
                                    <ol class="dd-list">
                                        <li class="dd-item" ng-repeat="catalogue in viewProductCtrl.product.catalogues">
                                            <div class="dd-handle">
                                                <a href="/#/catalogues/{{ catalogue.id }}">{{ catalogue.name }}</a>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-6">
                    <div id="show-product-5" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false" data-widget-collapsed="true">
                        <header><h2>У партнёров</h2></header>
                        <div>
                            <div class="jarviswidget-editbox">
                                <input class="form-control" type="text">
                            </div>
                            <div class="widget-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Поставщик</th>
                                            <th class="hidden-xs">Код поставщика</th>
                                            <th class="hidden-xs hidden-md">Закупка</th>
                                            <th>Продажа</th>
                                            <th>Остаток</th>
                                            <th class="hidden-xs hidden-md">Срок поставки</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in viewProductCtrl.product.supplier_infos">
                                            <td>{{row.supplier_code}}</td>
                                            <td class="hidden-xs">{{row.foreign_code}}</td>
                                            <td class="hidden-xs hidden-sm hidden-md">{{row.prime_cost | currency}}</td>
                                            <td>{{row.price | currency}}</td>
                                            <td>{{row.quantity}}</td>
                                            <td class="hidden-xs hidden-sm hidden-md">{{row.lead_time}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-6">
                    <div id="show-product-6" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false" data-widget-collapsed="true">
                        <header><h2>Похожие товары</h2></header>
                        <div>
                            <div class="jarviswidget-editbox">
                                <input class="form-control" type="text">
                            </div>
                            <div class="widget-body">
                                <div class="dd">
                                    <ol class="dd-list">
                                        <li class="dd-item" ng-repeat="similar in viewProductCtrl.product.similar_products">
                                            <div class="dd-handle">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <a href="/#/products/{{ similar.id }}">{{ similar.name }}</a>
                                                    </div>
                                                    <div class="col-md-2">
                                                        {{ similar.article }}
                                                    </div>
                                                    <div class="col-md-2">
                                                        {{ similar.price }}
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-6">
                    <div id="show-product-7" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false" data-widget-collapsed="true">
                        <header><h2>Свойства</h2></header>
                        <div>
                            <div class="jarviswidget-editbox">
                                <input class="form-control" type="text">
                            </div>
                            <div class="widget-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Свойство</th>
                                            <th>Значение</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in viewProductCtrl.product.properties">
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.value }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-6">
                    <div id="show-product-8" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false" data-widget-collapsed="true">
                        <header><h2>Заказы с этим товаром</h2></header>
                        <div>
                            <div class="jarviswidget-editbox">
                                <input class="form-control" type="text">
                            </div>
                            <div class="widget-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Номер</th>
                                            <th>Статус</th>
                                            <th>Количество</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in viewProductCtrl.product.customer_orders">
                                            <td><a href="/#/customer_orders/{{ item.id }}">{{ item.number }}</a></td>
                                            <td>{{ item.status }}</td>
                                            <td>{{ item.quantity }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-6">
                    <div id="show-product-9" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false" data-widget-collapsed="true">
                        <header><h2>Движения с этим товаром</h2></header>
                        <div>
                            <div class="jarviswidget-editbox">
                                <input class="form-control" type="text">
                            </div>
                            <div class="widget-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Дата</th>
                                            <th>Номер</th>
                                            <th>Статус</th>
                                            <th>Количество</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-switch="item.type" ng-repeat="item in viewProductCtrl.product.product_orders">
                                            <td>{{ item.date | date:'dd/MM/yy HH:mm' }}</td>
                                            <td>
                                                <a ng-switch-when="DispatchOrder" href="/#/dispatch_orders/{{ item.id }}">
                                                    {{ item.number || "Б/Н" }}
                                                </a>
                                                <a ng-switch-when="ReceiveOrder" href="/#/receive_orders/{{ item.id }}">
                                                    {{ item.number || "Б/Н" }}
                                                </a>
                                                <a ng-switch-when="AssemblyOrder" href="/#/assembly_orders/{{ item.id }}">
                                                    {{ item.number || "Б/Н" }}
                                                </a>
                                            </td>
                                            <td>{{ item.status }}</td>
                                            <td ng-switch-when="DispatchOrder" class="danger">{{ item.quantity }}</td>
                                            <td ng-switch-when="ReceiveOrder" class="success">{{ item.quantity }}</td>
                                            <td ng-switch-when="AssemblyOrder" class="warning">{{ item.quantity }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
</div>
<script type="text/ng-template" id="spChangeReplacementProduct.tmpl.html">
    <div class="modal-header">
        <h3 class="modal-title">Заменить продукт</h3>
    </div>
    <div class="modal-body">
        <ui-select ui-select-infinity="pSelectConfig" ng-model="data.selectedProduct" theme="select2" reset-search-input="false" class="full-width">
            <ui-select-match placeholder="Введите товар для замены...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="product in data.productsList | filter:$select.search" class="search-item">
                <div class="search-tr">
                    <div class="search-td col-md-1">
                        <img ng-src="{{viewProductCtrl.product.image_url}}">
                    </div>
                    <div class="search-td col-md-7" ng-bind-html="viewProductCtrl.product.name | highlight: $select.search"></div>
                    <div class="search-td col-md-2">{{viewProductCtrl.product.stock}} ед.</div>
                    <div class="search-td col-md-2">{{viewProductCtrl.product.price | currency}}</div>
                </div>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" ng-click="cancel()">Отмена</button>
        <button class="btn btn-primary" type="button" ng-click="ok()">Заменить</button>
    </div>
</script>