<table class="table table-bordered table-margined-top" infinite-scroll="$ctrl.loadItems()">
    <thead>
    <tr>
        <th class="hidden-xs">#</th>
        <th>Название</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in $ctrl.items">
        <td class="hidden-xs">{{$index +1}}</td>
        <td>{{row.title}}</td>
        <td class="center-item-text">
            <form-nav-buttons data-role="row" class="btn-group" data-options="$ctrl.navOptions"
                              subdata="{data:row, index:$index}" data-template="table" content-class="btn btn-xs">
            </form-nav-buttons>
        </td>
    </tr>
    </tbody>
</table>