<div id="content">
    <div class="well well-white">
        <h2 class="txt-color-blueDark semi-bold prod-review-title no-padding">Категория {{ catalogue.name }}</h2>
        <form-nav-buttons options="visual.navButtsOptions" class="btn-group margin-top-10"></form-nav-buttons>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <img class="img-thumbnail" ng-src="{{ catalogue.image_url }}">
            </div>
            <div class="col-md-9">
            </div>
        </div>
        <div class="row margin-top-10">
            <p class="col-xs-12 col-md-3 font-bold">
                Название:
            </p>
            <p class="col-md-9">{{ catalogue.name }}</p>
        </div>
        <div class="row">
            <p class="col-xs-12 col-md-3 font-bold">
                Описание:
            </p>
            <p class="col-md-9" ng-bind-html="catalogue.description"></p>
        </div>
        <div class="row">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="hidden-xs"></th>
                        <th>Наименование</th>
                        <th class="hidden-xs">Артикул</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='item in catalogue.products'>
                        <td class="hidden-xs">{{ $index + 1 }}</td>
                        <td>
                            <a ng-href="/#/products/{{ item.id }}">{{ item.name }}</a>
                        </td>
                        <td class="hidden-xs">{{ item.article}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>