<aside id="left-panel">
    <!-- User info -->
    <login-info></login-info>
    <!-- end user info -->

    <left-menu items="[
        {title: 'Рабочий стол', icon: 'fa-home', state: 'app.dashboard'},
        {title: 'Каталог', icon: 'fa-briefcase', items: [
                {title: 'Каталоги', state: 'app.catalogues'},
                {title: 'Производители', state: 'app.manufacturers'},
                {title: 'PDF Каталоги', state: 'app.pdf_catalogues'}
            ]
        },
        {title: 'Заказы', icon: 'fa-book', items: [
                {title: 'Заказы клиентов', state: 'app.customer_orders'},
                {title: 'Заказы поставщикам', state: 'app.supplier_orders'},
                {title: 'Заказы производства', state: 'app.quotation_orders'}
            ]
        },
        {title: 'Движения', icon: 'fa-road', items: [
                {title: 'Поступления', state: 'app.receive_orders'},
                {title: 'Списания', state: 'app.dispatch_orders'},
                {title: 'Выпуска с производства', state: 'app.assembly_orders'}
            ]
        },
        {title: 'Денежные средства', icon: 'fa-rub', items: [
                {title: 'Входящие платежи', state: 'app.incoming_transfers'},
                {title: 'Исходящие платежи', state: 'app.outgoing_transfers'}
            ]
        },
        {title: 'Пользователи', icon: 'fa-desktop', items: [
                {title: 'Партнёры', state: 'app.partners'},
                {title: 'Контакты', state: 'app.contacts'},
                {title: 'Входящие письма', state: 'app.incoming_emails'}
            ]
        }
    ]">
    </left-menu>

    <minimize-menu></minimize-menu>
</aside>