<div id="content">
    <div class="row">
        <big-breadcrumbs items="$ctrl.visual.titles" class="col-xs-12 col-sm-7 col-md-7 col-lg-4" data-icon="book">
        </big-breadcrumbs>
    </div>
    <div class="well">
        <form-nav-buttons options="$ctrl.visual.navButtsOptions" class="btn-group"></form-nav-buttons>
        <hr>
        <orders-filter data-search-query="$ctrl.data.searchQuery" data-to-state="app.supplier_orders">
        </orders-filter>
        <ng-include src="'app/supplier_orders/components/supplier-orders/partials/list.html'"></ng-include>
        <te-scroll-top></te-scroll-top>
    </div>
    <div class="modal fade" id="createNewOrderModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">Создать новый заказ</h4>
                </div>
                <div class="modal-body">
                    <section class="form-group">
                        <label class="control-label" for="supplier-order-number">Номер</label>
                        <input type="text" ng-model="$ctrl.newOrderData.number" class="input-sm form-control"
                               id="supplier-order-number">
                    </section>
                    <section class="form-group">
                        <label class="control-label" for="supplier-order-title">Название</label>
                        <input type="text" ng-model="$ctrl.newOrderData.title" class="input-sm form-control"
                               id="supplier-order-title">
                    </section>
                    <section class="form-group">
                        <label class="control-label" for="supplier-order-description">Описание</label>
                        <textarea type="text" ng-model="$ctrl.newOrderData.description" class="input-sm form-control"
                                  id="supplier-order-description">
                        </textarea>
                        <div class="note">Будет также отображаться в содержимом письма при отправке счёта.</div>
                    </section>
                    <section class="form-group">
                        <label class="control-label">Партнер</label>
                        <span>
                            <ui-select-infinity config="$ctrl.partnerSelectConfig" ng-model="$ctrl.newOrderData.partner"
                                                view="app/supplier_orders/components/supplier-orders/partials/ui-select-infinity.html">
                            </ui-select-infinity>
                        </span>
                    </section>
                    <section>
                        <i class="fa-fw fa fa-warning"></i>
                        Для добавления позиций заказа сохраните его!
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                            ng-click="$ctrl.clearSupplierCreateOrder()">
                        Отмена
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="$ctrl.addNewSupplierOrder()">
                        Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>