<div id="content">
    <div class="row">
        <big-breadcrumbs items="[visual.title]" data-icon="edit" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>
    <div class="well well-white">
        <h2 class="txt-color-blueDark semi-bold prod-review-title no-padding">Делаем рассчёт</h2>
        <hr>
        <section id="widget-grid" widget-grid>
            <div class="row">
                <article class="col-md-12">
                    <div id="edit_quotation_order_1" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false">
                        <header>
                            <h2>Описание рассчёта</h2>
                        </header>
                        <div class="widget-body">
                            <div class="well well-clean well-white">
                                <div class="form-group">
                                    <label class="control-label input-group-addon">Название</label>
                                    <input class="form-control" ng-model="data.quotationOrder.title" type="text" placeholder="Название">
                                </div>
                                <button ng-if="visual.roles.can_edit" class="btn btn-info" ng-click="saveQuotationOrderInfo()">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-12">
                    <div id="edit_quotation_order_2" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false">
                        <header>
                            <h2>Элементы</h2>
                        </header>
                        <div class="widget-body">
                            <div class="well well-clean well-white">
                                <div class="row">
                                    <form name="ceForm" class="display-inline bordered-container titled col-xs-12 col-sm-12 col-md-12 float-none eqo-add-elem-form" ng-keypress="addNewElement($event, ceForm.description.$error.required)" novalidate>
                                        <span class="title">Добавить элемент</span>
                                        <div class="col-md-4">
                                            <input name="description" class="form-control item" ng-model="newElement.description" ng-class="{'inp-error': errElemAdd}" type="text" placeholder="Описание" required="">
                                        </div>
                                        <div class="col-md-3">
                                            <input name="code" class="form-control item" ng-model="newElement.schema_code" type="text" placeholder="Код">
                                        </div>
                                        <div class="col-md-4">
                                            <input name="comment" class="form-control item" ng-model="newElement.comment" type="text" placeholder="Комментарий">
                                        </div>
                                        <div class="col-md-1 text-align-center" ng-mouseover="errElemAdd=ceForm.description.$error.required" ng-mouseleave="errElemAdd=false">
                                            <button class="btn btn-success" ng-click="addNewElement($event, ceForm.description.$error.required)" ng-disabled="ceForm.description.$error.required">
                                                <i class="fa fa-plus"></i> <span class="hidden-md hidden-lg">Добавить</span>
                                            </button>
                                        </div>
                                    </form>
                                    <table class="table table-bordered margin-top-10">
                                        <thead>
                                            <tr>
                                                <th class="eqo-th-iconed"></th>
                                                <th>Описание</th>
                                                <th>Код</th>
                                                <th>Комментарий</th>
                                                <th class="eqo-th-iconed"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="element in data.quotationOrder.elements" class="order-items a-row-add" ng-hide="element.hidden">
                                                <td ng-class="{'danger': element.highlight }" ng-mouseover="highlight('products', 'element_id', element.id)" ng-mouseleave="highlight('products')" ng-click="hideTableRows(element, 'element')">
                                                    <i class="eqo-td-circle-ico" ng-class="{'active': element.hideIndependentRows}"></i>
                                                </td>
                                                <td>
                                                    <a editable-text="element.description" onaftersave="saveElementChange(element)" buttons="no">{{ element.description || 'Нет описания' }}</a>
                                                </td>
                                                <td>
                                                    <a editable-text="element.schema_code" onaftersave="saveElementChange(element)" buttons="no">{{ element.schema_code || 'Нет кода' }}</a>
                                                </td>
                                                <td>
                                                    <a editable-text="element.comment" onaftersave="saveElementChange(element)" buttons="no">{{ element.comment || 'Нет комментария' }}</a>
                                                </td>
                                                <td class="eqo-td-rm-ico" ng-click="removeElement(element, $index)">
                                                    <i class="fa fa-times-circle"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-6">
                    <div id="edit_quotation_order_3" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false">
                        <header>
                            <h2>Комплектация</h2>
                        </header>
                        <div class="widget-body">
                            <div class="well well-clean well-white">
                                <div class="row">
                                    <div class="display-inline bordered-container titled col-xs-12 col-sm-12 col-md-12 float-none">
                                        <span class="title">Добавить товар</span>
                                        <div class="col-xs-10 col-sm-10 col-md-11 item">
                                            <ui-select ui-select-infinity="pSelectConfig" ng-model="data.selectedProduct" theme="select2" reset-search-input="false" style="width: 100%;">
                                                <ui-select-match placeholder="Введите товар для добавления...">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="product in data.productsList | filter:$select.search" class="search-item">
                                                    <div class="search-tr">
                                                        <div class="search-td col-md-1">
                                                            <img ng-src="{{product.image_url}}">
                                                        </div>
                                                        <div class="search-td col-md-7" ng-bind-html="product.name | highlight: $select.search"></div>
                                                        <div class="search-td col-md-2">{{product.stock}} ед.</div>
                                                        <div class="search-td col-md-2">{{product.price | currency}}</div>
                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 col-md-1 text-align-center">
                                            <button class="btn btn-success" ng-click="addNewProduct(data.selectedProduct, true)" ng-disabled="!data.selectedProduct">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <table class="table table-bordered margin-top-10">
                                        <thead>
                                            <tr>
                                                <th class="eqo-th-iconed"></th>
                                                <th>Название</th>
                                                <th>Артикул</th>
                                                <th>Количество</th>
                                                <th>Элемент</th>
                                                <th class="eqo-th-iconed"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in data.quotationOrder.products" class="order-items a-row-add" ng-hide="item.hidden">
                                                <td ng-class="{'danger': item.highlight }" ng-mouseover="highlight('elements', 'id', item.element_id)" ng-mouseleave="highlight('elements')" ng-click="hideTableRows(item, 'product')">
                                                    <i class="eqo-td-circle-ico" ng-class="{'active': item.hideIndependentRows}"></i>
                                                </td>
                                                <td>
                                                    <a class="editable-click" ng-click="changeProductModal(item)">{{ item.product.name }}</a>
                                                </td>
                                                <td>{{ item.product.article }}</td>
                                                <td>
                                                    <a editable-number="item.quantity" onaftersave="saveProductChange(item)" e-min="0" buttons="no">{{ item.quantity || 'Значение не установлено'}}</a>
                                                </td>
                                                <td>
                                                    <a class="editable-click" ng-click="changeProductElement(item)">{{data.quotationOrder.elements | eqoItemNameById : item.element_id : "description"}}</a>
                                                </td>
                                                <td class="eqo-td-rm-ico" ng-click="removeProduct(item, $index)">
                                                    <i class="fa fa-times-circle"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-6">
                    <div id="edit_quotation_order_4" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false">
                        <header>
                            <h2>Смета</h2>
                        </header>
                        <div class="widget-body">
                            <div class="well well-clean well-white">
                                <div class="row">
                                    <table class="table table-bordered margin-top-10">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Наименование</th>
                                                <th>Количество</th>
                                                <th>Цена, р</th>
                                                <th>Итого, р</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="prod in data.quotationOrder.products">
                                                <td>{{ $index + 1}}</td>
                                                <td>{{prod.product.name}}</td>
                                                <td>{{prod.quantity}}</td>
                                                <td>{{prod.product.price}}</td>
                                                <td>{{prod.product.price * prod.quantity}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-12">
                    <div id="edit_quotation_order_5" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false">
                        <header>
                            <h2>Схема</h2>
                        </header>
                        <div class="widget-body">
                            <div class="well well-clean well-white">
                                <div class="row"></div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
    <script type="text/ng-template" id="eqoChangeProductModal.tmpl.html">
        <div class="modal-header">
            <h3 class="modal-title">{{config.title}}</h3>
        </div>
        <div class="modal-body">
            <ui-select ui-select-infinity="pSelectConfig" ng-model="data.selectedProduct" theme="select2" reset-search-input="false" class="full-width">
                <ui-select-match placeholder="Введите товар для добавления...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="product in data.productsList | filter:$select.search" class="search-item">
                    <div class="search-tr">
                        <div class="search-td col-md-1">
                            <img ng-src="{{product.image_url}}">
                        </div>
                        <div class="search-td col-md-7" ng-bind-html="product.name | highlight: $select.search"></div>
                        <div class="search-td col-md-2">{{product.stock}} ед.</div>
                        <div class="search-td col-md-2">{{product.price | currency}}</div>
                    </div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="button" ng-click="cancel()">{{config.btnCancelText}}</button>
            <button class="btn btn-primary" type="button" ng-click="ok()">{{config.btnOkText}}</button>
        </div>
    </script>
    <script type="text/ng-template" id="eqoItemSelectorModal.tmpl.html">
        <div class="modal-header">
            <h3 class="modal-title">{{data.title}}</h3>
        </div>
        <div class="modal-body scrollable-y" style="max-height: 300px;">
            <div class="list-group">
                <a ng-if="data.withEmpty" class="list-group-item" ng-click="data.select(null, data)">Не выбрано</a>
                <a ng-repeat="item in data.list" ng-class="{'active' : data.selectedId === item.id}" class="list-group-item" ng-click="data.select(item, data)">{{item | parseProp : data.prop}}</a>
            </div>
        </div>
    </script>
</div>