<div id="content">
    <div class="row">
        <big-breadcrumbs items="[visual.title]" data-icon="edit" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>
    <div class="well well-white">
        <h2 class="txt-color-blueDark semi-bold prod-review-title no-padding">Делаем рассчёт:
            <a editable-text="data.quotationOrder.title" onaftersave="saveQuotationOrderInfo()" e-min="0" buttons="no">{{ data.quotationOrder.title }}</a>
        </h2>
        <form-nav-buttons options="visual.navButtsOptions" class="btn-group"></form-nav-buttons>
        <hr>
        <section id="widget-grid" widget-grid>
            <div class="row">
                <article class="col-md-12">
                    <div id="edit_quotation_order_1" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false">
                        <header>
                            <h2>Элементы</h2>
                        </header>
                        <div class="widget-body">
                            <div class="well well-clean well-white">
                                <div class="row">
                                    <form name="ceForm" class="display-inline bordered-container titled col-xs-12 col-sm-12 col-md-12 float-none eqo-add-elem-form" ng-keypress="addNewElement($event, ceForm.description.$error.required)" novalidate>
                                        <span class="title">Добавить элемент</span>
                                        <div class="col-md-4">
                                            <input name="description" class="form-control item" ng-model="newElement.description" ng-class="{'inp-error': errElemAdd}" type="text" placeholder="Описание" required="">
                                        </div>
                                        <div class="col-md-3">
                                            <input name="code" class="form-control item" ng-model="newElement.schema_code" type="text" placeholder="Код">
                                        </div>
                                        <div class="col-md-4">
                                            <input name="comment" class="form-control item" ng-model="newElement.comment" type="text" placeholder="Комментарий">
                                        </div>
                                        <div class="col-md-1 text-align-center" ng-mouseover="errElemAdd=ceForm.description.$error.required" ng-mouseleave="errElemAdd=false">
                                            <button class="btn btn-success" ng-click="addNewElement($event, ceForm.description.$error.required)" ng-disabled="ceForm.description.$error.required">
                                                <i class="fa fa-plus"></i> <span class="hidden-md hidden-lg">Добавить</span>
                                            </button>
                                        </div>
                                    </form>
                                    <te-jq-ui options="visual.sortElementsOptions">
                                        <table class="table table-bordered margin-top-10">
                                            <thead>
                                            <tr>
                                                <th class="eqo-th-iconed"></th>
                                                <th>Описание</th>
                                                <th>Код</th>
                                                <th>Комментарий</th>
                                                <th class="eqo-th-iconed"></th>
                                            </tr>
                                            </thead>
                                            <tbody data-ui-type="sortable">
                                            <tr ng-repeat="element in data.quotationOrder.elements" class="order-items a-row-add" ng-hide="element.hidden">
                                                <td ng-class="{'danger': element.highlight }" ng-mouseover="highlight('equipment', element)" ng-mouseleave="unhighlight('equipment')" ng-click="hideTableRows(element, 'element')">
                                                    <i class="eqo-td-circle-ico" ng-class="{'active': element.hideIndependentRows}"></i>
                                                </td>
                                                <td>
                                                    <a editable-text="element.description" onaftersave="saveElementChange(element)" buttons="no">{{ element.description || 'Нет описания' }}</a>
                                                    <span ng-if="!isElementLinked(element)">
                                                        <em class="pull-right text-danger">Не связан!</em>
                                                        <i ng-click="createAndAppendProductToElement(element)" uib-tooltip="Добавить товар" tooltip-popup-delay="300" class="fa fa-plus td-nb-btn themed"></i>
                                                    </span>
                                                </td>
                                                <td>
                                                    <a editable-text="element.schema_code" onaftersave="saveElementChange(element)" buttons="no">{{ element.schema_code || 'Нет кода' }}</a>
                                                </td>
                                                <td>
                                                    <a editable-text="element.comment" onaftersave="saveElementChange(element)" buttons="no">{{ element.comment || 'Нет комментария' }}</a>
                                                </td>
                                                <td class="eqo-td-rm-ico" ng-click="removeElement(element, $index)">
                                                    <i class="fa fa-times-circle"></i>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </te-jq-ui>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                    <div id="edit_quotation_order_2" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false">
                        <header>
                            <h2>Комплектация</h2>
                        </header>
                        <div class="widget-body">
                            <div class="well well-clean well-white">
                                <div class="row">
                                    <div class="display-inline bordered-container titled col-xs-12 col-sm-12 col-md-12 float-none">
                                        <span class="title">Добавить товар</span>
                                        <div class="col-xs-10 col-sm-10 col-md-11 item">
                                            <ui-select-infinity config="pSelectConfig" ng-model="data.selectedProduct"
                                                                view="app/quotation_orders/views/partials/ui-select-infinity-products.html">
                                            </ui-select-infinity>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 col-md-1 text-align-center no-padding">
                                            <button class="btn btn-success" ng-click="addNewEquipment(data.selectedProduct, true)" ng-disabled="!data.selectedProduct">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <te-jq-ui options="visual.sortEquipmentOptions">
                                        <table class="table table-bordered margin-top-10 table-fixed">
                                            <thead>
                                            <tr>
                                                <th class="eqo-th-iconed" style="width: 32px;"></th>
                                                <th>Название</th>
                                                <th>Артикул</th>
                                                <th style="width: 95px;">Количество</th>
                                                <th>Элемент</th>
                                                <th class="eqo-th-iconed" style="width: 32px;"></th>
                                            </tr>
                                            </thead>
                                            <tbody data-ui-type="sortable">
                                            <tr ng-repeat="item in data.quotationOrder.equipment" class="order-items a-row-add" ng-hide="item.hidden">
                                                <td ng-class="{'danger': item.highlight }" ng-mouseover="highlight('elements', item)" ng-mouseleave="unhighlight('elements')" ng-click="hideTableRows(item, 'equipment')">
                                                    <i class="eqo-td-circle-ico" ng-class="{'active': item.hideIndependentRows}"></i>
                                                </td>
                                                <td>
                                                    <span ng-repeat="message in item.messages">
                                                        <span class="badge alert-{{message.level}}" uib-tooltip="{{message.text}}" ng-click="resolveMessage(item, message)">!</span>
                                                    </span>
                                                    <a class="editable-click" ng-click="changeEquipmentModal(item)">{{ item.product.name }}</a>
                                                </td>
                                                <td>{{ item.product.article }}</td>
                                                <td>
                                                    <a editable-number="item.quantity" onaftersave="saveEquipmentChange(item)" e-min="0" buttons="no">{{ item.quantity || 'Значение не установлено'}}</a>
                                                </td>
                                                <td>
                                                    <!--<a class="editable-click" ng-click="changeProductElement(item)">{{ findElementByEquipment(item).description }}</a>-->
                                                    {{ findElementByEquipment(item).description }}
                                                </td>
                                                <td class="eqo-td-rm-ico" ng-click="removeEquipment(item, $index)">
                                                    <i class="fa fa-times-circle"></i>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </te-jq-ui>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                    <div id="edit_quotation_order_3" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false">
                        <header>
                            <h2>Смета</h2>
                        </header>
                        <div class="widget-body">
                            <div class="well well-clean well-white">
                                <div class="row">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Наименование</th>
                                                <th>Количество</th>
                                                <th>Цена, р</th>
                                                <th>Итого, р</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="prod in data.quotationOrder.equipment">
                                                <td>{{ $index + 1}}</td>
                                                <td>{{prod.product.name}}</td>
                                                <td>{{prod.quantity}}</td>
                                                <td class="text-right">{{prod.product.price | number : 2}}</td>
                                                <td class="text-right">{{prod.product.price * prod.quantity | number : 2}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" class="text-right">Итого, руб:</td>
                                                <td class="text-right">{{ data.total | number : 2}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-12">
                    <div id="edit_quotation_order_4" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false">
                        <header>
                            <h2>Схема</h2>
                        </header>
                        <div class="widget-body">
                            <div class="well well-clean well-white no-padding" style="height: 400px;">
                                <button class="btn btn-default right" ng-click="refreshChart()">Обновить</button>
                                <div class="eqo-schema-control-p">
                                    <header class="panel-heading">
                                        Наличие узлов
                                    </header>
                                    <form class="smart-form">
                                        <fieldset>
                                            <section>
                                                <label class="toggle eqo-schema-elem">
                                                    <input type="checkbox" name="checkbox-toggle" ng-model="visual.showSchemeElements" ng-change="toggleAvailabilityOfNodes('red', visual.showSchemeElements)">
                                                    <i data-swchon-text="ON" data-swchoff-text="OFF"></i>
                                                    Элементы
                                                </label>
                                                <label class="toggle eqo-schema-prod">
                                                    <input type="checkbox" name="checkbox-toggle" ng-model="visual.showSchemeProducts" ng-change="toggleAvailabilityOfNodes('green', visual.showSchemeProducts)">
                                                    <i data-swchon-text="ON" data-swchoff-text="OFF"></i>
                                                    Комплекты
                                                </label>
                                            </section>
                                        </fieldset>
                                    </form>
                                </div>
                                <quotation-schema data="data.quotationOrder" instance-callback="getQuotationSchemaInstance"></quotation-schema>
                            </div>
                        </div>
                    </div>
                </article>
                 <article class="col-md-12">
                    <div id="edit_quotation_order_5" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false">
                        <header>
                            <h2>Связи</h2>
                        </header>
                        <div class="widget-body">
                            <div class="well well-clean well-white">
                                <div class="col-lg-6">
                                    <label>Фильтр: <input ng-model="searchItemOne"></label>
                                    <table class="table">
                                        <tr><th>Описание</th><th>Код/Комментарий</th></tr>
                                        <tr ng-repeat="item in data.quotationOrder.elements | filter:{description: searchItemOne}" ng-click="setNewLinkFrom(item)" ng-class="{'warning': item.id === newLinkFrom.id}">
                                            <td>{{item.description}}</td>
                                            <td>{{item.schema_code}} {{item.comment}}</td>
                                        </tr>
                                        <tr ng-repeat="item in data.quotationOrder.equipment | filter:{product: {name: searchItemOne}}" ng-click="setNewLinkFrom(item)" ng-class="{'warning': item.id === newLinkFrom.id}">
                                            <td>{{item.product.name}}</td>
                                            <td>{{item.schema_code}} {{item.comment}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-lg-6">
                                    <label>Фильтр: <input ng-model="searchItemTwo"></label>
                                    <table class="table">
                                        <tr><th>Описание</th><th>Код/Комментарий</th></tr>
                                        <tr ng-repeat="item in data.quotationOrder.elements | filter:{description: searchItemTwo}" ng-click="setNewLinkTo(item)" ng-class="{'warning': item.id === newLinkTo.id}">
                                            <td>{{item.description}}</td>
                                            <td>{{item.schema_code}} {{item.comment}}</td>
                                        </tr>
                                        <tr ng-repeat="item in data.quotationOrder.equipment | filter:{product: {name: searchItemTwo}}" ng-click="setNewLinkTo(item)" ng-class="{'warning': item.id === newLinkTo.id}">
                                            <td>{{item.product.name}}</td>
                                            <td>{{item.schema_code}} {{item.comment}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <button class="btn btn-success" type="button" ng-click="linkItems()">Связать</button>
                                <hr>
                                <div class="col-lg-12">
                                    <table class="table">
                                        <tr><th>От</th><th>К</th><th></th></tr>
                                        <tr ng-repeat="item in data.quotationOrder.links">
                                            <td>
                                                {{item.source.description || item.source.product.name}}
                                            </td>
                                            <td>
                                                {{item.target.description || item.target.product.name}}
                                            </td>
                                            <td>
                                                <button class="btn btn-danger" type="button" ng-click="removeLink(item, $index)">Удалить</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
    <script type="text/ng-template" id="eqoChangeEquipmentModal.tmpl.html">
        <div class="modal-header">
            <h3 class="modal-title">{{config.title}}</h3>
        </div>
        <div class="modal-body">
            <ui-select-infinity config="pSelectConfig" ng-model="data.selectedProduct" ng-init="initProdSelect()"
                                view="app/quotation_orders/views/partials/ui-select-infinity.html">
            </ui-select-infinity>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="button" ng-click="cancel()">{{config.btnCancelText}}</button>
            <button class="btn btn-primary" type="button" ng-click="ok()">{{config.btnOkText}}</button>
        </div>
    </script>
    <script type="text/ng-template" id="eqoItemSelectorModal.tmpl.html">
        <div class="modal-header">
            <h3 class="modal-title">{{data.title}}</h3>
        </div>
        <div class="modal-body scrollable-y" style="max-height: 300px;">
            <div class="list-group">
                <a ng-if="data.withEmpty" class="list-group-item" ng-click="data.select(null, data)">Не выбрано</a>
                <a ng-repeat="item in data.list" ng-class="{'active' : data.selectedId === item.id}" class="list-group-item" ng-click="data.select(item, data)">{{item | parseProp : data.prop}}</a>
            </div>
        </div>
    </script>
</div>