<div id="content">
    <div class="row">
        <big-breadcrumbs items="[visual.title]" data-icon="edit" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>
    <div class="well well-white">
        <h2 class="txt-color-blueDark semi-bold prod-review-title no-padding">Делаем рассчёт</h2>
        <hr>
        <section id="widget-grid" widget-grid>
            <div class="row">
                <article class="col-md-12">
                    <div id="edit_quotation_order_1" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false">
                        <header>
                            <h2>Описание рассчёта</h2>
                        </header>
                        <div class="widget-body">
                            <div class="well well-clean well-white">
                                <div class="form-group">
                                    <label class="control-label input-group-addon">Название</label>
                                    <input class="form-control" ng-model="data.quotationOrder.title" type="text" placeholder="Название">
                                </div>
                                <button ng-if="visual.roles.can_edit" class="btn btn-info" ng-click="saveQuotationOrderInfo()">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-12">
                    <div id="edit_quotation_order_2" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false">
                        <header>
                            <h2>Элементы</h2>
                        </header>
                        <div class="widget-body">
                            <div class="well well-clean well-white">
                                <div class="row">
                                    <div class="display-inline bordered-container titled col-xs-12 col-sm-12 col-md-12 float-none" ng-keypress="addNewElement($event)">
                                        <span class="title">Добавить элемент</span>
                                        <div class="col-md-4">
                                            <input class="form-control item" ng-model="newElement.description" type="text" placeholder="Описание">
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control item" ng-model="newElement.schema_code" type="text" placeholder="Код">
                                        </div>
                                        <div class="col-md-4">
                                            <input class="form-control item" ng-model="newElement.comment" type="text" placeholder="Комментарий">
                                        </div>
                                        <div class="col-md-1 text-align-center">
                                            <button class="btn btn-success" ng-click="addNewElement($event)">
                                                <i class="fa fa-plus"></i> <span class="hidden-md hidden-lg">Добавить</span>
                                            </button>
                                        </div>
                                    </div>
                                    <table class="table table-bordered margin-top-10">
                                        <thead>
                                            <tr>
                                                <th class="eqo-th-iconed"></th>
                                                <th>Описание</th>
                                                <th>Код</th>
                                                <th>Комментарий</th>
                                                <th>Товар</th>
                                                <th class="eqo-th-iconed"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="element in data.quotationOrder.elements" class="order-items a-row-add">
                                                <td ng-class="{'danger': element.highlight }" ng-mouseover="highlight('products', 'element.id', element.id)" ng-mouseleave="highlight('products')">
                                                    <i class="fa fa-circle-thin"></i>
                                                </td>
                                                <td>
                                                    <a editable-text="element.description" onaftersave="saveElementChange(element)" buttons="no">{{ element.description || 'Нет описания' }}</a>
                                                </td>
                                                <td>
                                                    <a editable-text="element.schema_code" onaftersave="saveElementChange(element)" buttons="no">{{ element.schema_code || 'Нет кода' }}</a>
                                                </td>
                                                <td>
                                                    <a editable-text="element.comment" onaftersave="saveElementChange(element)" buttons="no">{{ element.comment || 'Нет комментария' }}</a>
                                                </td>
                                                <td>
                                                    <a editable-select="element.product" onaftersave="saveElementChange(element)" e-ng-options="item.product.name for item in data.quotationOrder.products track by item.id" buttons="no">
                                                        {{ element.product.product.name || 'Не выбрано' }}
                                                    </a>
                                                </td>
                                                <td class="eqo-td-rm-ico" ng-click="removeElement(element, $index)">
                                                    <i class="fa fa-times-circle"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-12">
                    <div id="edit_quotation_order_3" jarvis-widget data-widget-color="blueDark" data-widget-deletebutton="false">
                        <header>
                            <h2>Комплектация</h2>
                        </header>
                        <div class="widget-body">
                            <div class="well well-clean well-white">
                                <div class="row">
                                    <div class="display-inline bordered-container titled col-xs-12 col-sm-12 col-md-12 float-none">
                                        <span class="title">Добавить товар</span>
                                        <div class="col-xs-10 col-sm-10 col-md-11 item">
                                            <ui-select ui-select-infinity="pSelectConfig" ng-model="data.selectedProduct" theme="select2" reset-search-input="false" style="width: 100%;">
                                                <ui-select-match placeholder="Введите товар для добавления...">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="product in data.productsList | filter:$select.search" class="search-item">
                                                    <div class="search-tr">
                                                        <div class="search-td col-md-1">
                                                            <img ng-src="{{product.image_url}}">
                                                        </div>
                                                        <div class="search-td col-md-7" ng-bind-html="product.name | highlight: $select.search"></div>
                                                        <div class="search-td col-md-2">{{product.stock}} ед.</div>
                                                        <div class="search-td col-md-2">{{product.price | currency}}</div>
                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 col-md-1 text-align-center">
                                            <button class="btn btn-success" ng-click="addNewProduct()">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <table class="table table-bordered margin-top-10">
                                        <thead>
                                            <tr>
                                                <th class="eqo-th-iconed"></th>
                                                <th>Название</th>
                                                <th>Артикул</th>
                                                <th>Количество</th>
                                                <th>Элемент</th>
                                                <th class="eqo-th-iconed"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in data.quotationOrder.products" class="order-items a-row-add">
                                                <td ng-class="{'danger': item.highlight }" ng-mouseover="highlight('elements', 'product.id', item.id)" ng-mouseleave="highlight('elements')">
                                                    <i class="fa fa-circle-thin"></i>
                                                </td>
                                                <td>
                                                    <a class="editable-click" ng-click="changeProductModal(item)">{{ item.product.name }}</a>
                                                </td>
                                                <td>{{ item.product.article }}</td>
                                                <td>
                                                    <a editable-number="item.quantity" onaftersave="saveProductChange(item)" e-min="0" buttons="no">{{ item.quantity || 'Значение не установлено'}}</a>
                                                </td>
                                                <td>
                                                    <a editable-select="item.element" onaftersave="saveProductChange(item)" e-ng-options="element.description for element in data.quotationOrder.elements track by element.id" buttons="no">
                                                        {{ item.element.description || 'Не выбрано' }}
                                                    </a>
                                                </td>
                                                <td class="eqo-td-rm-ico" ng-click="removeProduct(item, $index)">
                                                    <i class="fa fa-times-circle"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
    <script type="text/ng-template" id="eqoModal.tmpl.html">
        <div class="modal-header">
            <h3 class="modal-title">Изменить товар</h3>
        </div>
        <div class="modal-body">
            <ui-select ui-select-infinity="pSelectConfig" ng-model="data.selectedProduct" theme="select2" reset-search-input="false" class="full-width">
                <ui-select-match placeholder="Введите товар для добавления...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="product in data.productsList | filter:$select.search" class="search-item">
                    <div class="search-tr">
                        <div class="search-td col-md-1">
                            <img ng-src="{{product.image_url}}">
                        </div>
                        <div class="search-td col-md-7" ng-bind-html="product.name | highlight: $select.search"></div>
                        <div class="search-td col-md-2">{{product.stock}} ед.</div>
                        <div class="search-td col-md-2">{{product.price | currency}}</div>
                    </div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Изменить</button>
            <button class="btn btn-danger" type="button" ng-click="cancel()">Отмена</button>
        </div>
    </script>
</div>