<div id="content">
    <div class="row">
        <big-breadcrumbs items="visual.titles" data-icon="book" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>
    <div class="well">
        <form-nav-buttons options="visual.navButtsOptions" class="btn-group"></form-nav-buttons>
        <hr>
        <orders-filter data-search-query="data.searchQuery" data-to-state="app.quotation_orders"></orders-filter>
        <table class="table table-bordered table-margined-top" infinite-scroll infinite-scroll-disabled="false" te-lazy-helper data-list="data.ordersList" data-search-query="data.searchQuery" data-server-api-method="getQuotationOrders">
            <thead>
                <tr>
                    <th class="hidden-xs">#</th>
                    <th>Название</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in data.ordersList">
                    <td class="hidden-xs">{{$index +1}}</td>
                    <td>{{row.title}}</td>
                    <td class="center-item-text">
                        <form-nav-buttons data-role="row" class="btn-group" data-options="visual.navTableButts" subdata="{data:row, index:$index}" data-template="table" content-class="btn btn-xs"></form-nav-buttons>
                    </td>
                </tr>
            </tbody>
        </table>
        <te-scroll-top></te-scroll-top>
    </div>
    <div class="modal fade" id="createNewQuotationModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">Создать новый рассчёт</h4>
                </div>
                <div class="modal-body">
                    <section class="form-group">
                        <label class="control-label">Название</label>
                        <input type="text" ng-model="data.newQuotationOrderData.title" class="input-sm form-control">
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearNewQuotationOrder()">
                        Отмена
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addNewQuotationOrder()">
                        Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>