
<div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.cancel()">
        &times;
    </button>
    <h4 class="modal-title">Создать нового пользователя</h4>
</div>
<div class="modal-body">
    <section class="form-group">
      <label class="control-label" for="newContact.first_name">Имя</label>
      <div class="input-group">
        <input uib-typeahead="name as name.value for name in $ctrl.getSuggestions('fio', $viewValue, 'name')"
          typeahead-on-select="$ctrl.parseFioLine($item)"
          type="text" ng-model="$ctrl.newContact.first_name" class="input-sm form-control"
          id="newContact.first_name" />
        <div class="input-group-btn">
          <button type="button" class="btn btn-default"
            tabindex="-1"
            uib-tooltip="Поменять имя и фамилию"
            ng-click="$ctrl.switchFioFields()">
            <i class="fa fa-refresh"></i>
          </button>
        </div>
      </div>
    </section>
    <section class="form-group">
        <label class="control-label" for="newContact.last_name">Фамилия</label>
        <input uib-typeahead="surname as surname.value for surname in $ctrl.getSuggestions('fio', $viewValue, 'surname')"
          typeahead-on-select="$ctrl.parseFioLine($item)"
          type="text" ng-model="$ctrl.newContact.last_name" class="input-sm form-control"
          id="newContact.last_name" />
    </section>
    <section class="form-group">
        <label class="control-label" for="newContact.email">Email</label>
        <input uib-typeahead="email as email.value for email in $ctrl.getSuggestions('email', $viewValue)"
               type="text" ng-model="$ctrl.newContact.email" class="input-sm form-control"
               id="newContact.email" />
    </section>
    <section class="form-group">
        <label class="control-label" for="newContact.mobile">Мобильный</label>
        <input type="text" ng-model="$ctrl.newContact.mobile" class="input-sm form-control"
               id="newContact.mobile" />
    </section>
    <section class="form-group" ng-if="!$ctrl.partner">
        <label class="control-label">Партнер</label>
        <span>
            <ui-select-infinity view="app/contacts/components/contacts/partials/ui-select-infinity.html"
                                config="$ctrl.partnerSelectConfig" ng-model="$ctrl.newContact.partner">
            </ui-select-infinity>
        </span>
    </section>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$ctrl.cancel()">Отмена</button>
    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="$ctrl.createContact()">
        Сохранить
    </button>
</div>
